<div layout="column" class="relative" flex role="main" id="estadisticas">
	<!-- HEADER -->
    <div ng-include="'template/partial/header-nosearch.html'"></div>
    <!-- END HEADER -->
	<section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
        <div class="content-inner content-inner--overflow">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Mis estadísticas">
                    <md-content class="md-padding" style="padding-right:2px; padding-left:0px; overflow:hidden;">
                        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap style="margin-bottom:10px;">
                            <div flex="80">
                                <select
                                    flex
                                    chosen
                                    ng-change="changeLoadSectionHeader($event)"
                                    ng-model="filterSite"
                                    ng-options="item.nombre for item in filterSites track by item.slug"
                                    data-placeholder="Grupo RPP"
                                    no-results-text="'No hay opciones'"
                                    >
                                      <option value=""></option>
                                  </select>
                                  <select
                                    flex
                                    chosen
                                    ng-model="filterSection"
                                    ng-options="item.label for item in filterSections track by item.slug"
                                    data-placeholder="Categoría"
                                    no-results-text="'No hay opciones'"
                                    >
                                      <option value=""></option>
                                  </select>
                                  <!-- <select
                                    flex
                                    chosen
                                    ng-model="filterSection"
                                    ng-options="item.label for item in filterSections track by item.slug"
                                    data-placeholder="Categoría"
                                    no-results-text="'No hay opciones'"
                                    >
                                      <option value=""></option>
                                  </select>
                                  <select
                                    flex
                                    chosen
                                    ng-model="filterSection"
                                    ng-options="item.label for item in filterSections track by item.slug"
                                    data-placeholder="Categoría"
                                    no-results-text="'No hay opciones'"
                                    >
                                      <option value=""></option>
                                  </select> -->
                            </div>
                            <div flex="20" class="botonera">
                              <!-- <md-button class="md-raised">Cada Hora</md-button> -->
                              <md-button class="md-raised md-primary">Día</md-button>
                              <md-button class="md-raised">Semana</md-button>
                              <md-button class="md-raised">Mes</md-button>
                          </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="bottom center" layout-wrap>
                            <div flex>
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                          <h2 class="md-flex">{{lista[0].titulo}}</h2>
                                        </div>
                                      </md-toolbar>
                                      <md-content>
                                        <md-list>
                                          <md-list-item class="md-3-line" ng-repeat="item in lista[0].items track by $index">
                                            <div class="md-list-item-text">
                                              {{item.titulo}}
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="{{item.cantidad}}"></span>
                                            </div>
                                            <div class="inset" style="padding:16px;">
                                              <ng-md-icon icon="{{item.expand_icon}}" ng-if="item.sub_items" ng-click="clicExpandir($index, item.sub_items)"></ng-md-icon>
                                            </div>
                                            <md-divider ng-if="!$last"></md-divider>
                                          </md-list-item>
                                        </md-list>
                                      </md-content>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                          <h2 class="md-flex">Tipos de nota</h2>
                                        </div>
                                      </md-toolbar>
                                      <md-content>
                                        <md-list>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Galería
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Nota
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Video
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                        </md-list>
                                      </md-content>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                          <h2 class="md-flex">Secciones</h2>
                                        </div>
                                      </md-toolbar>
                                      <md-content>
                                        <md-list>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Vida
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Deportes
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Política
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Farándula
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                        </md-list>
                                      </md-content>
                                </md-card>
                            </div>
                        </section>
                        <section layout="row" layout-sm="column" layout-align="bottom center" layout-wrap>
                            <div flex>
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                          <h2 class="md-flex">Tags</h2>
                                        </div>
                                      </md-toolbar>
                                      <md-content>
                                        <md-list>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Perú
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Eliminatorias
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Gokú
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Mayimbu
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                            <md-divider md-inset></md-divider>
                                          </md-list-item>
                                        </md-list>
                                      </md-content>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                          <h2 class="md-flex">Elementos</h2>
                                        </div>
                                      </md-toolbar>
                                      <md-content>
                                        <md-list>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Fotos
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Embeds
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              Videos
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                            <md-divider md-inset></md-divider>
                                          </md-list-item>
                                        </md-list>
                                      </md-content>
                                </md-card>
                            </div>
                            <div flex>
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                          <h2 class="md-flex">Redes sociales</h2>
                                        </div>
                                      </md-toolbar>
                                      <md-content>
                                        <md-list>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                                # Likes
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                          <md-divider></md-divider>
                                          <md-list-item class="md-3-line">
                                            <div class="md-list-item-text">
                                              # Tweets
                                            </div>
                                            <div class="md-list-item-text">
                                                <span class="number" number-animate end-animate="20"></span>
                                            </div>
                                          </md-list-item>
                                        </md-list>
                                      </md-content>
                                </md-card>
                            </div>
                        </section>
                    </md-content>
                </md-tab>
                <md-tab label="Visión general">
                    Aca las estadisticas generales
                </md-tab>
            </md-tabs>
            <!-- <div class="row">
                <div class="span9">
                    <div class="row">
                        <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
                    </div>
                    <div class="row-fluid">
                        <label for="prettyJSON"><input id="prettyJSON" type="checkbox" ng-model="prettyJSON"> Pretty JSON</label>
                    </div>
                    <div class="row-fluid">
                        <pre ng-show="prettyJSON">
                            {{ chartConfig | json }}
                        </pre>
                        <pre ng-show="!prettyJSON">
                            {{ chartConfig }}
                        </pre>
                    </div>
                </div>
                <div class="span4">
                    <div class="row-fluid">Title <input ng-model="chartConfig.title.text"></div>
                    <div class="row-fluid">Subtitle <input ng-model="chartConfig.subtitle.text"></div>
                    <div class="row-fluid">Width <input ng-model="chartConfig.size.width"></div>
                    <div class="row-fluid">Height <input ng-model="chartConfig.size.height"></div>
                    <div class="row-fluid"><button ng-click="reflow()">reflow</button></div>
                    <div class="row-fluid">Default Type <select ng-model="chartConfig.options.chart.type" ng-options="t.id as t.title for t in chartTypes"></select></div>
                    <div class="row-fluid">Stack <select ng-model="chartConfig.options.plotOptions.series.stacking" ng-options="t.id as t.title for t in chartStack"></select></div>
                    <div class="row-fluid"><label><input type="checkbox" ng-model="chartConfig.loading"> is loading</label></div>
                    <div class="row-fluid"><label><input type="checkbox" ng-model="chartConfig.credits.enabled"> credits</label></div>
                    <h4>Series</h4>
                    <div class="row-fluid" ng-repeat="ser in chartSeries">
                        <div class="span12 well">
                            <div class="row-fluid">Title <input ng-model="ser.name"></div>
                            <div class="row-fluid">Type <select ng-model="ser.type" ng-options="t.id as t.title for t in chartTypes"></select></div>
                            <div class="row-fluid">Color <input ng-model="ser.color"></div>
                            <div class="row-fluid">Width <input ng-model="ser.lineWidth"></div>
                            <div class="row-fluid">Dash Style <select ng-model="ser.dashStyle" ng-options="ds.id as ds.title for ds in dashStyles"></select></div>
                            <div class="row-fluid"><label><input type="checkbox" ng-model="ser.connectNulls"> interpolate</label></div>
                            <div class="row-fluid"><button ng-click="removeSeries($index)">Delete</button></div>
                        </div>
                    </div>
                    <div class="row-fluid"><button ng-click="addSeries()">Add Series</button></div>
                    <div class="row-fluid"><button ng-click="addPoints()">Add Points to Random Series</button></div>
                    <div class="row-fluid"><button ng-click="removeRandomSeries()">Remove Random Series</button></div>
                    <div class="row-fluid"><button ng-click="toggleHighCharts()">HighChart/HighStock</button></div>
                    <div class="row-fluid"><button ng-click="replaceAllSeries()">Replace all series</button></div>
                    <div class="row-fluid">Min: <input type="number" ng-model="chartConfig.xAxis.currentMin"></div>
                    <div class="row-fluid">Max: <input type="number" ng-model="chartConfig.xAxis.currentMax"></div>
                </div>
            </div> -->
        </div>
    </section>
</div>