<div layout="column" class="relative" flex role="main" id="streaming">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip">
        <div class="enlaces-popover">
        <ul>
        <li>
        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary">
        <ng-md-icon icon="account_circle"></ng-md-icon>
        Configurar
        </md-button>
        </li>
        <!--li>
        <md-button ng-click="openPerfil($event, 'contrasena');" class="md-primary">
        <ng-md-icon icon="lock"></ng-md-icon>
        Contraseña
        </md-button>
        </li-->
        </ul>
        </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip">
        <div class="enlaces-popover enlaces-apps">
        <ul>
        <li>
        <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Oido Social">
        <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
        </md-button>
        <h5>Oido social</h5>
        <md-tooltip>Odido Social</md-tooltip>
        </li>
        <li>
        <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Publicador">
        <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
        </md-button>
        <h5>Publicador</h5>
        <md-tooltip>Publicador</md-tooltip>
        </li>
        <li>
        <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Ticker">
        <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
        </md-button>
        <h5>Ticker</h5>
        <md-tooltip>Ticker</md-tooltip>
        </li>
        <li>
        <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Streaming">
        <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
        </md-button>
        <h5>Streaming</h5>
        <md-tooltip>Streaming</md-tooltip>
        </li>
        <li>
        <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
        <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
        </md-button>
        <h5>Eventos</h5>
        <md-tooltip>Eventos</md-tooltip>
        </li>
        <li>
            <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
            </md-button>
            <h5>Podcast</h5>
            <md-tooltip>Podcast</md-tooltip>
        </li>
        <li>
                        <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                            <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Elecciones</h5>
                        <md-tooltip>Elecciones</md-tooltip>
                    </li>
                    <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                        <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                            <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Redes sociales</h5>
                        <md-tooltip>Configurar Redes Sociales</md-tooltip>
                    </li>
        </ul>
        </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
        </div>
    </md-toolbar>

    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
            <!-- BREADCRUMB -->
            <md-toolbar class="md-toolbar-subhead">
                <div layout="row" layout-align="center center" class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1"></div>
            </md-toolbar>
            <!-- /BREADCRUMB -->

            <!-- LEFT -->
            <!-- CONTENT -->
            <section layout="vertical" layout-fill flex="" class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
              <div flex="">
                <div layout="column" layout-fill="" layout-align="top center">
                  <div class="md-padding streaming-content">
                    <h2>TV <ng-md-icon icon="tv" style="fill: black" size="20"></ng-md-icon></h2>
                    <ul class="flex-container longhand">
                      <li ng-repeat="(key, r) in channels.tv" class="flex-item">
                        <md-tabs md-border-bottom md-autoselect>
                          <md-tab ng-repeat="tab in r.signals" label="{{ $index == 0? 'PLAYER': 'MEDIA '+ $index}}">
                            <div class="demo-tab" style="padding: 5px; text-align: center;">
                              <div>
                                  <div class="left">
                                      <div class="descripcion">{{ tab.sitio | uppercase }}</div>
                                  </div>
                                  <div style="clear: both;"></div>
                              </div>
                              <jwplayer2 ng-if="$index == 0" player-id="{{tab.sitio}}_{{r.tipo}}_{{$index}}" player-pid="{{tab.pid}}" player-est="{{tab.status}}" setup="tab" only-player="true"></jwplayer2>
                              <div ng-if="$index != 0" style="width: 100%; height: auto;">
                                <img style="max-width: 100%;" ng-src="{{tab.image}}" err-src="img/img-fallback.png" alt="foto"/>
                              </div>
                            </div>
                          </md-tab>
                        </md-tabs>
                      </li>
                    </ul>

                    <md-divider ></md-divider>

                    <h2>CABINA <ng-md-icon icon="web" style="fill: black" size="20"></ng-md-icon></h2>
                    <ul class="flex-container longhand">
                      <li ng-repeat="(key, r) in channels.cabina" class="flex-item">
                        <md-tabs md-border-bottom md-autoselect>
                          <md-tab ng-repeat="tab in r.signals" label="{{ $index == 0? 'PLAYER': 'MEDIA '+ $index}}">
                            <div class="demo-tab" style="padding: 5px; text-align: center;">
                              <div>
                                  <div class="left">
                                      <div class="descripcion">{{ tab.sitio | uppercase }}</div>
                                  </div>
                                  <div style="clear: both;"></div>
                              </div>
                              <jwplayer2 ng-if="$index == 0" player-id="{{tab.sitio}}_{{r.tipo}}_{{$index}}" player-pid="{{tab.pid}}" player-est="{{tab.status}}" setup="tab" only-player="true"></jwplayer2>
                              <div ng-if="$index != 0" style="width: 100%; height: auto;">
                                <img style="max-width: 100%;" ng-src="{{tab.image}}" err-src="img/img-fallback.png" alt="foto"/>
                              </div>
                            </div>
                          </md-tab>
                        </md-tabs>
                      </li>
                    </ul>

                    <md-divider ></md-divider>

                    <h2>RADIOS <ng-md-icon icon="radio" style="fill: black" size="20"></ng-md-icon></h2>
                    <ul class="flex-container longhand">
                      <li ng-repeat="(key, r) in channels.radio" class="flex-item">
                        <md-tabs md-border-bottom md-autoselect>
                          <md-tab ng-repeat="tab in r.signals" label="{{ $index == 0? 'PLAYER': 'MEDIA '+ $index}}">
                            <div class="demo-tab" style="padding: 5px; text-align: center;">
                              <div>
                                  <div class="left">
                                      <div class="descripcion">{{ tab.sitio | uppercase }}</div>
                                  </div>
                                  <div style="clear: both;"></div>
                              </div>
                              <jwplayer2 ng-if="$index == 0" player-id="{{tab.sitio}}_{{r.tipo}}_{{$index}}" player-pid="{{tab.pid}}" player-est="{{tab.status}}" setup="tab" only-player="true"></jwplayer2>
                              <div ng-if="$index != 0" style="width: 100%; height: auto;">
                                <img style="max-width: 100%;" ng-src="{{tab.image}}" err-src="img/img-fallback.png" alt="foto"/>
                              </div>
                            </div>
                          </md-tab>
                        </md-tabs>
                      </li>
                    </ul>

                    <h2>LIVESTREAM <ng-md-icon icon="radio" style="fill: black" size="20"></ng-md-icon></h2>
                    <ul class="flex-container longhand">
                      <li ng-repeat="(key, r) in channels.livestream" class="flex-item">
                        <md-tabs md-border-bottom md-autoselect>
                          <md-tab ng-repeat="tab in r.signals" label="{{ $index == 0? 'PLAYER': 'MEDIA '+ $index}}">
                            <div class="demo-tab" style="padding: 5px; text-align: center;">
                              <div>
                                  <div class="left">
                                      <div class="descripcion">{{ tab.sitio | uppercase }}</div>
                                  </div>
                                  <div style="clear: both;"></div>
                              </div>
                              <jwplayer2 ng-if="$index == 0" player-id="{{tab.sitio}}_{{r.tipo}}_{{$index}}" player-pid="{{tab.pid}}" player-est="{{tab.status}}" setup="tab" only-player="true"></jwplayer2>
                              <div ng-if="$index != 0" style="width: 100%; height: auto;">
                                <img style="max-width: 100%;" ng-src="{{tab.image}}" err-src="img/img-fallback.png" alt="foto"/>
                              </div>
                            </div>
                          </md-tab>
                        </md-tabs>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </section>
            <!-- RIGHT -->
            </aside-->
            <!-- END SIDEBARS -->
        </div>
    </div>
    <!-- FOOTER -->
    <!--md-bottom-sheet>
    </md-bottom-sheet-->
</div>
