<!-- MODULO 1X4 -->
<div layout="row" layout-padding style="margin-bottom:1em; height:80px">
    <div flex>
        <div class="block-util block-util-n" style="height:80px">
            <div class="wrap-autocomplete" style="padding-top:10px">
                <div class="separador-select">
                    <span class="label">Campaña:</span>
                    <div class="select-contador horizontal">
                      <select
                          chosen
                          ng-model="portada.campana_cabecera"
                          no-results-text="'No hay opciones'"
                          ng-options="item.nombre disable when item.slug == portada.campana_cuerpo.slug && item.slug != '' for item in lista['campana_cabecera'] track by item.slug"
                          style="width:300px;">
                          <option value=""></option>
                      </select>
                      <input type="number" ng-model="cantidad.campana_cabecera" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                      <md-button ng-click="abrirLista($event, 'campana_cabecera')" class="md-icon-button configuracion">
                        <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                        <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                      </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div layout="column" layout-padding style="margin-bottom:1em;">
  <div ng-class="portada.cabecera.slug!=''?(envivo.cabecera.estado?'minuto-minuto':'destacadas'):''" class="block-util block-util-min">
    <div class="wrap-autocomplete" style="padding-top:20px; padding-bottom:20px; position: relative;">
      <div class="separador-select">
          <span class="label">Cabecera:</span>
          <div class="select-contador horizontal">
            <select
                chosen
                ng-model="portada.cabecera"
                ng-change="cambiarModulo('cabecera')"
                no-results-text="'No hay opciones'"
                ng-options="item.nombre for item in lista['cabecera'] track by item.slug"
                style="width:300px;">
                <option value=""></option>
            </select>
            <input type="number" ng-model="cantidad.cabecera" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
            <md-button ng-click="abrirLista($event, 'cabecera')" class="md-icon-button configuracion">
              <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
              <md-tooltip md-direction="right">Configurar lista</md-tooltip>
            </md-button>
          </div>
          <div style="position: absolute; left: 3%; top: 40%;" ng-if="portada.cabecera.slug!=''">
            <md-checkbox md-no-ink aria-label="En vivo" ng-model="envivo.cabecera.estado" class="md-primary">
              En vivo
            </md-checkbox>
          </div>
          <div style="position: absolute; left: 14%; top: 40%;" ng-if="portada.cabecera.slug!=''&&portada.cabecera.slug=='elecciones-peru-2016'">
            <md-checkbox md-no-ink aria-label="Activar encuesta" ng-model="encuesta.cabecera" class="md-primary">
              Activar encuesta
            </md-checkbox>
          </div>
          <div style="position: absolute; right: 3%; top: 40%;" ng-if="portada.cabecera.slug!=''">
            <md-checkbox md-no-ink aria-label="Incluir publicidad" ng-model="publicidad.cabecera" class="md-primary">
              Incluir publicidad
            </md-checkbox>
          </div>
      </div>
    </div>
    <div ng-if="envivo.cabecera.estado" ng-include="'template/portadas/rpp/cronologicos/cabecera-envivo.html'"></div>
    <div ng-if="portada.cabecera.slug!=''&&portada.cabecera.slug!='streaming-elecciones-2016'" ng-include="'template/portadas/rpp/cronologicos/cabecera.html'"></div>
  </div>
</div>

<div layout="row" layout-padding>
    <div flex class="area-draggable">
        <!-- IZQUIERDA -->
        <!-- 1x1 FULL-->
        <div class="block-wrap-news block-full-1x1">
            <div ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(0, $data, $event, 'portada')">
                <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.portada[0]" ng-drag-success="onDragSuccessOrder(0, destacadas.portada[0], $event)" class="block-news" ng-class="{'placeholder': !destacadas.portada[0]}">
                    <button ng-drag-handle type="button" class="btn-drag-handle">
                        <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                    </button>
                    <div>
                        <div>
                            <h1 ng-click="inputEdit($event, 0)" class="block-titulo-big">
                                <div class="ng-hide input-edit-outer">
                                    <md-input-container flex>
                                        <textarea aria-label="input" ng-model="destacadas.portada[0].titulo" columns="3"></textarea>
                                    </md-input-container>
                                </div>
                                <div class="input-edit-inner">
                                    {{destacadas.portada[0].titulo}}
                                </div>
                            </h1>
                            <div class="block-desarrollo" ng-click="inputEdit($event, 0)">
                                <div class="ng-hide input-edit-outer">
                                    <md-input-container flex>
                                        <textarea aria-label="input" ng-model="destacadas.portada[0].bajada" columns="3"></textarea>
                                    </md-input-container>
                                </div>
                                <div class="input-edit-inner">
                                    {{destacadas.portada[0].bajada}}
                                </div>
                                <div>
                                  <div class="portada-fecha">
                                    {{ destacadas.portada[0].post_date }}
                                  </div>
                                  <div class="portada-cantidad-visitas">
                                    <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                                     {{ destacadas.portada[0].visitas_total }}
                                  </div>
                                  <div style="clear: both;"></div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="img-wrap preload">
                                <img err-src="" class="img-responsive" ng-src="{{destacadas.portada[0].imagen_portada.url}}" alt="Imagen de noticia" />

                                <button type="button" ng-click="removeNotice($event, 'delete', 0, destacadas.portada[0], 'portada');" class="btn-remove-notice btn-in-list" aria-label="Limpiar">
                                    <ng-md-icon icon="not_interested" size="24"></ng-md-icon>
                                    <md-tooltip>Limpiar</md-tooltip>
                                </button>
                                <button type="button" ng-click="openAddPhoto($event, 'edit', 0, destacadas.portada[0], 'portada');" class="btn-change-img btn-in-list" aria-label="Cambiar imagen">
                                    <ng-md-icon icon="add" size="24"></ng-md-icon>
                                    <md-tooltip>Cambiar imagen</md-tooltip>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 1x3 FULL -->
        <div layout="row" class="block-wrap-news block-full-1x3">
            <div flex="25" class="padding-div-right" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(1, $data, $event, 'portada')">
                <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.portada[1]" class="block-news block-minheight-full" ng-class="{'placeholder': !destacadas.portada[1]}">
                    <button ng-drag-handle type="button" class="btn-drag-handle">
                        <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                    </button>
                    <div layout="row">
                        <div flex>
                            <div class="img-wrap preload">
                                <img err-src="" class="img-responsive" ng-src="{{destacadas.portada[1].imagen_portada.url}}" alt="Imagen de noticia" />
                                <button type="button" ng-click="removeNotice($event, 'delete', 1, destacadas.portada[1], 'portada');" class="btn-remove-notice btn-in-list" aria-label="Limpiar">
                                    <ng-md-icon icon="not_interested" size="24"></ng-md-icon>
                                    <md-tooltip>Limpiar</md-tooltip>
                                </button>
                                <button type="button" ng-click="openAddPhoto($event, 'edit', 1, destacadas.portada[1], 'portada');" class="btn-change-img btn-in-list" aria-label="Cambiar imagen">
                                    <ng-md-icon icon="add" size="24"></ng-md-icon>
                                    <md-tooltip>Cambiar imagen</md-tooltip>
                                </button>
                            </div>
                            <div class="block-temas">{{destacadas.portada[1].categoria.nombre}}</div>
                            <h2 class="block-titulo-big" ng-click="inputEdit($event, 1)">
                                <div class="ng-hide input-edit-outer">
                                    <md-input-container flex>
                                        <textarea aria-label="input" ng-model="destacadas.portada[1].titulo" columns="3"></textarea>
                                    </md-input-container>
                                </div>
                                <div class="input-edit-inner">
                                    {{destacadas.portada[1].titulo}}
                                </div>
                                <div>
                                  <div class="portada-fecha">
                                    {{ destacadas.portada[1].post_date }}
                                  </div>
                                  <div class="portada-cantidad-visitas">
                                    <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                                     {{ destacadas.portada[1].visitas_total }}
                                  </div>
                                  <div style="clear: both;"></div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="25" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(2, $data, $event, 'portada')">
                <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.portada[2]" class="block-news block-minheight-full" ng-class="{'placeholder': !destacadas.portada[2]}">
                    <button ng-drag-handle type="button" class="btn-drag-handle">
                        <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                    </button>
                    <div layout="row">
                        <div flex>
                            <div class="img-wrap preload">
                                <img err-src="" class="img-responsive" ng-src="{{destacadas.portada[2].imagen_portada.url}}" alt="Imagen de noticia" />
                                <button type="button" ng-click="removeNotice($event, 'delete', 2, destacadas.portada[2], 'portada');" class="btn-remove-notice btn-in-list" aria-label="Limpiar">
                                    <ng-md-icon icon="not_interested" size="24"></ng-md-icon>
                                    <md-tooltip>Limpiar</md-tooltip>
                                </button>
                                <button type="button" ng-click="openAddPhoto($event, 'edit', 2, destacadas.portada[2], 'portada');" class="btn-change-img btn-in-list" aria-label="Cambiar imagen">
                                    <ng-md-icon icon="add" size="24"></ng-md-icon>
                                    <md-tooltip>Cambiar imagen</md-tooltip>
                                </button>
                            </div>
                            <div class="block-temas">{{destacadas.portada[2].categoria.nombre}}</div>
                            <h2 class="block-titulo-big" ng-click="inputEdit($event, 2)">
                                <div class="ng-hide input-edit-outer">
                                    <md-input-container flex>
                                        <textarea aria-label="input" ng-model="destacadas.portada[2].titulo" columns="3"></textarea>
                                    </md-input-container>
                                </div>
                                <div class="input-edit-inner">
                                    {{destacadas.portada[2].titulo}}
                                </div>
                                <div>
                                  <div class="portada-fecha">
                                    {{ destacadas.portada[2].post_date }}
                                  </div>
                                  <div class="portada-cantidad-visitas">
                                    <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                                     {{ destacadas.portada[2].visitas_total }}
                                  </div>
                                  <div style="clear: both;"></div>
                                </div>
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="25" class="padding-div-left">
                <div class="block-inblock" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(3, $data, $event, 'portada')">
                    <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.portada[3]" class="block-news block-minheight" ng-class="{'placeholder': !destacadas.portada[3]}">
                        <button ng-drag-handle type="button" class="btn-drag-handle">
                            <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                        </button>
                        <div layout="row">
                            <div flex>
                                <div class="block-temas">{{destacadas.portada[3].categoria.nombre}}</div>
                                <button type="button" ng-click="removeNotice($event, 'delete', 3, destacadas.portada[3], 'portada');" class="btn-remove-notice btn-in-list" aria-label="Limpiar">
                                    <ng-md-icon icon="not_interested" size="24"></ng-md-icon>
                                    <md-tooltip>Limpiar</md-tooltip>
                                </button>
                                <h2 class="block-titulo-big" ng-click="inputEdit($event, 3)">
                                    <div class="ng-hide input-edit-outer">
                                        <md-input-container flex>
                                            <textarea aria-label="input" ng-model="destacadas.portada[3].titulo" columns="3"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div class="input-edit-inner">
                                        {{destacadas.portada[3].titulo}}
                                    </div>
                                    <div>
                                      <div class="portada-fecha">
                                        {{ destacadas.portada[3].post_date }}
                                      </div>
                                      <div class="portada-cantidad-visitas">
                                        <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                                         {{ destacadas.portada[3].visitas_total }}
                                      </div>
                                      <div style="clear: both;"></div>
                                    </div>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-minheight" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(4, $data, $event, 'portada')">
                    <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.portada[4]" class="block-news block-minheight" ng-class="{'placeholder': !destacadas.portada[4]}">
                        <button ng-drag-handle type="button" class="btn-drag-handle">
                            <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                        </button>
                        <div layout="row">
                            <div flex>
                                <div class="block-temas">{{destacadas.portada[4].categoria.nombre}}</div>
                                <button type="button" ng-click="removeNotice($event, 'delete', 4, destacadas.portada[4], 'portada');" class="btn-remove-notice btn-in-list" aria-label="Limpiar">
                                    <ng-md-icon icon="not_interested" size="24"></ng-md-icon>
                                    <md-tooltip>Limpiar</md-tooltip>
                                </button>
                                <h2 class="block-titulo-big" ng-click="inputEdit($event, 4)">
                                    <div class="ng-hide input-edit-outer">
                                        <md-input-container flex>
                                            <textarea aria-label="input" ng-model="destacadas.portada[4].titulo" columns="3"></textarea>
                                        </md-input-container>
                                    </div>
                                    <div class="input-edit-inner">
                                        {{destacadas.portada[4].titulo}}
                                    </div>
                                    <div>
                                      <div class="portada-fecha">
                                        {{ destacadas.portada[4].post_date }}
                                      </div>
                                      <div class="portada-cantidad-visitas">
                                        <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                                         {{ destacadas.portada[4].visitas_total }}
                                      </div>
                                      <div style="clear: both;"></div>
                                    </div>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div flex="25" class="padding-div-left">
                <div class="block-ads block-ads-300x250"></div>
            </div>

        </div>
        <!-- End -->
    </div>
</div>

<div layout="row" layout-padding ng-class="portada.campana_cuerpo.slug=='podcast'?'podcast-container':'default-container'" style="margin-bottom:2em;">
    <div flex>
        <div ng-class="portada.campana_cuerpo.slug=='podcast'?'podcast-container':'default-container'" class="block-util block-util-n">
            <div class="wrap-autocomplete" style="padding-top:10px; padding-bottom:5px;">
                <div class="separador-select">
                    <span class="label">Campaña:</span>
                    <div class="select-contador horizontal">
                      <select
                          chosen
                          ng-model="portada.campana_cuerpo"
                          no-results-text="'No hay opciones'"
                          ng-options="item.nombre disable when item.slug == portada.campana_cabecera.slug && item.slug != '' for item in lista['campana_cuerpo'] track by item.slug"
                          style="width:300px;">
                          <option value=""></option>
                      </select>
                      <input type="number" ng-model="cantidad.campana_cuerpo" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                      <md-button ng-click="abrirLista($event, 'campana_cuerpo')" class="md-icon-button configuracion">
                        <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                        <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                      </md-button>
                    </div>
                </div>
            </div>
            <div ng-if="portada.campana_cuerpo.slug=='podcast'" ng-include="'template/portadas/rpp/podcast/campana_cuerpo.html'"></div>
        </div>
    </div>
</div>

<div class="block-full-ads">
    <div class="block-ads block-ads-980x90"></div>
</div>

<div layout="column" layout-padding>
    <div ng-class="portada.medio.slug!=''?(portada.medio.slug=='podcast'?'podcast-container':(envivo.medio.estado?'minuto-minuto':'destacadas')):'default-container'" class="block-util block-util-min">
        <div class="wrap-autocomplete" style="padding-top:5px; padding-bottom:10px; position: relative;">
            <div class="separador-select">
                <span class="label">Medio:</span>
                <div class="select-contador horizontal">
                  <select
                      chosen
                      ng-model="portada.medio"
                      ng-change="cambiarModulo('medio')"
                      no-results-text="'No hay opciones'"
                      ng-options="item.nombre for item in lista['medio'] track by item.slug"
                      style="width:300px;">
                      <option value=""></option>
                  </select>
                  <input type="number" ng-model="cantidad.medio" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                  <md-button ng-click="abrirLista($event, 'medio')" class="md-icon-button configuracion">
                    <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                    <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                  </md-button>
                </div>
                <div style="position: absolute; left: 3%; top: 40%;" ng-if="portada.medio.slug!=''&&portada.medio.slug!='podcast'">
                  <md-checkbox md-no-ink aria-label="En vivo" ng-model="envivo.medio.estado" class="md-primary">
                    En vivo
                  </md-checkbox>
                </div>
                <div style="position: absolute; left: 14%; top: 40%;" ng-if="portada.medio.slug!=''&&portada.medio.slug=='elecciones-peru-2016'">
                	<md-checkbox md-no-ink aria-label="Realizar encuentas" ng-model="encuesta.medio" class="md-primary">
                	  Activar resultados
                	</md-checkbox>
                </div>
                <div style="position: absolute; right: 3%; top: 40%;" ng-if="portada.medio.slug!=''&&portada.medio.slug!='podcast'">
                  <md-checkbox md-no-ink aria-label="Incluir publicidad" ng-model="publicidad.medio" class="md-primary">
                    Incluir publicidad
                  </md-checkbox>
                </div>
            </div>
        </div>
        <div ng-if="envivo.medio.estado&&portada.medio.slug!='podcast'" ng-include="'template/portadas/rpp/cronologicos/medio-envivo.html'"></div>
        <div ng-if="portada.medio.slug!=''&&portada.medio.slug!='podcast'&&portada.medio.slug!='streaming-elecciones-2016'" ng-include="'template/portadas/rpp/cronologicos/medio.html'"></div>
        <div ng-if="portada.medio.slug=='podcast'" ng-include="'template/portadas/rpp/podcast/medio.html'"></div>
    </div>
</div>

<div layout="row" layout-padding>
    <div flex="70">
        <div class="block-util block-util-n">
            <div class="wrap-autocomplete">
                <div class="separador-select">
                    <span class="label">Cronologico 1:</span>
                    <div class="select-contador">
                      <select
                          chosen
                          ng-model="portada.cronologico_1"
                          no-results-text="'No hay opciones'"
                          ng-options="item.nombre disable when item.slug == cronologico.cronologico_2.slug && item.slug != '' for item in lista['cronologico_1'] track by item.slug"
                          style="width:300px;">
                          <option value=""></option>
                      </select>
                      <input type="number" ng-model="cantidad.cronologico_1" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                    </div>
                    <div class="btn-configurar-lista">
                      <md-button ng-click="abrirLista($event, 'cronologico_1')" class="md-icon-button configuracion">
                        <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                        <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                      </md-button>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-util block-util-flow">
        </div>
    </div>
    <div flex="30" class="lateral-zone draglist">
        <!-- DERECHA -->
        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 1, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="1" ng-drag-success="onDragSuccessOrder(1, portada.lateral_1, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 1:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_1"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_1'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_1" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_1.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_1')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 2, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="2" ng-drag-success="onDragSuccessOrder(2, portada.lateral_2, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 2:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_2"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_1.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_2'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_2" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_2.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_2')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" class="block-wrap-news block-1x1">
            <div flex>
                <div class="block-ads block-ads-300x250"></div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 3, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="3" ng-drag-success="onDragSuccessOrder(3, portada.lateral_3, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 3:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_3"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_1.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_3'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_3" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_3.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_3')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" class="block-wrap-news block-1x1">
            <div flex>
                <div class="block-ads block-ads-300x250"></div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 4, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="4" ng-drag-success="onDragSuccessOrder(4, portada.lateral_4, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 4:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_4"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_1.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_4'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_4" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_4.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_4')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 5, $data)" layout="row" class="block-wrap-news block-1x1">
            <div ng-if="true" ng-drag="true" ng-drag-data="5" ng-drag-success="onDragSuccessOrder(5, portada.lateral_5, $event)" flex class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 5:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_5"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_1.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_5'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_5" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_5.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_5')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" class="block-wrap-news block-1x1">
            <div flex>
                <div class="block-ads block-ads-300x250"></div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 6, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="6" ng-drag-success="onDragSuccessOrder(6, portada.lateral_6, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 6:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_6"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_1.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_6'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_6" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_6.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_6')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 7, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="7" ng-drag-success="onDragSuccessOrder(7, portada.lateral_7, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 7:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_7"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_1.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_7'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_7" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_7.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_7')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" class="block-wrap-news block-1x1">
            <div flex>
                <div class="block-ads block-ads-300x250"></div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 8, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="8" ng-drag-success="onDragSuccessOrder(8, portada.lateral_8, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 8:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_8"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_1.slug || item.slug==portada.lateral_9.slug) && item.slug!='' for item in lista['lateral_8'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_8" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_8.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_8')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div flex ng-if="true" ng-drop="true" ng-drop-success="onDropLateral($event, 9, $data)" layout="row" class="block-wrap-news block-1x1">
            <div flex ng-if="true" ng-drag="true" ng-drag-data="9" ng-drag-success="onDragSuccessOrder(9, portada.lateral_9, $event)" class="block-util block-util-300x250">
                <button ng-drag-handle type="button" class="btn-drag-handle">
                    <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
                </button>
                <div class="wrap-autocomplete">
                    <div class="separador-select">
                        <span class="label">Lateral 9:</span>
                        <div class="select-contador">
                          <select
                              chosen
                              ng-model="portada.lateral_9"
                              no-results-text="'No hay opciones'"
                              ng-options="item.nombre disable when (item.slug == portada.lateral_2.slug || item.slug==portada.lateral_3.slug || item.slug==portada.lateral_4.slug || item.slug==portada.lateral_5.slug || item.slug==portada.lateral_6.slug || item.slug==portada.lateral_7.slug || item.slug==portada.lateral_8.slug || item.slug==portada.lateral_1.slug) && item.slug!='' for item in lista['lateral_9'] track by item.slug"
                              style="width:100%; margin-right: 10px;">
                              <option value=""></option>
                          </select>
                          <input type="number" ng-model="cantidad.lateral_9" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
                        </div>
                        <div class="message-max-info">Tipo de vista: {{ tag_tipos[portada.lateral_9.tipo].nombre }}</div>
                        <div class="btn-configurar-lista">
                          <md-button ng-click="abrirLista($event, 'lateral_9')" class="md-icon-button configuracion">
                            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
                            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
                          </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div layout="row" class="block-wrap-news block-1x1">
            <div flex>
                <div class="block-ads block-ads-300x250"></div>
            </div>
        </div>
    </div>
</div>

<div class="block-full-ads">
    <div class="block-ads block-ads-980x90"></div>
</div>

<div layout="row" layout-align="center center" style="height: 200px; background: #E6E6E6; margin: 8px;">
    <div style="width: 240px; margin-right: 10px;">
      <md-radio-group ng-model="portadas_tipo[0].tipo">
        <md-radio-button value="{{ tp.slug }}" class="md-primary" ng-repeat="tp in tiposPortadas" style="display: inline; margin: 5px;">{{ tp.nombre }}</md-radio-button>
      </md-radio-group>
      <div class="separador-select toolbar-filtro" style="margin-top: 10px;">
          <select chosen ng-model="portada.portadas[0]"
                  ng-options="item.nombre disable when (item.slug == portada.portadas[1].slug || item.slug==portada.portadas[2].slug || item.slug==portada.portadas[3].slug) for item in portadas_tipo_seccion[portadas_tipo[0].tipo] track by item.slug"
                  no-results-text="'No hay opciones'"
                  style="width: 240px;">
              <option value=""></option>
          </select>
      </div>
    </div>
    <div style="width: 240px; margin-right: 10px;">
      <md-radio-group ng-model="portadas_tipo[1].tipo">
        <md-radio-button value="{{ tp.slug }}" class="md-primary" ng-repeat="tp in tiposPortadas" style="display: inline; margin: 5px;">{{ tp.nombre }}</md-radio-button>
      </md-radio-group>
      <div class="separador-select toolbar-filtro" style="margin-top: 10px;">
          <select chosen ng-model="portada.portadas[1]"
                  ng-options="item.nombre disable when (item.slug == portada.portadas[0].slug || item.slug==portada.portadas[2].slug || item.slug==portada.portadas[3].slug) for item in portadas_tipo_seccion[portadas_tipo[1].tipo] track by item.slug"
                  no-results-text="'No hay opciones'"
                  style="width: 240px;">
              <option value=""></option>
          </select>
      </div>
    </div>
    <div style="width: 240px; margin-right: 10px;">
      <md-radio-group ng-model="portadas_tipo[2].tipo">
        <md-radio-button value="{{ tp.slug }}" class="md-primary" ng-repeat="tp in tiposPortadas" style="display: inline; margin: 5px;">{{ tp.nombre }}</md-radio-button>
      </md-radio-group>
      <div class="separador-select toolbar-filtro" style="margin-top: 10px;">
          <select chosen ng-model="portada.portadas[2]"
                  ng-options="item.nombre disable when (item.slug == portada.portadas[0].slug || item.slug==portada.portadas[1].slug || item.slug==portada.portadas[3].slug) for item in portadas_tipo_seccion[portadas_tipo[2].tipo] track by item.slug"
                  no-results-text="'No hay opciones'"
                  style="width: 240px;">
              <option value=""></option>
          </select>
      </div>
    </div>
    <div style="width: 240px; margin-right: 10px;">
      <md-radio-group ng-model="portadas_tipo[3].tipo">
        <md-radio-button value="{{ tp.slug }}" class="md-primary" ng-repeat="tp in tiposPortadas" style="display: inline; margin: 5px;">{{ tp.nombre }}</md-radio-button>
      </md-radio-group>
      <div class="separador-select toolbar-filtro" style="margin-top: 10px;">
          <select chosen ng-model="portada.portadas[3]"
                  ng-options="item.nombre disable when (item.slug == portada.portadas[0].slug || item.slug==portada.portadas[1].slug || item.slug==portada.portadas[2].slug) for item in portadas_tipo_seccion[portadas_tipo[3].tipo] track by item.slug"
                  no-results-text="'No hay opciones'"
                  style="width: 240px;">
              <option value=""></option>
          </select>
      </div>
    </div>
</div>

<div layout="column" layout-padding style="margin-bottom:3em">
  <div ng-class="portada.cronologico_2.slug!=''?'destacadas':''" class="block-util block-util-n">
    <div class="wrap-autocomplete" style="padding-top:20px; padding-bottom: 20px; position: relative;">
      <div class="separador-select">
        <span class="label">Cronologico 2:</span>
        <div class="select-contador horizontal">
          <select
              chosen
              ng-model="portada.cronologico_2"
              ng-change="cambiarModulo('cronologico_2')"
              no-results-text="'No hay opciones'"
              ng-options="item.nombre disable when item.slug == portada.cronologico_1.slug && item.slug != '' for item in lista['cronologico_2'] track by item.slug"
              style="width:300px;">
              <option value=""></option>
          </select>
          <input type="number" ng-model="cantidad.cronologico_2" placeholder="#" min="1" max="{{cantidad_noticias_max}}">
          <md-button ng-click="abrirLista($event, 'cronologico_2')" class="md-icon-button configuracion">
            <ng-md-icon icon="settings" size="24" style="fill:black"></ng-md-icon>
            <md-tooltip md-direction="right">Configurar lista</md-tooltip>
          </md-button>
        </div>
        <div style="position: absolute; left: 3%; top: 40%;" ng-if="portada.cronologico_2.slug!=''&&portada.cronologico_2.slug=='elecciones-peru-2016'">
          <md-checkbox md-no-ink aria-label="Realizar encuentas" ng-model="encuesta.cronologico_2" class="md-primary">
            Realizar encuentas
          </md-checkbox>
        </div>
        <div style="position: absolute; right: 3%; top: 40%;" ng-if="portada.cronologico_2.slug!=''">
          <md-checkbox md-no-ink aria-label="Incluir publicidad" ng-model="publicidad.cronologico_2" class="md-primary">
            Incluir publicidad
          </md-checkbox>
        </div>
      </div>
    </div>
    <div ng-if="portada.cronologico_2.slug!=''" ng-include="'template/portadas/rpp/cronologicos/cronologico_2.html'"></div>
  </div>
</div>

<!-- END MODULO 1x4 -->
