<div class="relative" flex id="page-portadas" layout="column" role="main">
<!-- HEADER -->
    <script id="perfil-popover" type="text/ng-template">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button class="md-primary" ng-click="openPerfil($event, 'perfil');">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
            <ul>
              <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Oido social</h5>
                  <md-tooltip>Odido Social</md-tooltip>
              </li>
              <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Publicador</h5>
                  <md-tooltip>Publicador</md-tooltip>
              </li>
              <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Ticker</h5>
                  <md-tooltip>Ticker</md-tooltip>
              </li>
              <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Streaming</h5>
                  <md-tooltip>Streaming</md-tooltip>
              </li>
              <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                      <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Eventos</h5>
                  <md-tooltip>Eventos</md-tooltip>
              </li>
              <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                      <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Podcast</h5>
                  <md-tooltip>Podcast</md-tooltip>
              </li>
              <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                      <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Elecciones</h5>
                  <md-tooltip>Elecciones</md-tooltip>
              </li>
              <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                  <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                      <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Redes sociales</h5>
                  <md-tooltip>Configurar Redes Sociales</md-tooltip>
              </li>
              <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                      <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Roles</h5>
                  <md-tooltip>Roles</md-tooltip>
              </li>
            </ul>
            </div>
        </div>
    </script>
    <md-toolbar class="md-toolbar-head" ng-class="{'novisibletoolbar':!custom}">
        <div class="md-toolbar-tools">
            <figure class="logo"><img alt="Logo Grupo RPP" class="pointer" ng-click="openBase()" src="svg/logo-grupo-rpp.svg"/></figure>
            <md-button aria-label="Settings" class="md-icon-button" ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()">
                <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button>
            <div class="contentSearch" id="contentSearch" style="visibility:hidden">
                <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
                <md-autocomplete class="filterText" md-delay="250" md-item-text="item" md-items="item in getItemsSearch($event, filterText)" md-search-text-change="changeItemsSearch" md-search-text="filterText" md-selected-item="selectedFilterText" placeholder="Buscar...">
                    <span md-highlight-text="filterText">{{item}}</span>
                </md-autocomplete>
                <ng-md-icon class="iconFilter" icon="filter_list" ng-click="btnOpenFilter($event)" style="fill: white"></ng-md-icon>
                <div class="md-whiteframe-z4" id="optionSearch" layout-padding ng-show="formOptionSearch">
                    <div layout layout-sm="column">
                        <md-select flex ng-model="filterSite" placeholder="Sitio">
                            <md-option ng-value="">Grupo RPP</md-option>
                            <md-option ng-repeat="fSite in filterSites" ng-value="{{fSite}}">{{fSite.nombre}}</md-option>
                        </md-select>
                        <md-select flex ng-model="filterSection" placeholder="Categoría">
                            <md-option ng-value="">Categoría</md-option>
                            <md-option ng-repeat="fSection in filterSections" ng-value="{{fSection}}">{{fSection.nombre}}</md-option>
                        </md-select>
                        <md-select flex ng-model="filterTypeContent" placeholder="Tipo">
                            <md-option ng-value="">Tipo</md-option>
                            <md-option ng-repeat="fTypeContent in filterTypeContents" ng-value="{{fTypeContent}}">{{fTypeContent.nombre}}</md-option>
                        </md-select>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Desde</label>
                            <input ng-model="filterFrom" type="date">
                        </md-input-container>
                        <md-input-container flex>
                            <label>Hasta</label>
                            <input ng-model="filterTo" type="date">
                        </md-input-container>
                        <md-select flex ng-model="filterState" placeholder="Estado">
                            <md-option ng-value="">Estado</md-option>
                            <md-option ng-repeat="fState in filterStates" ng-value="{{fState}}">{{fState.nombre}}</md-option>
                        </md-select>
                    </div>
                    <div layout layout-sm="column">
                        <md-select ng-model="filterAuthor" placeholder="Autor" style="width:33%">
                            <md-option ng-value="">Autor</md-option>
                            <md-option ng-repeat="fAuthor in filterAuthors" ng-value="{{fAuthor}}">{{fAuthor.nombre}}</md-option>
                        </md-select>
                    </div>
                    <div layout layout-sm="column">
                        <md-button class="md-raised md-warn" ng-click="searchFilterNews($event)" type="button">Buscar</md-button>
                    </div>
                </div>
            </div>

            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="Modulos"
                ns-popover
                ns-popover-template="modulos-cabecera"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
             >
                <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Dashboard
                  </md-tooltip>
            </md-button>

            <md-button aria-label="Chat" class="md-icon-button" ng-class="{'novisiblesearch':!custom}">
                <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
                <md-tooltip md-direction="bottom">
                    Chat
                </md-tooltip>
            </md-button>

            <md-button aria-label="Modules" class="md-icon-button ">
                <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
                <md-tooltip md-direction="bottom">
                    Módulos
                </md-tooltip>
            </md-button>

            <md-button aria-label="User" class="md-icon-button" ng-class="{'novisiblesearch':!custom}" ns-popover ns-popover-placement="bottom" ns-popover-template="perfil-popover" ns-popover-theme="ns-popover-tooltip-theme" ns-popover-timeout="0.5" ns-popover-trigger="click">
                <md-icon alt="User" md-svg-src="svg/user.svg" style="width:24px;height:24px,"></md-icon>
                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button aria-label="Scape" class="md-icon-button" ng-class="{'novisiblesearch':!custom}" ng-click="closeSession()" ng-disabled="disabledCloseSession">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
                <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <section flex>
        <div id="layerSearch" ng-click="hideLayer($event)" ng-show="layerSearch"></div>
        <div layout="column">
<!-- BREADCRUMB -->
            <md-toolbar class="md-toolbar-subhead">
                <div class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1" layout-align="center center" layout="row">
                    <md-button class="md-icon-button" ng-click="backToList()" type="button">
                        <ng-md-icon icon="arrow_back" size="28"></ng-md-icon>
                        <md-tooltip md-direction="bottom">
                            Volver
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-primary" ng-click="clickSave($event);" type="button">
                        <ng-md-icon icon="save" size="20"></ng-md-icon>
                        Guardar
                    </md-button>
                    <md-button class="md-primary" ng-click="clickPreview($event);" type="button">
                        <ng-md-icon icon="remove_red_eye" size="20"></ng-md-icon>
                        Previsualizar
                    </md-button>
                    <md-button class="md-primary" ng-click="clickPublish($event);" type="button">
                        <ng-md-icon icon="language" size="20"></ng-md-icon>
                        Publicar
                    </md-button>
                    <md-button class="md-primary" ng-click="clickDelete($event);" ng-if="isPublish" type="button">
                        <ng-md-icon icon="undo" size="20"></ng-md-icon>
                        Despublicar
                    </md-button>
                </div>
            </md-toolbar>
<!-- /BREADCRUMB -->
<!-- LEFT -->
            <aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft">
                <menu-lateral-derecha activo="videos"></menu-lateral-derecha>
            </aside>
<!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
                <div id="bodyAddsNews">
                    <h2></h2>
                </div>
            </section>
<!-- SIDEBARS -->
<!-- RIGHT -->
            <aside class="sidenav-right sidenav-module fullsidebar" id="sidebarright">

            </aside>

<!-- /SIDEBARS -->
        </div>
    </section>
<!-- FOOTER -->
</div>
