<script type="text/ng-template" id="perfil-popover">
    <div class="triangle"></div>
        <div class="ns-popover-tooltip">
        <div class="enlaces-popover">
            <ul>
                <li>
                    <md-button aria-label="Perfil" ng-click="openPerfil($event, 'perfil');" class="md-primary">
                        <ng-md-icon icon="account_circle"></ng-md-icon>
                        Configurar
                    </md-button>
                </li>
            </ul>
        </div>
    </div>
</script>
<script type="text/ng-template" id="modulos-cabecera">
    <div class="triangle"></div>
        <div class="ns-popover-tooltip">
        <div class="enlaces-popover enlaces-apps">
            <ul>
              <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Oido social</h5>
                  <md-tooltip>Odido Social</md-tooltip>
              </li>
              <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Publicador</h5>
                  <md-tooltip>Publicador</md-tooltip>
              </li>
              <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Ticker</h5>
                  <md-tooltip>Ticker</md-tooltip>
              </li>
              <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Streaming</h5>
                  <md-tooltip>Streaming</md-tooltip>
              </li>
              <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                      <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Eventos</h5>
                  <md-tooltip>Eventos</md-tooltip>
              </li>
              <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                      <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Podcast</h5>
                  <md-tooltip>Podcast</md-tooltip>
              </li>
              <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                      <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Elecciones</h5>
                  <md-tooltip>Elecciones</md-tooltip>
              </li>
              <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                  <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                      <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Redes sociales</h5>
                  <md-tooltip>Configurar Redes Sociales</md-tooltip>
              </li>
              <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                      <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Roles</h5>
                  <md-tooltip>Roles</md-tooltip>
              </li>
            </ul>
        </div>
    </div>
</script>
<md-toolbar  class="md-toolbar-head">
    <div class="md-toolbar-tools">
        <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
        <div flex="1"></div>
        <div class="drop-panel" >
            <!--md-button ng-click="openPanel($event)" class="md-icon-button" aria-label="Dashboard"-->
            <md-button
                class="md-icon-button"
                aria-label="Modulos"
                ns-popover
                ns-popover-template="modulos-cabecera"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
             >
                <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Dashboard
                  </md-tooltip>
            </md-button>
            <div class="drop-panel-child" ng-show="showPanel">
                <ul class="list-modules">
                    <li>
                        <md-button class="md-icon-button" aria-label="Usuarios">
                            <ng-md-icon icon="people"></ng-md-icon>
                        </md-button>
                        <span>Usuarios</span>
                    </li>
                    <li>
                        <md-button class="md-icon-button" aria-label="Configuración">
                            <ng-md-icon icon="settings"></ng-md-icon>
                        </md-button>
                        <span>Configuración</span>
                    </li>
                    <li>
                        <md-button class="md-icon-button" aria-label="Rotafono">
                            <ng-md-icon icon="perm_phone_msg"></ng-md-icon>
                        </md-button>
                        <span>Rotafono</span>
                    </li>
                    <li>
                        <md-button class="md-icon-button" aria-label="Estadisticas">
                            <ng-md-icon icon="poll"></ng-md-icon>
                        </md-button>
                        <span>Estadisticas</span>
                    </li>
                    <li>
                        <md-button class="md-icon-button" aria-label="Radio">
                            <ng-md-icon icon="radio"></ng-md-icon>
                        </md-button>
                        <span>Radio</span>
                    </li>
                    <li>
                        <md-button class="md-icon-button" aria-label="Agencias">
                            <ng-md-icon icon="public"></ng-md-icon>
                        </md-button>
                        <span>Agencias</span>
                    </li>
                </ul>
            </div>
        </div>
        <md-button  class="md-icon-button" aria-label="Chat">
          <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
          <md-tooltip md-direction="bottom">
              Chat
          </md-tooltip>
        </md-button>
        <div class="drop-panel">
            <!--md-button ng-click="openPanel2($event)" class="md-icon-button " aria-label="Modules"-->
            <md-button class="md-icon-button " aria-label="Modules">
              <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Módulos
              </md-tooltip>
            </md-button>
        </div>
        <md-button
            class="md-icon-button"
            aria-label="User"
            ns-popover
            ns-popover-template="perfil-popover"
            ns-popover-trigger="click"
            ns-popover-placement="bottom"
            ns-popover-theme="ns-popover-tooltip-theme"
            ns-popover-timeout="0.5"
            >
            <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
            <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>
            <md-tooltip md-direction="bottom">
                Usuario
            </md-tooltip>
        </md-button>
        <md-button ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
            <md-tooltip md-direction="bottom">
                Salir del sistema
            </md-tooltip>
          <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
