<div ng-if="!$last" class="fab-utils" style="overflow:hidden">
<!--div ng-if="!$last" class="fab-utils" ng-show="showAddOptions$index" style="overflow:hidden"-->
    <div class="lock-size">
        <md-fab-speed-dial md-open="false" md-direction="right">
            <md-fab-trigger>
                <md-button ng-click="clickAddText($event, $index);" aria-label="menu" class="button-add-menu md-fab md-primary">
                    <md-tooltip>{{!showOpenTextNew[$index]?'Agregar bloque':'Ocultar bloque'}}</md-tooltip>
                    <ng-md-icon ng-if="!showOpenTextNew[$index]" icon="add"></ng-md-icon>
                    <ng-md-icon ng-if="showOpenTextNew[$index]" icon="remove"></ng-md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button type="button" ng-click="clickAddText($event, $index);" class="md-fab md-raised md-mini" aria-label="Text">
                  <md-tooltip>Texto</md-tooltip>
                  <ng-md-icon icon="subject"></ng-md-icon>
                </md-button>
                <md-button type="button" ng-click="openAddPhoto($event, 'add', block.length, {}, $index);" class="md-fab md-raised md-mini" aria-label="Foto">
                  <md-tooltip>Foto</md-tooltip>
                  <ng-md-icon icon="image"></ng-md-icon>
                </md-button>
                <md-button type="button" ng-click="openAddVideo($event, 'add', block.length, {}, $index);" class="md-fab md-raised md-mini" aria-label="Video">
                  <md-tooltip>Video</md-tooltip>
                  <ng-md-icon icon="videocam"></ng-md-icon>
                </md-button>
                <md-button type="button" ng-click="openAddAudio($event, 'add', block.length, {}, $index);" class="md-fab md-raised md-mini" aria-label="Audio">
                  <md-tooltip>Audio</md-tooltip>
                  <ng-md-icon icon="volume_up"></ng-md-icon>
                </md-button>
                <md-button type="button" ng-click="openAddEmbed($event, 'add', block.length, {}, $index);" class="md-fab md-raised md-mini" aria-label="Código">
                  <md-tooltip>Embed</md-tooltip>
                  <ng-md-icon icon="settings_ethernet"></ng-md-icon>
                </md-button>
                <md-button type="button" ng-click="openAddYoutube($event, 'add', block.length, {}, $index);" class="md-fab md-raised md-mini" aria-label="Youtube">
                  <md-tooltip>Youtube</md-tooltip>
                  <md-icon md-svg-src="svg/youtube17.svg" style="fill:#cc181e;"></md-icon>
                </md-button>
                <md-button type="button" ng-click="openAddPhotoGallery($event, 'add', '', $index);" class="md-fab md-raised md-mini" aria-label="Foto Galeria">
                  <md-tooltip>Galeria de fotos</md-tooltip>
                  <ng-md-icon icon="photo_library"></ng-md-icon>
                </md-button>
                <md-button type="button" ng-click="openAddPhotoGallery($event, 'add', 'gif', $index);" class="md-fab md-raised md-mini" aria-label="Gif Galeria">
                  <md-tooltip>Gif</md-tooltip>
                  <md-icon md-svg-icon="svg/gif.svg" style="width:26px;height:26px;"></md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <section ng-show="showOpenTextNew[$index]">
        <section class="md-wave-tabs">
            <section name="blockForm1">
                <section class="inputBlock">
                    <textarea ui-tinymce="tinymceOptions" style="height:300px" ng-model="textoNew[$index]"></textarea>
                </section>
                <section class="footer-buttons">
                  <md-button type="button" ng-click="openAddText($event, 'add', -1, undefined, $index)" class="md-primary">
                      Agregar
                  </md-button>
                </section>
            </section>
        </section>
    </section>
</div>
