<div>
    <!--
    {{(block.cita.desarrollo | htmlToPlaintext).length>0}}
    {{block.cita.titulo.length>0}}
    {{(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0}}
    -->
    <!--
    {{(block.cita.desarrollo | htmlToPlaintext).length}} ##
    {{(block.cita.desarrollo | htmlToPlaintext).length > 0}} ##
    {{block.cita.titulo.length}} ##
    {{block.cita.titulo.length > 0}} ##
    -->
    <!--pre>{{block.relacionado}}</pre-->
    <!-- Cita : ARRIBA -->
    <!-- Alineacion : Arriba -->
    <div ng-if="block.cita.alineacion === 'arriba' && block.relacionado.alineacion === 'arriba'">
        <div class="cite-related-block cite-arriba related-arriba">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : ARRIBA -->
    <!-- Alineacion : Derecha -->
    <div ng-if="block.cita.alineacion === 'arriba' && block.relacionado.alineacion === 'derecha'">
        <div class="cite-related-block cite-arriba related-derecha">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Arriba -->
    <!-- Alineacion : Izquierda -->
    <div ng-if="block.cita.alineacion === 'arriba' && block.relacionado.alineacion === 'izquierda'">
        <div class="cite-related-block cite-arriba related-izquierda">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Arriba -->
    <!-- Alineacion : Abajo -->
    <div ng-if="block.cita.alineacion === 'arriba' && block.relacionado.alineacion === 'abajo'">
        <div class="cite-related-block cite-arriba related-abajo">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>

    <!-- Cita DERECHA -->
    <!-- Alineacion : Arriba -->
    <div ng-if="block.cita.alineacion === 'derecha' && block.relacionado.alineacion === 'arriba'">
        <div class="cite-related-block cite-derecha related-arriba">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Derecha -->
    <!-- Alineacion : Derecha -->
    <div ng-if="block.cita.alineacion === 'derecha' && block.relacionado.alineacion === 'derecha'">
        <div class="cite-related-block cite-derecha related-derecha">
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Derecha -->
    <!-- Alineacion : Izquierda -->
    <div ng-if="block.cita.alineacion === 'derecha' && block.relacionado.alineacion === 'izquierda'">
        <div class="cite-related-block cite-derecha related-izquierda">
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Derecha -->
    <!-- Alineacion : Abajo -->
    <div ng-if="block.cita.alineacion === 'derecha' && block.relacionado.alineacion === 'abajo'">
        <div class="cite-related-block cite-derecha related-abajo">
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>

    <!-- Cita IZQUIERDA -->
    <!-- Alineacion : Arriba -->
    <div ng-if="block.cita.alineacion === 'izquierda' && block.relacionado.alineacion === 'arriba'">
        <div class="cite-related-block cite-izquierda related-arriba">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Izquierda -->
    <!-- Alineacion : Derecha -->
    <div ng-if="block.cita.alineacion === 'izquierda' && block.relacionado.alineacion === 'derecha'">
        <div class="cite-related-block cite-izquierda related-derecha">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- End -->
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Cita : Izquierda -->
    <!-- Alineacion : Izquierda -->
    <div ng-if="block.cita.alineacion === 'izquierda' && block.relacionado.alineacion === 'izquierda'">
        <div class="cite-related-block cite-izquierda related-izquierda">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Izquierda -->
    <!-- Alineacion : Abajo -->
    <div ng-if="block.cita.alineacion === 'izquierda' && block.relacionado.alineacion === 'abajo'">
        <div class="cite-related-block cite-izquierda related-abajo">
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>

    <!-- Cita ABAJO -->
    <!-- Alineacion : Arriba -->
    <div ng-if="block.cita.alineacion === 'abajo' && block.relacionado.alineacion === 'arriba'">
        <div class="cite-related-block cite-abajo related-arriba">
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Arriba -->
    <!-- Alineacion : Derecha -->
    <div ng-if="block.cita.alineacion === 'abajo' && block.relacionado.alineacion === 'derecha'">
        <div class="cite-related-block cite-abajo related-derecha">
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Arriba -->
    <!-- Alineacion : Izquierda -->
    <div ng-if="block.cita.alineacion === 'abajo' && block.relacionado.alineacion === 'izquierda'">
        <div class="cite-related-block cite-abajo related-izquierda">
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>
    <!-- Cita : Arriba -->
    <!-- Alineacion : Abajo -->
    <div ng-if="block.cita.alineacion === 'abajo' && block.relacionado.alineacion === 'abajo'">
        <div class="cite-related-block cite-abajo related-abajo">
            <!-- Title and subparagraph -->
            <div class="content-normal">
                <div ng-bind-html="block.texto | htmlUnSafe"></div>
            </div>
            <!-- Cita -->
            <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                <div class="cite-block">
                    <h4>{{block.cita.titulo}}</h4>
                    <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                </div>
            </div>
            <!-- Relacionados -->
            <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                    <h4 class="related-title">Noticias Relacionadas</h4>
                    <ul>
                        <li ng-repeat="itemA in block.relacionado.items track by $index">
                            <div class="div-result div-related">
                                <div class="div-author">
                                    <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                </div>
                                <div class="div-text">
                                    <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End -->
        </div>
    </div>

    <!-- Cita : Ninguna -->
    <!-- Alineacion : Ninguna -->
    <div ng-if="block.hasOwnProperty('cita') && block.hasOwnProperty('relacionado')">
        <!-- Cita : '' -->
        <!-- Alineacion : '!=0' -->
        <div ng-if="((block.cita.alineacion).length === 0) && ((block.relacionado.alineacion).length != 0)">
            <!-- Cita : '0' -->
            <!-- Alineacion : Arriba -->
            <div ng-if="block.relacionado.alineacion === 'arriba'">
                <div class="cite-related-block related-arriba">
                    <!-- Relacionados -->
                    <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                        <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                            <h4 class="related-title">Noticias Relacionadas</h4>
                            <ul>
                                <li ng-repeat="itemA in block.relacionado.items track by $index">
                                    <div class="div-result div-related">
                                        <div class="div-author">
                                            <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                        </div>
                                        <div class="div-text">
                                            <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!-- Cita : '0' -->
            <!-- Alineacion : Derecha -->
            <div ng-if="block.relacionado.alineacion === 'derecha'">
                <div class="cite-related-block related-derecha">
                    <!-- Relacionados -->
                    <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                        <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                            <h4 class="related-title">Noticias Relacionadas</h4>
                            <ul>
                                <li ng-repeat="itemA in block.relacionado.items track by $index">
                                    <div class="div-result div-related">
                                        <div class="div-author">
                                            <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                        </div>
                                        <div class="div-text">
                                            <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!-- Cita : '0' -->
            <!-- Alineacion : Izquierda -->
            <div ng-if="block.relacionado.alineacion === 'izquierda'">
                <div class="cite-related-block related-izquierda">
                    <!-- Relacionados -->
                    <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                        <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                            <h4 class="related-title">Noticias Relacionadas</h4>
                            <ul>
                                <li ng-repeat="itemA in block.relacionado.items track by $index">
                                    <div class="div-result div-related">
                                        <div class="div-author">
                                            <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                        </div>
                                        <div class="div-text">
                                            <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!-- Cita : '0' -->
            <!-- Alineacion : Abajo -->
            <div ng-if="block.relacionado.alineacion === 'abajo'">
                <div class="cite-related-block related-abajo">
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- Relacionados -->
                    <div ng-if="(block.relacionado.items).length>0" ng-switch="block.relacionado.alineacion">
                        <div class="related-block" ng-class="{'related-multiple':(block.relacionado.items).length>1}">
                            <h4 class="related-title">Noticias Relacionadas</h4>
                            <ul>
                                <li ng-repeat="itemA in block.relacionado.items track by $index">
                                    <div class="div-result div-related">
                                        <div class="div-author">
                                            <a target="_blank" href="{{itemA.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{itemA.foto}}" alt="{{itemA.titulo}}" /></a>
                                        </div>
                                        <div class="div-text">
                                            <div><a target="_blank" href="{{itemA.url}}">{{itemA.titulo}}</a></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>

        </div>
        <!-- Cita : '!=0' -->
        <!-- Alineacion : '' -->
        <div ng-if="((block.cita.alineacion).length != 0) && ((block.relacionado.alineacion).length === 0)">

            <!-- Cita : ARRIBA -->
            <!-- Alineacion : '0' -->
            <div ng-if="block.cita.alineacion === 'arriba'">
                <div class="cite-related-block cite-arriba">
                    <!-- Cita -->
                    <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                        <div class="cite-block">
                            <h4>{{block.cita.titulo}}</h4>
                            <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                        </div>
                    </div>
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!-- Cita : DERECHA -->
            <!-- Alineacion : '0' -->
            <div ng-if="block.cita.alineacion === 'derecha'">
                <div class="cite-related-block cite-derecha">
                    <!-- Cita -->
                    <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                        <div class="cite-block">
                            <h4>{{block.cita.titulo}}</h4>
                            <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                        </div>
                    </div>
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!-- Cita : IZQUIERDA -->
            <!-- Alineacion : '0' -->
            <div ng-if="block.cita.alineacion === 'izquierda'">
                <div class="cite-related-block cite-izquierda">
                    <!-- Cita -->
                    <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                        <div class="cite-block">
                            <h4>{{block.cita.titulo}}</h4>
                            <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                        </div>
                    </div>
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- End -->
                </div>
            </div>
            <!-- Cita : Arriba -->
            <!-- Alineacion : Abajo -->
            <div ng-if="block.cita.alineacion === 'abajo'">
                <div class="cite-related-block cite-abajo">
                    <!-- Title and subparagraph -->
                    <div class="content-normal">
                        <div ng-bind-html="block.texto | htmlUnSafe"></div>
                    </div>
                    <!-- Cita -->
                    <div ng-if="(block.cita.desarrollo | htmlToPlaintext).length>0 || block.cita.titulo.length>0" ng-switch="block.cita.alineacion">
                        <div class="cite-block">
                            <h4>{{block.cita.titulo}}</h4>
                            <div ng-bind-html="block.cita.desarrollo | htmlUnSafe"></div>
                        </div>
                    </div>
                    <!-- End -->
                </div>
            </div>

        </div>
        <!-- Cita : '0' -->
        <!-- Alineacion : '0' -->
        <div ng-if="((block.cita.alineacion).length === 0) && ((block.relacionado.alineacion).length === 0)">
            <div>
                <!-- Title and subparagraph -->
                <div class="content-normal">
                    <div ng-bind-html="block.texto | htmlUnSafe"></div>
                </div>
                <!-- End -->
            </div>
        </div>

    </div>
    <div ng-if="!block.hasOwnProperty('cita') && !block.hasOwnProperty('relacionado')">
        <!-- Title and subparagraph -->
        <div class="content-normal">
            <div ng-bind-html="block.texto | htmlUnSafe"></div>
        </div>
        <!-- End -->
    </div>
</div>
