<style>
  #contentbodycenter.fullcenter{
    width: 62.50%;
  }
  .candidato .votos span{
    font-size: 0.9em;
    font-weight: 400;
    color: #9F041B;
  }
  .candidato .porcentaje{
    margin-bottom: 15px;
  }
  .cantidades-partido{
    padding: 0px;
  }
  .cantidades-partido .votos{
    padding: 1px;
  }

  /* MAP */
  .jqvmap-label
  {
  	position: absolute;
  	display: none;
  	/*-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;*/
  	border-radius: 3px;
  	background: #292929;
  	color: white;
  	font-family: sans-serif, Verdana;
  	font-size: smaller;
  	/*padding: 3px;*/
  }
  .jqvmap-zoomin, .jqvmap-zoomout
  {
  	position: absolute;
  	left: 10px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	background: #000000;
  	padding: 3px;
  	color: white;
  	width: 10px;
  	height: 10px;
  	cursor: pointer;
  	line-height: 10px;
  	text-align: center;
  }
  .jqvmap-zoomin
  {
  	top: 10px;
  }
  .jqvmap-zoomout
  {
  	top: 30px;
  }
  .jqvmap-region
  {
    cursor: -moz-zoom-in;
  	cursor: -webkit-zoom-in;
  	cursor: zoom-in;
  }
  .jqvmap-ajax_response
  {
    width: 100%;
    height: 500px;
  }

  .contenedor{
  	width: 100%;
  	margin: 0 auto;
  }
  .contenido{
  	height: 500px;
  	position: relative;
  }
  #mapa{
  	position: absolute;
  	width: 100%;
  	height: 100%;
  }
  #mapa #mapa-peru{
  	width: 100%;
    height: 100%;
  	margin: 0 auto;
  }
  .candidato .candidato-foto{
    width: 75%;
    height: 125px;
  }
  .candidato .candidato-foto img{
    height: 100%;
    width: 100%;
  }
  .current-department h1{
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .candidato .porcentaje input{
    width: 80px;
  }
  #historial-conteo ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
  }
  .sidenav-right{
    position: fixed;
  }
  .block-util label{
    word-wrap: break-word;
    min-height: 20px;
  }
  .candidato-partido{
    cursor: pointer;
    position: relative;
  }
  .lista-escogidos md-input-container .md-input{
    line-height: 20px;
    height: 40px;
    border-width: 0 0 0px;
    text-align: center;
    background: rgb(250,250,250);
  }
  .lista-escogidos md-input-container label{
    margin-top: -6px;
  }
  .lista-escogidos md-input-container:not(.enlace-nuevo-candidato){
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
  }
  .lista-escogidos h3{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .candidato .candidato-partido{
    height: 100%;
    text-align: left;
    font-size: 15px;
  }
  .item-partido{
    height: 100%;
    position: relative;
  }

  .orange span {
    color: #ff7c44;
  }
  .blue span {
    color: #004891;
  }
  .yellow span {
    color: #e8c02b;
  }
  .red span {
    color: #ea2626;
  }
  .green span {
    color: #006600;
  }
  .purple span {
    color: #9787B7;
  }
  .brown span {
    color: #844d11;
  }
  .lightblue span {
    color: #008ab5;
  }
  .purple span {
    color: #86248b;
  }
  .mustard span {
    color: #937000;
  }
  .pink span {
    color: #ee6262;
  }
  .turquoise span {
    color: #56a56c;
  }
  .active-block {
    background-color: #E6E6E6 !important;
  }
  .md-chips .md-chip.saved{
    background: #1976D2 !important;
    color: #fff !important;
  }
</style>

<script>
$(function(){

  $('#mapa-peru').vectorMap({
  	map: 'peru',
    backgroundColor: null,
    borderColor: '#666666',
    borderOpacity: 1,
    borderWidth: 1,
    color: '#ffffff',
    selectedColor: '#D27D00',
    enableZoom: false,
    showTooltip: true,
    hoverColor: null,
    hoverBorderColor: null,
    hoverBorderWidth: null,
    hoverOpacity: null,
    normalizeFunction: 'linear',
    onRegionClick: function(element, code, region){
      var element = angular.element($('#mapa-peru'));
      var controller = element.controller();
      var scope = element.scope();
      scope.$apply(function(){
        scope.conteo.current.nombre = region;
        scope.conteo.current.slug = code;
      });
    }
  });

  //$('#mapa-peru').vectorMap('select', 'lim');
});

</script>

<div layout="column" class="relative" flex role="main" id="elecciones">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
                <ul>
                  <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Oido social</h5>
                      <md-tooltip>Odido Social</md-tooltip>
                  </li>
                  <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Publicador</h5>
                      <md-tooltip>Publicador</md-tooltip>
                  </li>
                  <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Ticker</h5>
                      <md-tooltip>Ticker</md-tooltip>
                  </li>
                  <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Streaming</h5>
                      <md-tooltip>Streaming</md-tooltip>
                  </li>
                  <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                          <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Eventos</h5>
                      <md-tooltip>Eventos</md-tooltip>
                  </li>
                  <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                          <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Podcast</h5>
                      <md-tooltip>Podcast</md-tooltip>
                  </li>
                  <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                          <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Elecciones</h5>
                      <md-tooltip>Elecciones</md-tooltip>
                  </li>
                  <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                      <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                          <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Redes sociales</h5>
                      <md-tooltip>Configurar Redes Sociales</md-tooltip>
                  </li>
                  <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                          <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Roles</h5>
                      <md-tooltip>Roles</md-tooltip>
                  </li>
                </ul>
            </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>

            <div flex="1"></div>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel($event)" class="md-icon-button" aria-label="Dashboard"-->
                <md-button
                    ng-class="{'novisiblesearch':!custom}"
                    class="md-icon-button"
                    aria-label="Modulos"
                    ns-popover
                    ns-popover-template="modulos-cabecera"
                    ns-popover-trigger="click"
                    ns-popover-placement="bottom"
                    ns-popover-theme="ns-popover-tooltip-theme"
                    ns-popover-timeout="0.5"
                 >
                    <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                      <md-tooltip md-direction="bottom">
                          Dashboard
                      </md-tooltip>
                </md-button>
                <div class="drop-panel-child" ng-show="showPanel">
                    <ul class="list-modules">
                        <li>
                            <md-button class="md-icon-button" aria-label="Usuarios">
                                <ng-md-icon icon="people"></ng-md-icon>
                            </md-button>
                            <span>Usuarios</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Configuración">
                                <ng-md-icon icon="settings"></ng-md-icon>
                            </md-button>
                            <span>Configuración</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Rotafono">
                                <ng-md-icon icon="perm_phone_msg"></ng-md-icon>
                            </md-button>
                            <span>Rotafono</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Estadisticas">
                                <ng-md-icon icon="poll"></ng-md-icon>
                            </md-button>
                            <span>Estadisticas</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Radio">
                                <ng-md-icon icon="radio"></ng-md-icon>
                            </md-button>
                            <span>Radio</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Agencias">
                                <ng-md-icon icon="public"></ng-md-icon>
                            </md-button>
                            <span>Agencias</span>
                        </li>
                    </ul>
                </div>
            </div>
            <md-button ng-class="{'novisiblesearch':!custom}"  class="md-icon-button" aria-label="Chat">
              <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Chat
              </md-tooltip>
            </md-button>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel2($event)" class="md-icon-button " aria-label="Modules"-->
                <md-button class="md-icon-button " aria-label="Modules">
                  <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Módulos
                  </md-tooltip>
                </md-button>
            </div>
            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="User"
                ns-popover
                ns-popover-template="perfil-popover"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
                >

                <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
                <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>

                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button ng-class="{'novisiblesearch':!custom}" ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
              <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
            <!-- BREADCRUMB -->
            <md-toolbar class="md-toolbar-subhead">

                <div class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1" layout-align="center center" layout="row">

                  <md-button type="button" class="md-icon-button" ng-click="clicVolver()">
                      <ng-md-icon icon="arrow_back" size="28"></ng-md-icon>
                      <md-tooltip md-direction="bottom">
                          Volver
                      </md-tooltip>
                  </md-button>
                  <div class="separador-select toolbar-filtro" style="margin-right: 25px;">
                    <md-input-container class="md-block" flex-gt-sm style="width: 275px;">
                      <input ng-readonly="conteo.current.slug!='general'" required ng-model="votos.pct" style="text-align: center;"/>
                    </md-input-container>
                  </div>
                  <div class="separador-select toolbar-filtro">
                        <div class="select-contador"style="width: 200px; margin-right: 10px;">
                          <select
                          chosen
                          ng-model="votos.fuente"
                          ng-change="cambiarFuente()"
                          no-results-text="'No hay opciones'"
                          ng-options="f.nombre for f in fuentes track by f.slug"
                          style="width:100%;">
                              <option value=""></option>
                          </select>
                        </div>
                  </div>


                    <md-button ng-disabled="conteo.current.slug!='general'||conteo.current.escrutadas==votos['dpt'][conteo.current.slug]['escrutadas']['porcentaje']"
                               type="button" class="md-primary" ng-click="guardar('crear');">
                        <ng-md-icon icon="add_box" size="20"></ng-md-icon> Registrar avance
                    </md-button>
                    <!--md-button type="button" class="md-primary" ng-click="publicar();">
                        <ng-md-icon icon="language" size="20"></ng-md-icon> Publicar
                    </md-button-->
                    <md-button ng-if="votos.id" type="button" class="md-primary" ng-click="guardar('guardar');">
                        <ng-md-icon icon="save" size="20"></ng-md-icon> Actualizar avance
                    </md-button>
                </div>
            </md-toolbar>
            <!-- /BREADCRUMB -->

            <!-- CONTENT -->
            <aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft-2" style="left:0%; width:415px;">
              <section class="contenedor">
                <aside id="buscar-departamentos" style="text-align: center; margin-top: 10px;">
                  <div class="separador-select">
                      <span class="label">Departamento:</span>
                      <div class="select-contador">
                        <select
                        chosen
                        ng-model="conteo.current"
                        ng-change="cambiarDepartamento()"
                        no-results-text="'No hay opciones'"
                        ng-options="item.nombre for item in departamentos track by item.slug"
                        style="width:300px;">
                            <option value=""></option>
                        </select>
                      </div>
                  </div>
                </aside>
                <section class="contenido">
            			<section id="mapa">
            				<div id="mapa-peru"></div>
            			</section>
            		</section>
                <section class="leyenda">
                  <md-chips>
                    <md-chip ng-repeat="d in departamentos"  ng-class="(votos['dpt'][d.slug]['escrutadas']['porcentaje']>0)?'saved':''" style="margin: 4px 4px 0 0; height: 25px; border: 1px solid rgb(224, 224, 2224); background: transparent; line-height: 22px;">
                      <md-tooltip md-direction="right">{{ (votos['dpt'][d.slug]['escrutadas']['porcentaje']) }} %</md-tooltip>
                      {{ d.nombre }}
                    </md-chip>
                  </md-chips>
                </section>
            	</section>
            </aside>
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter" style="margin-left:430px; margin-right: 210px;">
                <div layout="row" layout-padding>

                  <div flex="40">
                      <div class="block-util">
                          <div layout="row" layout-padding style="padding: 0px;">
                            <div flex="50">
                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Mesas escrutadas (%):</label>
                                <input required ng-model="votos['dpt'][conteo.current.slug]['escrutadas']['porcentaje']" valid-number decimal-number="2" min="0" max="100" number-mask style="text-align: center;"/>
                              </md-input-container>
                            </div>
                            <div flex="50">
                              <md-input-container class="md-block" flex-gt-sm>
                                <label>Cantidad:</label>
                                <input type="number" required ng-model="votos['dpt'][conteo.current.slug]['escrutadas']['votos']" integer-positive style="text-align: center;"/>
                              </md-input-container>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div flex="60">
                    <div class="separador-select toolbar-filtro">
                      <md-input-container class="md-block" flex-gt-sm style="width: 600px;">
                        <label>XML:</label>
                        <input required ng-model="votos.url_xml" style="text-align: center; font-size: 15px;" readonly=""/>
                      </md-input-container>
                    </div>
                  </div>

                </div>
                <div layout="row" layout-padding class="current-department">
                  <h2>Departamento: {{ conteo.current.nombre }} (Total {{ votos.dpt[conteo.current.slug].curules }} cand.)</h2>
                </div>
                <div layout="row" layout-padding>
                    <div flex="40">
                      <div style="width: 100%; height: 65px;" ng-repeat="partido in listaCandidatos" class="candidato" ng-class="partido.id==conteo.partido.id?'active-block':''">
                          <div ng-class="partido.color" class="item-partido" layout="row" layout-padding>
                              <div flex="70" class="candidato-partido" ng-click="cambiarPartido(partido.id)">
                                <span style="position: absolute; bottom: 15px; left: 0px; font-style: italic; font-size:0.9em;">{{partido.partido}}</span>
                              </div>
                              <div flex="20" class="cantidades-partido votos">
                                  <md-input-container class="md-icon-float md-icon-right md-block">
                                      <span>Total</span>
                                      <input required integer-positive type="number" ng-model="votos['dpt'][conteo.current.slug]['partidos'][partido.id]['total']" tabindex="0" aria-label="votos" style="text-align: center; padding-top: 0px; width:100%;"/>
                                  </md-input-container>
                              </div>
                              <div flex="5" style="position: relative;">
                                <ng-md-icon icon="accessibility" style="" size="24">
                                  <md-tooltip md-direction="right">Parlamentarios</md-tooltip>
                                </ng-md-icon>
                                <!--span style="position: absolute; bottom: 15px; left: 0px; font-style: italic; font-size:0.9em;">
                                </span-->
                              </div>
                          </div>
                      </div>
                    </div>
                    <div flex="50" offset="5" class="lista-escogidos">
                      <h3>Lista de parlamentarios ganadores</h3>

                      <div class="alert-info">Debe escoger un departamento para ingresar los parlamentarios.</div>

                      <!--pre>
                      {{ votos['dpt'][conteo.current.slug]['partidos'][conteo.partido.id]['parlamentarios']|json }}
                    </pre-->

                      <div class="item-tag" layout="row" layout-wrap ng-if="conteo.current.slug!='general'">
                        <div offset="10" flex="65">
                          <md-input-container flex class="enlace-nuevo-candidato">
                              <label style="color: blue; font-size: 0.95rem; ">Haga click para agregar un candidato</label>
                              <input readonly="" style="cursor: pointer;" ng-click="agregarCandidato()">
                          </md-input-container>
                        </div>
                      </div>

                      <div style="overflow: auto; overflow-x: hidden; max-height: 610px; min-height: 460px;">
                        <form name="formEscogidos">
                          <div class="item-tag" layout="row" layout-wrap ng-repeat="cand in votos['dpt'][conteo.current.slug]['partidos'][conteo.partido.id]['parlamentarios']" style="margin-bottom: 2px;">
                            <div flex="5" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                              <span>{{ $index+1 }}</span>
                            </div>
                            <div flex="60">
                              <span style="font-size: 0.8em; color: rgba(0,0,0,0.54)">Nombre completo</span>
                              <md-autocomplete
                                  md-selected-item="votos['dpt'][conteo.current.slug]['partidos'][conteo.partido.id]['parlamentarios'][$index]['detalle']['datos']"
                                  md-search-text="searchText1"
                                  md-search-text-change="searchTextChange(searchText1, $index)"
                                  md-items="item in querySearch($index)"
                                  md-item-text="item.datos"
                                  md-selected-item-change="selectedItemChange($event, item, $index)"
                                  md-min-length="0"
                                  placeholder="Seleccione un nombre">
                                  <md-item-template>
                                      <span md-highlight-text="searchText1" md-highlight-flags="^i">{{item.datos}}</span>
                                  </md-item-template>
                              </md-autocomplete>
                            </div>
                            <div flex="15">
                              <md-input-container flex style="padding-bottom: 0px;">
                                  <label>%</label>
                                  <input required ng-model="votos['dpt'][conteo.current.slug]['partidos'][conteo.partido.id]['parlamentarios'][$index]['porcentaje']" valid-number decimal-number="2" aria-label="porcentaje" min="0" max="100" number-mask/>
                              </md-input-container>
                            </div>
                            <div flex="15">
                              <md-input-container flex style="padding-bottom: 0px;">
                                  <label>Votos</label>
                                  <input required ng-model="votos['dpt'][conteo.current.slug]['partidos'][conteo.partido.id]['parlamentarios'][$index]['votos']" integer-positive type="number"  tabindex="0" aria-label="votos" style="text-align: center; padding-top: 0px;"/>
                              </md-input-container>
                            </div>
                            <div flex="5" style="position: relative;">
                              <ng-md-icon style="position: absolute; bottom: 6px; right: 0px;"
                                ng-click="eliminarCandidato($index)" aria-label="Eliminar" icon="delete"></ng-md-icon>
                            </div>
                          </div>
                        </form>
                      </div>

                    </div>
                </div>
            </section>
            <aside id="historial-conteo" class="sidenav-right sidenav-module md-whiteframe-z2" style="width:280px;">
              <section class="contenedor">
                <aside style="padding: 10px;">
                  <h1>Historial de conteo (%)</h1>
                  <ul>
                     <li ng-repeat="revision in historialConteo"  class="revisions-card" ng-class="revision._id==votos.id?'active-block':''">
                       <div>
                           <strong>({{ revision.porcentaje }}%) - {{ revision.pct }}</strong>
                       </div>
                       <div class="md-caption" ng-if="revision.jstimestamp">
                           Fecha: <time datetime="{{revision.jstimestamp}}">{{revision.jstimestamp | date:'dd/MM/yyyy hh:mm a'}}</time>
                       </div>
                       <md-button type="button" ng-click="clickViewActivity(revision._id)" class="md-icon-button md-button button-activity">
                           <md-tooltip>
                               Editar
                           </md-tooltip>
                           <ng-md-icon icon="rate_review"></ng-md-icon>
                       </md-button>
                     </li>
                  </ul>
                </aside>
            	</section>
            </aside>
        </div>
    </div>
</div>
