/* CSS Document */
@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../inc/fonts/MyriadPro-Semibold.svg#MyriadProSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{margin:0px;padding:0px;}
.congresoprejp{background:url(../img/fondjp.png) #fff repeat-x;    border-top: 2px solid #0060ab;}
#cont_jp{width:1020px;margin:0px auto; position: relative; }
.limpia{clear:both;}
.highcharts-button{display:none;}
.parte1jp{border-bottom:1px solid #c15050;padding-bottom:13px;overflow:hidden;height: 290px;position:relative;}
.parte2jp, .parte3jp{width:510px;float:left;}
.parte2jp{position:relative;}
.parte23jp{display:block;position:relative;}
.titujp1a {
    color: #b63030;
    font-family: 'MyriadPro-Bold';
    font-size: 42px;
    text-align: center;
    padding: 35px 0px 2px 0px;
    margin: 0px;
}
.titujp1{color:#b63030;font-family:'MyriadPro-Bold';font-size:26px;text-align:center;padding-top:15px;}
.parte1jp .titujp1{    text-align: left;
    padding-left: 12px;
   
    z-index: 3;
    position: relative;}
.parte1jp .titujp1 {
    font-size: 26px;
    /*line-height: 240px;*/
    height: 1px;
    padding-top: 0;
}

/* mM */
.congresoprejp .col-share { position: absolute; top: 160px; right: 14px; z-index: 9; }
.home .congresoprejp .col-share { display: none; }

@media (max-width: 768px){
    .congresoprejp .col-share .social-share { opacity: 1; z-index: 9; }
}

#leyendjp{     position: absolute;
    top: 37px;
    z-index: 2;
    /*mM*/
    /*right: 14px;*/
    left: 34px;
    text-align: left;
    font-size: 13px;}
.fila_partihj {
    position: relative;
    padding-left: 13px;
    padding-bottom: 2px;
}
.fila_partihj:before {    content: "";
    width: 8px;
    height: 14px;
    top: 2px;
    left: 0px;
    display: block;
    position: absolute;}
.menuprinjp{ text-align: center; margin-bottom: 10px; position: relative; }
.menuprinjp nav{}
.menuprinjp nav a{margin:5px 10px;font-family: 'MyriadPro-Semibold';font-size:16px;color:#373737;text-decoration:none;}
.menuprinjp nav a:hover, .menuprinjp nav a.activemjp{color:#B63030;}
.florrcabejp{padding-top:5px; float:right;font-family: 'MyriadPro-Regular';color:#B63030;text-align:right;margin-right:10px; position: absolute;
    right: 0;
    top: -2px;}
.palo1jp{width:1px;background:#c15050;position:absolute;left:50%;top:4px;height:100%;bottom:4px;}
.titujp4 {
    font-family: 'MyriadPro-Bold';
    font-size: 53px;
    color: #B63030;
    text-align: center;
    bottom: 8px;
    position: absolute;
    z-index: 2;
   
    width: 150px;
    left: 50%;
    margin-left: -75px;
    line-height: 36px;
}
.highcharts-container > svg > text {display: none;}
.titujp4 span{font-family: 'MyriadPro-Regular';font-size:30px;display:block;}

.cont_part2jp{display:table;width:96%;padding-top:15px;margin:0px auto;}
.cuadro_partjp{cursor:pointer; font-family: 'MyriadPro-Bold';width:50%;box-sizing:border-box;float:left;display:inline-block;padding-left:15px;position:relative;border-bottom:1px solid #c15050;padding-bottom:16px;padding-top:10px;}
.cuadro_partjp:before{width:12px;height:18px;content:"";display:block;position:absolute;top:10px;left:0px;background:#000;}
.cuadro_partjp:nth-child(2n+1):after{content:"";display:block;background:red;width:1px;background:#c15050;top:0px;bottom:11px;position:absolute;right:0px;}
.cuadro_partjp:nth-child(2n+1){padding-right:14px;}
.cuadro_partjp:nth-child(2n+2){padding-left:30px;}
.cuadro_partjp:nth-child(2n+2):before{left:15px;}
.titujp2{font-size:16px;padding:0px;margin:0px;margin-bottom:5px;color:#b63030;    font-family: 'MyriadPro-Bold';}
.titujp3{font-size:14px;}
.floatrijp{float:right;padding-right:20%;position:relative;}

.triangulo_infjp {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 11px solid #000;
    position: absolute;
    top: 0px;right:0px;
}


/** contenedor de mapa **/
#mapa {
  /*  position: absolute;
    width: 50%;*/
    height: 440px;
    right: 0;
}
#mapa #mapa-peru{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*border: 1px dotted #A0A0A0;*/
}

.jqvmap-label
{
    position: absolute;
    display: none;
    /*-webkit-border-radius: 3px;
    -moz-border-radius: 3px;*/
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    z-index: 2;
    /*padding: 3px;*/
}
.jqvmap-zoomin, .jqvmap-zoomout
{
    position: absolute;
    left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #000000;
    padding: 3px;
    color: white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
}
.jqvmap-zoomin
{
    top: 10px;
}
.jqvmap-zoomout
{
    top: 30px;
}
.jqvmap-region
{
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}


/** cuadro flotante **/
.dis_rela{position:relative;}
.cua_flotjp1{border:1px solid #c15050;width:214px;margin:0px auto;background:#fff;margin-top:18px;}
.cua_flotjp1 h3{margin:0px;font-family: 'MyriadPro-Bold';font-size:25px;color:#B63030;}
.flecha_jp1{width: 44px;
    height: 17px;
    top:-17px;left:7px;background:url(../img/flechajp.png) no-repeat;position:absolute;}
.center_cua_flotjp{margin:0px auto;width:90%;padding-top:8px;}
.fila_parti{font-family: 'MyriadPro-Regular';font-size:14px;color:#B63030;padding-bottom:7px;border-bottom:1px #c15050 dashed;margin-top:8px;position:relative; }
.fila_parti:before {
    content: "";
    background: #000;
    width: 9px;
    height: 20px;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 5px;
}
.fila_parti span{float:right;}
/*.center_cua_flotjp2{height:170px;overflow-y:scroll;}*/
.cont_partijp1{position: relative;display: block;}
.cont_partijp1:after{content:"";width:100%;position:absolute;bottom:0px;height:1px;background:#fff;}
.jqvmap-label{background:none;}
.list-partidojp{font-size:11px;font-family: 'MyriadPro-Regular';overflow-y:scroll;padding-right:4px;height:80px;line-height:18px;}
.nombre-partido{font-size:24px;font-family: 'MyriadPro-Bold';/*padding-bottom:4px;*/}

/** popup partido politico **/
.fondoblajp {
    position: absolute;
    top: 0px;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background: rgba(255, 255, 255, 0.68);
    z-index: 2;
}
.popparpolijp{background:#fff;width:90%;top:15%;left:5%; position:absolute;z-index:3;}
.borpopparpolijp{box-sizing:border-box;padding:5px 6px;position:relative;padding-top:10px;}
.cerrpopparpolijp {
    position: absolute;
    border-radius: 10px;
    background: #fff;
    font-family: 'MyriadPro-Bold';
    font-size: 16px;
    right: -10px;
    top: -12px;
    padding: 3px 6px 1px;
    line-height: 16px;cursor:pointer;
}
.tablepopparpolijp thead tr td{font-size:16px;color:#b63030;font-family: 'MyriadPro-Bold';}
.tablepopparpolijp tr td{font-size:12px;color:#b63030;font-family: 'MyriadPro-Regular';}
.fondoblajp, .popparpolijp{display:none;}
/** colores partidos **/
.orange span {
   color: #ff7c44;
 }
.orange:before{ background: #ff7c44;}
.orange .triangulo_infjp{ border-top-color:#ff7c44; }
.blue span {
color: #004891;
}
.blue:before{ background: #004891;}
.blue .triangulo_infjp{ border-top-color:#004891; }
.yellow span {
color: #e8c02b;
}
.yellow:before{ background: #e8c02b;}
.yellow .triangulo_infjp{ border-top-color:#e8c02b; }
.red span {
color: #ea2626;
}
.red:before{ background: #ea2626;}
.red .triangulo_infjp{ border-top-color:#ea2626; }
.green span {
color: #006600;
}
.green:before{ background: #006600;}
.green .triangulo_infjp{ border-top-color:#006600; }
.purple span {
color: #9787B7;
}
.purple:before{ background: #9787B7;}
.purple .triangulo_infjp{ border-top-color:#9787B7; }
.brown span {
color: #844d11;
}
.brown:before{ background: #844d11;}
.brown .triangulo_infjp{ border-top-color:#844d11; }
.lightblue span {
color: #008ab5;
}
.lightblue:before{ background: #008ab5;}
.lightblue .triangulo_infjp{ border-top-color:#008ab5; }
.purple span {
color: #86248b;
}
.purple:before{ background: #86248b;}
.purple .triangulo_infjp{ border-top-color:#86248b; }
.mustard span {
color: #937000;
}
.mustard:before{ background: #937000;}
.mustard .triangulo_infjp{ border-top-color:#937000; }
.pink span {
color: #ee6262;
}
.pink:before{ background: #ee6262;}
.pink .triangulo_infjp{ border-top-color:#ee6262; }
.turquoise span {
color: #56a56c;
}
.turquoise:before{ background: #56a56c;}
.turquoise .triangulo_infjp{ border-top-color:#56a56c; }
#containerjp{min-width: 310px; height: 290px; max-width: 100%; margin: 14px auto 0;z-index:1;position:relative;}

.congresoprejp2{background-color:#fff;margin-bottom:15px;margin-bottom:10px !important;}
.submenujchs .wrap-especial.in-content{    border-top: 2px solid #0060ab;margin-bottom: 1rem;}
.cont_scrolljch{position: relative;overflow-y:auto;max-height: 400px; }
.cant_parjch0 .titujp2, .cant_parjch0 span{color: #999 !important;}
.cant_parjch0:before{background: #999 !important;}
.cant_parjch0 .triangulo_infjp {border-top-color:#999 !important;}

@media only screen and (max-width: 1020px){
    #cont_jp{width:98%}
    .parte2jp, .parte3jp{width:50%;}
}

@media only screen and (max-width: 820px){
    .parte1jp .titujp1{    line-height: normal; height: auto;    text-align: center; }
    #leyendjp{display: none;}
}

@media only screen and (max-width: 720px){
    #mapa .social-share ul li a{ line-height: 35px }
    .parte2jp, .parte3jp{width:100%;border-top:1px solid #c15050;padding-top:15px;padding-bottom:20px;}
    .palo1jp {
    width: 1px;
    background: #c15050;
    position: absolute;
    left: 50%;
    top: 4px;
    height: 100%;
    bottom: 4px;display:none;
}
.parte3jp{min-height:600px;}
    #mapa {
        /*position: absolute;
        width: 50%;*/
        height: 440px;
        right: 25%;
    }
   
}
@media only screen and (max-width: 720px){
    .florrcabejp > div{display: none;}
}
@media only screen and (max-width: 650px){

     #containerjp{height: 220px;}
     .parte1jp{height: 255px;}
     .titujp4 {
    font-size: 30px;
    line-height: 25px;
    }
    .titujp4 span {  font-size: 20px; }
}
@media only screen and (max-width: 450px){
    .jqvmap-label{ left: 20px!important; width: 90%!important; }
    .cuadro_partjp{width: 100%;}
    .cuadro_partjp:nth-child(1n+1) {
        padding-right: 14px;
    }

    .cuadro_partjp:nth-child(2n+2) {
    padding-left: 14px;
    }
    .cuadro_partjp:nth-child(2n+2):before {
    left: 0px;
    }

    .cuadro_partjp:nth-child(2n+1):after {
    width: 0px; 
    }
    .tablepopparpolijp thead tr td{font-size:12px;color:#b63030;font-family: 'MyriadPro-Bold';}
    .popparpolijp{    width: 100%;left: 0%;}
    .tablepopparpolijp tr td { font-size: 11px;}
    .parte1jp .titujp1 { height: 35px; }
    .parte1jp { height: 238px;}
}

@media only screen and (max-width: 380px){
    .parte1jp .titujp1 { height: 18px; }
    .parte1jp { height: 232px;}
}