@charset "UTF-8";
/* CSS Document */

/*@font-face{
	font-family: fuenteModulo;
	src: url(../fonts/MyriadPro-Regular.otf);
}
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*body{
	height: 100%;
	background: #fff url(../img/bg-flash-electoral-2016.png) 0 0 repeat-y;

}*/

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg#MyriadProBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg#MyriadProRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../inc/fonts/MyriadPro-Semibold.svg#MyriadProSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.contenedor.contpresidenjps{background:url(../img/fondjp.png) repeat-x;background-color: #fff;padding-bottom: 15px;border-top: 2px solid #0060ab;}
.contenedor.contpresidenjps .cabecera h1{    color: #b63030;
    font-family: 'MyriadPro-Bold';
    font-size: 42px;
    text-align: center;
    padding: 45px 0px 2px 0px;
    margin: 0px;}
.grid.pad .story{
	font-family: 'MyriadPro-Bold', Arial;
}
.contenedor{
	max-width: 1200px;
	margin: 15px auto;

}
.cabecera{
	width: 100%;
	height: auto;
	position: relative;
}
.cabecera h1{
	text-align: center;
	color: #9D3333;
}
.contenido{
	height: 810px;
	position: relative;
}
/* COL DER*/
#mapa{
	/*position: absolute;
	width: 830px;
	height: 100%;
	left: 370px;*/
	position: relative;
    margin-left: 388px;
    z-index: 1;

}
#mapa #mapa-peru{
	width: 100%;
    height: 800px;
	margin: 0 auto;
	/*border: 1px dotted #A0A0A0;*/
}

/*mM*/
.home #mapa .social-share { display: none; }
#mapa .col-share { position: absolute; right: 30px; top: 92px; z-index: 9; }
@media (max-width: 768px){
    #mapa .col-share .social-share { opacity: 1; z-index: 9; }
}

.jqvmap-label{
	z-index: 235;
}
/* COL IZQ */
#detalle{
	 width: 370px;
    height: 100%;
    position: absolute;
    z-index: 99;
    overflow: hidden;
    top: 10px;
    left: 20px;
}
.referencia{
	height: 34px;
	padding: 2px;
	position: relative;
}
.referencia h1{
	font-size: 1.1em;
	font-weight: normal;
	padding: 6px;
	background-color: #b6302f;
	text-align: center;
	color: #fff;
}
.referencia .volver{
	position: absolute;
	right: 0;
	top: 30%;
	font-size: 0.8em;
	margin-right:10px;
	cursor: pointer;
	color: #fff;
}
.referencia .volver:hover{
	color: #0000FF;
}

.menu-lista{
	max-height: 585px;
	color: #B63030;
	overflow-y: auto;
}
/* Candidato item */
.candidato{
	cursor: pointer;
	position: relative;
	border-bottom: 1px dotted #b6302f;
	margin: 5px 0;
	/*height: 90px;*/
	padding: 0;
}
.foto{
	width: 79px;
	height: 79px;
	float: left;
	margin-right: 5px;
}
.foto img{
	max-width: 100%;
	height: 100%;
	border-radius: 60px;
	border: 1.5px solid;
}
.descripcion{
	/*width: 262px;
	float: left;*/
	overflow: hidden;
	margin-left: 14px;
	/*margin-top: 7px;*/
}
/* Info candidato */
.nombre{
	display: block;
    font-weight: 500;
    font-size: 21.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}
.partido{
	/*display: inline-block;*/
	font-size: 0.8em;
	text-transform: uppercase;
	/*margin-left: 3px;*/
}
.votos{
	font-size: 0.7em;
}
.votos::after{
	content: " votos ";
}
.cifra{
	float: left;
	margin-left: 7px;
	font-weight: 500;
}
.cifra::after{
	content: ' %';
}
/* Barra porcentaje */
.porcentaje{
	margin: 5px 0;
	display: inline-block;
	width: 100%;
	background: transparent;
	position: relative;
	max-width: 100%;
}
.meter{
	width: 190px;
}
.meter > span {
  float: left;
  display: block;
  height: 18px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69%);
  position: relative;
  overflow: hidden;
  transition-duration: 800ms;
}
.orange > span {
  background-color: #ff7c44;
}
.blue > span {
  background-color: #004891;
}
.yellow > span {
  background-color: #e8c02b;
}
.red > span {
  background-color: #ea2626;
}
.green > span {
  background-color: #006600;
}
.purple > span {
  background-color: #9787B7;
}
.brown > span {
  background-color: #844d11;
}
.lightblue > span {
  background-color: #008ab5;
}
.purple > span {
  background-color: #86248b;
}
.mustard > span {
  background-color: #937000;
}
.pink > span {
  background-color: #ee6262;
}
.turquoise > span {
  background-color: #56a56c;
}

.escrutado .item{
	color: #b6302f;
    cursor: pointer;
    position: relative;
    border-bottom: 1px dotted #b6302f;
    margin: 5px 0;
    min-height: 55px;
    padding: 0;
}
.escrutado .tipo{
   /* width: 79px;*/
    float: left;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
    /*word-wrap: break-word*/
    line-height: 55px;
}
.escrutado .item:last-child .tipo{
    font-size: 0.9em;
}
.escrutado .detalle{
   /* width: 262px;
    float: left;
    margin-left: 14px;*/
    overflow: hidden;
  /*  line-height: 50px*/
}


.escrutado .detalle .porcentaje{ margin-top: 8px; }
.escrutado .detalle .votos{ display: none; }
.escrutado .detalle .cifra{ margin-top: 11px; }

.escrutado .meter > span{ margin-top: 10px;  margin-left: 5px; }

/** CSS */
.dis_rela{position:relative;}
.cua_flotjp1{border:1px solid #c15050;width:214px;margin:0px auto;background:#fff;margin-top:18px;}
.cua_flotjp1 h3{margin:0px;font-family: 'MyriadPro-Bold';font-size:25px;color:#B63030;}
.flecha_jp1{width: 44px;
    height: 17px;
    top:-17px;left:7px;background:no-repeat;position:absolute;}
.center_cua_flotjp{margin:0px auto;width:94%;padding-top:8px;}
.fila_parti{font-size:14px;color:#B63030;padding-bottom:7px;border-bottom:1px #c15050 dashed;margin-top:8px;position:relative; }
.fila_parti:before {
    content: "";
    background: #000;
    width: 9px;
    height: 20px;
    vertical-align: bottom;
    display: inline-block;
    margin-right: 5px;
}
.fila_parti > span{float:right; padding: 0 5px; border-radius: 3px;background-color: #fff;}
.cont_partijp1{position: relative;display: block;}
.cont_partijp1:after{content:"";width:100%;position:absolute;bottom:0px;height:1px;background:#fff;}

.fila_parti.orange:before {
    background: #ff7c44;
}
.fila_parti.blue:before {
  background-color: #004891;
}
.fila_parti.yellow:before {
  background-color: #e8c02b;
}
.fila_parti.red:before {
  background-color: #ea2626;
}
.fila_parti.green:before {
  background-color: #006600;
}
.fila_parti.purple:before {
  background-color: #9787B7;
}
.fila_parti.brown:before {
  background-color: #844d11;
}
.fila_parti.lightblue:before {
  background-color: #008ab5;
}
.fila_parti.purple:before {
  background-color: #86248b;
}
.fila_parti.mustard:before {
  background-color: #937000;
}
.fila_parti.pink:before {
  background-color: #ee6262;
}
.fila_parti.turquoise:before {
  background-color: #56a56c;
}


.line-status{ padding-top: 40px; position: relative; margin: 0 40px; }
.line-status .line-red{ width: 100%; height: 4px; background: #ebd1d1;
background: -moz-linear-gradient(left,  #ebd1d1 0%, #ebd1d1 30%, #d59e9e 30%, #d59e9e 56%, #ebd1d1 56%, #ba6b6b 56%, #ba6b6b 84%, #ba6b6b 84%, #a04242 84%, #a04242 100%);
background: -webkit-linear-gradient(left,  #ebd1d1 0%,#ebd1d1 30%,#d59e9e 30%,#d59e9e 56%,#ebd1d1 56%,#ba6b6b 56%,#ba6b6b 84%,#ba6b6b 84%,#a04242 84%,#a04242 100%);
background: linear-gradient(to right,  #ebd1d1 0%,#ebd1d1 30%,#d59e9e 30%,#d59e9e 56%,#ebd1d1 56%,#ba6b6b 56%,#ba6b6b 84%,#ba6b6b 84%,#a04242 84%,#a04242 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd1d1', endColorstr='#a04242',GradientType=1 );
);
}
.line-status .point-porc{  position: absolute; left: auto; bottom: -11px; cursor: pointer;}
.line-status .point-porc > .globe{ display: inline-block; width: 16px; margin-left: -8px; height: 30px; background: url(../img/globe_normal.png); position: relative; }
.line-status .point-porc > .big{  width: 36px; margin-left: -18px; height: 53px; background: url(../img/globe_hover.png); position: relative; display: none; text-align: center; line-height: 7px;   }
.line-status .point-porc > .big span{ color: #9c3333; font-size: 10px; display: inline-block; margin-top: 11px; font-weight: 500; }
.line-status .point-porc:hover > .globe {  display: none; }
.line-status .point-porc:hover > .big{ display: block;   }

.line-status .point-porc.active .big{ display: block; }
.line-status .point-porc.active .globe{ display: none; }

.line-statusjch{ padding-top: 40px; position: relative; margin: 0 15px;    margin: 8px 15px 40px 15px; }
.line-statusjch .line-red{ width: 100%; height: 4px; background: #ebd1d1;
background: -moz-linear-gradient(left,  #ebd1d1 0%, #ebd1d1 30%, #d59e9e 30%, #d59e9e 56%, #ebd1d1 56%, #ba6b6b 56%, #ba6b6b 84%, #ba6b6b 84%, #a04242 84%, #a04242 100%);
background: -webkit-linear-gradient(left,  #ebd1d1 0%,#ebd1d1 30%,#d59e9e 30%,#d59e9e 56%,#ebd1d1 56%,#ba6b6b 56%,#ba6b6b 84%,#ba6b6b 84%,#a04242 84%,#a04242 100%);
background: linear-gradient(to right,  #ebd1d1 0%,#ebd1d1 30%,#d59e9e 30%,#d59e9e 56%,#ebd1d1 56%,#ba6b6b 56%,#ba6b6b 84%,#ba6b6b 84%,#a04242 84%,#a04242 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd1d1', endColorstr='#a04242',GradientType=1 );
);
}
.line-statusjch .point-porc{  position: absolute; left: auto; bottom: -11px; cursor: pointer;}
.line-statusjch .point-porc > .globe{ display: inline-block; width: 16px; margin-left: -8px; height: 30px; background: url(../img/globe_normal.png); position: relative; }
.line-statusjch .point-porc > .big{  width: 36px; margin-left: -18px; height: 53px; background: url(../img/globe_hover.png); position: relative; display: none; text-align: center; line-height: 7px;   }
.line-statusjch .point-porc > .big span{ color: #9c3333; font-size: 8px; }
.line-statusjch .point-porc:hover > .globe {  display: none; }
.line-statusjch .point-porc:hover > .big{ display: block;   }
.line-status .porcentaje{
	position: absolute;
  right: -25px;
  bottom: -10px;
  width: auto;
  font-weight: 400;
  color: #B03030;
  cursor: default;
}
/*.seperator {
  height: 12px;
  overflow: hidden;
  position: relative;
}
.seperator:before, .seperator:after {
  border-bottom: 50px solid transparent;
  border-left: 50px solid #b6302f;
  border-right: 50px solid #b6302f;
  bottom: 0;
  content: " ";
  position: absolute;
  width: 50%;
}
.seperator:before {
  left: -100px;
}
.seperator:after {
  right: -100px;
}*/

.candidato.off .foto{
	opacity: 0.1;
}
.candidato.off .descripcion{
	color: #CBCBCB;
}
.candidato.off .meter > span{
	background-color: #CBCBCB !important;
}

#fuentes-lista, #departamentos-lista{
	width: 100%; background-color: #B63030; color: #fff; padding: 0 0 0 20px; height: 25px;
}
/*.escrutado .item.impugnados{display: none;}*/
.ocultosmarjch{display: none;}
.submenujchs .wrap-especial.in-content{    border-top: 2px solid #0060ab;margin-bottom: 1rem;}

.hide-impugnados{
  display: none;
}

.menu-lista .votos, .escrutado .votos{
	visibility: hidden;
}

#mesas-escrutadas{
	color: #b6302f;
	font-size: 1em;
	text-align: right;
}

#mesas-escrutadas:before{
	content: 'AL ';
}
#mesas-escrutadas:after{
	content: '%';
}

.orange .foto > img{
  background-color: #ffc5ab;
}
.blue .foto > img{
  background-color: #98bed3;
}
.yellow .foto > img{
  background-color: #f9de87;
}
.red .foto > img{
  background-color: #ffa4a4;
}
.green .foto > img{
  background-color: #99b599;
}
.purple .foto > img{
  background-color: #caaecc;
}
.brown .foto > img{
  background-color: #bf9475;
}
.lightblue .foto > img{
  background-color: #a2e3ed;
}
.purple .foto > img{
  background-color: #caaecc;
}
.mustard .foto > img{
  background-color: #c1b078;
}
.pink .foto > img{
  background-color: #c9a3a3;
}
.turquoise .foto > img{
  background-color: #afddc3;
}

.menu .line-status{
	display: none;
	margin: 0px 20px 25px;
	padding-top: 30px;
}
#mapa .line-status{
	display: block;
}


.story .col-share{
   position: absolute;
   right: 34px;
}

@media only screen and (max-width:1200px){

}

@media only screen and (max-width:768px){
	 #mapa .social-share ul li a{ line-height: 35px }
	.ocultosmarjch{display: block;}
	/*.line-status{display: none;}*/
	.contenedor{
		width:100%;
		height:100%;
	}
	.contenido{
		height: 100%;
	}
	#mapa{
		position: static;
		width: 100%;
		height: 600px;
	}
	/* COL IZQUIERDA */
	#detalle{
		width: 100%;
		height: auto;
		position: static;

	}
	.descripcion{
		width: 83%;
		margin-left: 1%;
	}
	.porcentaje, .meter{
		width: 85%;
	}
	.menu-lista{
		height: 100%;
		overflow-y: hidden;
		max-height: none;
	}
	.foto{
		width: 15%;
		height: 79px;
		text-align: center;
	}

	/*.escrutado .item{
		color: #b6302f;
	    cursor: pointer;
	    position: relative;
	    border-bottom: 1px dotted #b6302f;
	    margin: 5px 0;
	    height: 55px;
	    padding: 0;
	}
	.escrutado .tipo{
	    width: 15%;
	}
	.escrutado .detalle{
	    width: 83%;
		margin-left: 1%;
	}*/
	.escrutado .tipo{ margin-left: 15px }

	.cabecera{
		width: 100%;
		height: auto;
	}
	.cabecera h1{
		padding: 35px;
	}
	.contenedor{
		width: 100%;
		height: 100%;
	}
	.contenido{
		height: auto;
	}
	/* COL DERECHA */
	#mapa{
		position: static;
		width: 100%;
		height: 500px;
		margin-left: 0;
	}
	#mapa #mapa-peru{
		height: 500px
	}
	/* COL IZQUIERDA */
	#detalle{
		width: 100%;
		height: auto;
	}
	.descripcion{
		width: 75%;
		margin-left: 5%;
	}
	.porcentaje, .meter{
		width: 75%;
	}
	.menu-lista{
		height: 100%;
		overflow-y: hidden;
	}
	.foto{
		width: 15%;
		height: 79px;
		text-align: center;
		margin-left: 3%;
	}
	/*.escrutado .tipo{
	    width: 15%;
	    margin-left: 3%;
	}
	.escrutado .detalle{
	    width: 75%;
		margin-left: 5%;
	}*/
	#mesas-escrutadas{
		margin-left: 5%;
	}
	.menu .line-status{
		margin-top: 15px;
		display: block !important;

	}
	#mapa .line-status{
		display: none !important;
	}
}

/* MOVIL */
@media only screen and (max-width:480px){

	/*.jqvmap-label {
	    position: fixed;
	    left: 0!important;
	    top: 0!important;
	    width: 100%;
	    height: 100%;
	    background: rgba(0,0,0,.8);
	}*/

	 #mapa .social-share ul li a{ line-height: 35px }
	#content > .pad{ background: none; }
	.cabecera{
		width: 100%;
		height: auto;
	}
	.cabecera h1{
		padding: 10px;
		font-size: 23px!important;
		font-family: 'MyriadPro-Bold', Arial;

	}
	.contenedor{
		width: 100%;
		height: auto;
	}
	.foto{
		margin-left: 3%;
	}
	.contenido{
		height: auto;
	}
	.referencia{
		/*height: 35px;*/
		padding: 0 15px
	}
	/*.descripcion, .escrutado .detalle{
		width: 75%;
		margin-left: 5%;
	}
	.escrutado .tipo{
		margin-left: 3%;
		font-size: 0.9em;
	}
	.porcentaje, .meter{
		width: 50%;
	}*/

	.foto img{ height: auto; }

	.menu .line-status{
		display: block !important;
	}
	#mapa .line-status{
		display: none !important;
	}
	.line-status .porcentaje{
		display: none;
	}
}
