<md-dialog flex="95" aria-label="Ver Detalle">
  <md-dialog-content>
      <div layout="row">
          <div flex="35">
              <ul class="lista-detalle">
                  <li>
                      <div class="lista-etiqueta--detalle">Titulo:</div>
                      <div class="lista-etiqueta--nombre input-inner">
                            <md-input-container>
                                <textarea ng-model="modal.titulo" rows="1"></textarea>
                            </md-input-container>
                      </div>
                  </li>
                  <li>
                      <div class="lista-etiqueta--detalle">Leyenda:</div>
                      <div class="lista-etiqueta--nombre input-inner">
                          <md-input-container>
                              <textarea ng-model="modal.descripcion" rows="1"></textarea>
                          </md-input-container>
                      </div>
                  </li>
                  <li>
                      <div class="lista-etiqueta--detalle">Duración:</div>
                      <div class="lista-etiqueta--nombre"><span>Ancho :</span> {{modal.duracion}}</div>
                  </li>
                  <li ng-if="filesize">
                      <div class="lista-etiqueta--detalle">Peso:</div>
                      <div class="lista-etiqueta--nombre">{{filesize}}</div>
                  </li>
                  <li>
                      <div class="lista-etiqueta--detalle">Fecha de creación:</div>
                      <div class="lista-etiqueta--nombre">{{modal.created_time * 1000 | date:'dd/MM/yyyy hh:mm a'}}</div>
                  </li>
                  <li>
                      <div class="lista-etiqueta--detalle">Fecha de actualización:</div>
                      <div class="lista-etiqueta--nombre">{{modal.updated_time * 1000 | date:'dd/MM/yyyy hh:mm a'}}</div>
                  </li>
                  <li>
                      <div class="lista-etiqueta--detalle">Tags:</div>
                      <div class="lista-etiqueta--nombre input-inner">
                          <div ng-if="modal.tag" class="md-chips">
                            <div class="md-chip inner-md-chip" ng-repeat="item in modal.tag">
                                <div>{{item}}</div>
                            </div>
                          </div>
                      </div>
                  </li>
              </ul>
              <div class="content-metadata" ng-if="modal.metadata">
                  <h4 class="lista-title">Metadata:</h4>
                  <ul class="lista-detalle">
                      <li ng-if="val != 'Unavailable'" ng-repeat="(key, val) in modal.metadata">
                          <div class="lista-etiqueta--nombre">{{key}}: {{val}}</div>
                      </li>
                  </ul>
              </div>
          </div>
        <div flex="5">
        </div>
          <div flex="60" class="preload">
              <div ng-if="modal.url">
                <md-input-container>
                    <input ng-readonly="true" onclick="this.select();" ng-model="modal.url" />
                </md-input-container>
              </div>
              <jwplayer2 only-player="true" player-id="{{modal._id}}" setup="setupVar"></jwplayer2>
          </div>
      </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button type="button" ng-click="updateOpenDetailPhoto()" class="md-primary">
      Actualizar
    </md-button>
    <md-button type="button" ng-click="closeOpenDetailPhoto()" class="md-primary">
      Cerrar
    </md-button>
  </div>
</md-dialog>
