@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-1:before {
  content: "a";
}
.icon-whatsapp:before {
  content: "b";
}
.icon-mapa:before {
  content: "c";
}
.icon-nota:before {
  content: "f";
}
.icon-telefono:before {
  content: "g";
}
.icon-4:before {
  content: "h";
}
.icon-5:before {
  content: "i";
}
.icon-rss:before {
  content: "6";
}
.icon-6:before {
  content: "j";
}
.icon-11:before {
  content: "k";
}
.icon-8:before {
  content: "l";
}
.icon-7:before {
  content: "m";
}
.icon-12:before {
  content: "n";
}
.icon-13:before {
  content: "o";
}
.icon-14:before {
  content: "p";
}
.icon-17:before {
  content: "s";
}
.icon-19:before {
  content: "t";
}
.icon-20:before {
  content: "u";
}
.icon-21:before {
  content: "v";
}
.icon-arrow-down:before {
  content: "w";
}
.icon-arrow-up:before {
  content: "x";
}
.icon-25:before {
  content: "y";
}
.icon-26:before {
  content: "z";
}
.icon-infografia:before {
  content: "A";
}
.icon-24:before {
  content: "B";
}
.icon-users:before {
  content: "C";
}
.icon-cerrar:before {
  content: "D";
}
.icon-linkedin:before {
  content: "E";
}
.icon-fast-backward:before {
  content: "F";
}
.icon-fast-forward:before {
  content: "G";
}
.icon-pause:before {
  content: "H";
}
.icon-10:before {
  content: "I";
}
.icon-hamburguesa:before {
  content: "J";
}
.icon-ellipsis:before {
  content: "K";
}
.icon-ellipsis-2:before {
  content: "L";
}
.icon-finalizado:before {
  content: "M";
}
.icon-resize-expand:before {
  content: "N";
}
.icon-mas:before {
  content: "O";
}
.icon-mas-circulo:before {
  content: "P";
}
.icon-9:before {
  content: "Q";
}
.icon-zoom-in:before {
  content: "R";
}
.icon-denegado:before {
  content: "S";
}
.icon-heart:before {
  content: "T";
}
.icon-heart-empy:before {
  content: "U";
}
.icon-por-iniciar:before {
  content: "V";
}
.icon-clock:before {
  content: "W";
}
.icon-home:before {
  content: "X";
}
.icon-partido-en-vivo:before {
  content: "Y";
}
.icon-2:before {
  content: "Z";
}
.icon-lista:before {
  content: "q";
}
.icon-angle-double-left:before {
  content: "e";
}
.icon-angle-double-right:before {
  content: "r";
}
.icon-cancel:before {
  content: "0";
}
.icon-trafico:before {
  content: "1";
}
.icon-rotafono:before {
  content: "2";
}
.icon-cine:before {
  content: "3";
}
.icon-cloud-sun:before {
  content: "4";
}
.icon-google-plus:before {
  content: "5";
}
.icon-3:before {
  content: "d";
}
