#header
  #x-fixed-menutop.hdr-body.menu-small
    .inner
      .grid
        #organization.logo(itemprop='publisher', itemscope='', itemtype='https://schema.org/Organization')
          meta(itemprop='name', content='RPP Noticias')
          div(itemprop='logo', itemscope='', itemtype='https://schema.org/ImageObject')
            meta(itemprop='width', content='153')
            meta(itemprop='height', content='63')
            h1.logo-head
              a(href="/")
                img(itemprop='url', content= "http://rpp.pe/static/img/logo-rpp.png", src="/static/img/logo-rpp.png", alt="RPP Noticias", title="RPP Noticias")
                span.hide RPP Noticias

        .content-side
          .col.col-live
            a.envivo(href='/radioenvivo')
              img.ico(src='/static/img/envv.svg' alt="En Vivo")
              span.titu En Vivo: #{''}
                strong DESPIERTA PERÚ
          .col.col-social
            ul.x-social-native
              li.fb
                .fb-like(data-href="https://www.facebook.com/rppnoticias/", data-layout="button")
              li.tw
                a.twitter-follow-button(href="https://twitter.com/RPPNoticias", data-show-count="false", data-lang="es", data-show-screen-name="false")
              li.gp
                .g-follow(data-annotation="none", data-height="20", data-href="//plus.google.com/113482325785133390225", data-rel="author")

          .col.col-options
            .nav-right
              ul
                li.opt-menu
                  a(href="#link" id="btn-menu")
                    span.icon-list

      .content-nav
        .grid.content-nav
          nav.nav-main
            .account
              .row.buttons
                ul
                  li
                    a(id="btn-edition", href="#") Edición general
                      span.icon-chevron-down
                  //li
                    a(href="#") Acceder
                      span.icon-users
              .row.list
                ul
                  each val in ["Edición general", "Ancash", "Arequipa", "Ica", "La Libertad", "Puno", "Lambayeque", "Piura", "Junín", "Cusco"]
                    li
                      a(href="/", )= val
            form(class="search-form" action='/buscar', method='POST', onsubmit='fn(this, event, {"method":"search"})')
              input(class="search-input", id="search-input-menu" type='search', name='b', placeholder='Ingrese su búsqueda')
              button
                span.icon-magnifier
            .title Temas
            .topics-list
              ul
                each val in ["Belaunde Lossio", "Nadine Heredia", "Ollanta Humala", "Política", "Deportes"]
                  li
                    a(href="/", )= val
            .special
              .holder
                +imgtemp('tmp-special.jpg')
                a(href="#link")
                  span.icon-chevron-right
            .title Secciones
            ul.menubar
              each val in ["Política", "Actualidad", "Deportes", "Entretenimiento", "Perú", "Mundo", "Economía", "Vida", "Tecno", "Viral", "Autores", "Radio", "TV"]
                li
                  a(href="/", )= val
            .services
              .title Servicios
              .inner
                ul
                  li
                    a(href="#link")
                      span.icon-rotafono
                      span.title Rotafono
                  li
                    a(href="#link")
                      span.icon-bus
                      span.title Tráfico
                  li
                    a(href="#link")
                      span.icon-movie
                      span.title Cine
                  li
                    a(href="#link")
                      span.icon-cloud-sun
                      span.title Clima
            form(class="newsletter-form" action='/', method='GET')
              .title suscríbete a nuestro newsletter
              .inner
                input(class="search-input" type='search', name='b', placeholder='Email')
                button
                  span.icon-envelope
            .en-redes
              .title RPP en las Redes Sociales
              .social
                ul
                  li.fb
                    a(href="link")
                      span.icon-facebook
                  li.tw
                    a(href="link")
                      span.icon-twitter
                  li.yt
                    a(href="link")
                      span.icon-youtube
