section#mamXYZ.rpp-mam-xyz
  header.rpp-mam-xyz--header
    h5.rpp-mam-xyz--title Eliminatorias Sudamericanas: Uruguay vs. Chile
  section.rpp-mam-xyz--team
    .rpp-mam-xyz--state
      .rpp-mam-xyz--state-finalizado Finalizado
    .rpp-mam-xyz--table
      .rpp-mam-xyz--table-row
        .rpp-mam-xyz--table-cell.rpp-mam-xyz--team-math
          img.rpp-mam-xyz--team-shield1(width='50', height='50', src='http://s3.amazonaws.com/p-gruporpp-media/mam/escudos/172.png', alt='Escudo')
        .rpp-mam-xyz--table-cell.rpp-mam-xyz--cell-point 3-0
        .rpp-mam-xyz--table-cell.rpp-mam-xyz--team-math
          img.rpp-mam-xyz--team-shield2(width='50', height='50', src='http://s3.amazonaws.com/p-gruporpp-media/mam/escudos/159.png', alt='Escudo')
    .rpp-mam-xyz--over
      .rpp-mam-xyz--over-team-match-1 Uruguay
      .rpp-mam-xyz--over-team-match-2 Chile
  section.rpp-mam-xyz--goals
    .rpp-mam-xyz--goals-inner
      ul.rpp-mam-xyz--goals-1
        li.rpp-mam-xyz--goalname-insert(style='opacity: 1; height: auto; overflow: visible;')
          strong 22'
          |  Diego Godín
        li.rpp-mam-xyz--goalname-insert(style='opacity: 1; height: auto; overflow: visible;')
          strong 61'
          |  Álvaro Pereira
        li.rpp-mam-xyz--goalname-insert(style='opacity: 1; height: auto; overflow: visible;')
          strong 64'
          |  Martín Cáceres
      ul.rpp-mam-xyz--goals-2
  section.rpp-mam-xyz--flow
    ul.rpp-mam-xyz--flow-help
      li.rpp-mam-xyz--loading(style='opacity: 0; height: 0px; overflow: hidden;')
        img(src='http://rpp.pe/html/mam/img/spin-loader.svg', width='25', height='25', alt='Spin')
        |  actualizando
    ul.rpp-mam-xyz--flow-inside-recursive
    ul.rpp-mam-xyz--flow-inside
      li.rpp-mam-xyz--inside
      li#0.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p ¡¡Final del partido!! Uruguay ganó 3-0 a Chile en Montevideo.
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 92
      li#1.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p ¡¡Nuevo gol uruguayo!! ¡¡Esta vez anotó Martín Cáceres!!
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding.rpp-mam-xyz--time-exito 62
          .rpp-mam-xyz--icon
            i.rpp-mam-xyz-icon-gol
      li#2.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p ¡¡Gol de cabeza de Álvaro Pereira!!
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding.rpp-mam-xyz--time-exito 61
          .rpp-mam-xyz--icon
            i.rpp-mam-xyz-icon-gol
      li#3.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p
            | El partido se detiene. El árbitro muestra una amarrilla a Maximiliano Pereira (URU).
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 54
      li#4.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p
            | Alexis Sánchez (CHI) recibe una tarjeta amarilla. Cometió una falta contra Diego Godín (URU).
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 53
          .rpp-mam-xyz--icon
            i.rpp-mam-xyz-icon-tarjeta-amarilla
      li#5.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p ¡¡Arrancó el segundo tiempo!!
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 45
          .rpp-mam-xyz--icon
            i.rpp-mam-xyz-icon-finalizado
      li#6.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p ¡¡Final del primer tiempo!!
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 47
          .rpp-mam-xyz--icon
            i.rpp-mam-xyz-icon-finalizado
      li#7.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p Aquí puedes revivir el tanto de Godín. Uruguay gana 1-0 a Chile.
        .rpp-mam-xyz--media
          div
          div
          iframe.pinged.loaded(src='https://vine.co/v/iumAY6tqzx6/embed/simple', width='600', height='600', frameborder='0')
          script(src='https://platform.vine.co/static/scripts/embed.js')
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 34
      li#8.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p
            | El duelo se llena de amarrillas. Estas son las que se han dado hasta el momento Arturo Vidal y Medel (Chile) / Corujo y Godín (Uruguay)
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 29
          .rpp-mam-xyz--icon
            i.rpp-mam-xyz-icon-tarjeta-amarilla
      li#9.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p Hubo antes un conato de bronca. Al final el árbitro supo controlar la situación.
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 27
      li#10.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p ¡¡Gol de Uruguay!! ¡¡Gol de Godín!!
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding.rpp-mam-xyz--time-exito 24
          .rpp-mam-xyz--icon
            i.rpp-mam-xyz-icon-gol
      li#11.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p
            | Interesante dato que nos muestra el Twitter de La Roja. La superioridad de Uruguay es evidente.
        figure.rpp-mam-xyz--media
          img.rpp-mam-xyz--media-image(src='http://p-gruporpp-media.s3.amazonaws.com/2015/11/17/cubcqn2woaawe-fjpg-large_30199.jpg', alt='Imagen de minuto a minuto')
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 12
      li#12.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p Chile va con el siguiente once.
        figure.rpp-mam-xyz--media
          img.rpp-mam-xyz--media-image(src='http://p-gruporpp-media.s3.amazonaws.com/2015/11/17/cudbdd-woaaw2es_30198.jpg', alt='Imagen de minuto a minuto')
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 6
      li#13.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p Así forma Uruguay.
        figure.rpp-mam-xyz--media
          img.rpp-mam-xyz--media-image(src='http://p-gruporpp-media.s3.amazonaws.com/2015/11/17/cudfb7zwoaacvt-jpg-large_30197.jpg', alt='Imagen de minuto a minuto')
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 5
      li#14.rpp-mam-xyz--inside.rpp-mam-xyz--inside-insert(style='opacity: 1; height: auto; overflow: visible;')
        .rpp-mam-xyz--text
          p ¡¡Comenzó el partido!!
        .rpp-mam-xyz--social
          span.rpp-mam-xyz--social-text Compartir
          i.rpp-mam-xyz-icon-facebook(onclick="rppMaM.$.openSocial('facebook', this)")
          i.rpp-mam-xyz-icon-twitter(onclick="rppMaM.$.openSocial('twitter', this)")
        .rpp-mam-xyz--time
          .time.rpp-mam-xyz--time-padding 0
  #mamBtn1453589643424.rpp-mam-xyz--anchor(style='opacity: 0; height: 0px; overflow: hidden;')
    i.rpp-mam-xyz-icon-up
    |  Nuevas incidencias
