.box-mod.box-row
  .box-header
    .title Las noticias más leídas

  +article-flow({
    img: "tmp-001-350.jpg",
    icon: "video",
    title: "Esto te puede suceder si desafías a la gravedad [VIDEO]",
    top: true,
    noColumn: true,
    sidebar: true,
    twoColumn: true
  })
  +article-flow({
    img: "tmp-001-144.jpg",
    icon: "video",
    title: "Madre conmueve a miles por su testimonio del cáncer de piel",
    top: true,
    noColumn: true,
    sidebar: true,
    twoColumn: true
  })
  +article-flow({
    img: "tmp-001-144.jpg",
    icon: "video",
    title: "Gato fue nombrado gerente de empresa en Rumania",
    top: true,
    noColumn: true,
    sidebar: true,
    twoColumn: true
  })

