.box-mod.box-row
  .box-header
    .title Las noticias más leídas
  .row.ranking
    h3
      a(href='/')
        span.order 1
        |Esto te puede suceder si desafías a la gravedad [VIDEO]
  .row.ranking
    h3
      a(href='/')
        span.order 2
        |Madre conmueve a miles por su testimonio del cáncer de piel
  .row.ranking
    h3
      a(href='/')
        span.order 3
        |Gato fue nombrado gerente de empresa en Rumania
  .row.ranking
    h3
      a(href='/')
        span.order 4
        |Esto te puede suceder si desafías a la gravedad [VIDEO]
  .row.ranking
    h3
      a(href='/')
        span.order 5
        |Madre conmueve a miles por su testimonio del cáncer de piel
  .row.ranking
    h3
      a(href='/')
        span.order 6
        |Esto te puede suceder si desafías a la gravedad [VIDEO]
  .row.ranking
    h3
      a(href='/')
        span.order 7
        |Madre conmueve a miles por su testimonio del cáncer de piel
  .row.ranking
    h3
      a(href='/')
        span.order 8
        |Gato fue nombrado gerente de empresa en Rumania
  .row.ranking
    h3
      a(href='/')
        span.order 9
        |Esto te puede suceder si desafías a la gravedad [VIDEO]
  .row.ranking
    h3
      a(href='/')
        span.order 10
        |Madre conmueve a miles por su testimonio del cáncer de piel
