aside(class="col-secondary sidebar x-sticky")
  //-.x-column-fix(data-x={"fixto":".col-primary.main"})
  block content-sidebar

    .box-mod.box-row
      .also-media
        p También puedes disfrutar de esta transmisión en video
        a.go(href="/cabinaenvivo")
          span.icon-video
          |Ver en vivo
    +ads('300x250')
    include recommended
