.x-slide(itemscope, itemtype="http://schema.org/ImageGallery")
  meta(itemprop="creator", content="radio corazon")
  meta(itemprop="datePublished", content="Jan 25, 2013")
  .x-wrapper
    .x-container
      .x-item
        figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          meta(itemprop="caption description", content="Pacino and Marisa Tomei in Oscar Wilde’s Salome at the Ethel Barrymore theatre in 2003.")
          +imgtemp("tmp-campanas.jpg")

      .x-item
        figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          meta(itemprop="caption description", content="Lily Rabe (Portia), Pacino and Byron Jennings (Antonio) in The Merchant of Venice.")
          +imgtemp("tmp-campanas.jpg")

      .x-item
        figure(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          meta(itemprop="caption description", content="In 1979, Pacino played the lead role in Richard III")
          +imgtemp("tmp-campanas.jpg")

  .x-pager-number
