.x-slide(data-x={"lazy": true}, itemscope, itemtype="http://schema.org/ImageGallery")
  meta(itemprop="creator", content="radio corazon")
  meta(itemprop="datePublished", content="Jan 25, 2013")
  .x-wrapper
    .x-container
      .x-item
        figure.cover(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          img(src="http://s3.amazonaws.com/p-gruporpp-media-v/normal/2016/01/12/321532_61357.jpg", alt="--X-CONTENT-DEMO--")
          figcaption(itemprop="description") Morbi et odio nec diam iaculis venenatis in vel tortor.

      .x-item
        figure.cover(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          img(src="http://s3.amazonaws.com/p-gruporpp-media-v/large/2016/01/12/6136314526175966624jpg.jpg", alt="--X-CONTENT-DEMO--")
          figcaption(itemprop="description") Morbi et odio nec diam iaculis venenatis in vel tortor.

      .x-item
        figure.cover(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          img(src="http://s3.amazonaws.com/p-gruporpp-media-v/large/2016/01/12/6136414526178084505jpg.jpg", alt="--X-CONTENT-DEMO--")
          figcaption(itemprop="description") Morbi et odio nec diam iaculis venenatis in vel tortor.

  .x-arrows
    a.x-prev(href="#prev")
      span.icon-chevron-left.icon-prev
    a.x-next(href="#next")
      span.icon-chevron-right.icon-next
