.x-slide.x-slide-large(data-x={"lazy": true, "ads": "Middle1", "urlState": "http://localhost:3003/static/html/article-gallery.html"}, itemscope, itemtype="http://schema.org/ImageGallery")
  meta(itemprop="creator", content="--X-DEMO-CONTENT--")
  meta(itemprop="datePublished", content="--X-DEMO-CONTENT--")
  .x-wrapper
    .x-container
      .x-item
        figure.cover.shadow-type-1(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          img(data-src="http://s3.amazonaws.com/p-gruporpp-media-v/large/2016/01/12/613662jpg.jpg", alt="--X-CONTENT-DEMO--")
          figcaption(itemprop="caption description")
            | Advertencia. Premio Nobel de Economía Joseph Martino  Stiglitz alerta sobre los efectos negativos del reciente acuerdo suscrito por doce países, entre ellos el Perú. | Fuente: Universal

      .x-item
        figure.cover.shadow-type-1(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          img(data-src="http://s3.amazonaws.com/p-gruporpp-media-v/large/2016/01/12/6136314526175966624jpg.jpg", alt="--X-CONTENT-DEMO--")
          figcaption(itemprop="caption description")
            | Advertencia. Premio Nobel de Economía Martino Joseph Stiglitz alerta sobre los efectos negativos del reciente acuerdo suscrito por doce países, entre ellos el Perú. | Fuente: Universal

      .x-item
        figure.cover.shadow-type-1(itemprop="associatedMedia", itemscope, itemtype="http://schema.org/ImageObject")
          meta(itemprop="datePublished", content="Jan 25, 2013")
          img(data-src="http://s3.amazonaws.com/p-gruporpp-media-v/large/2016/01/12/6136414526178084505jpg.jpg", alt="--X-CONTENT-DEMO--")
          figcaption(itemprop="caption description")
            | Advertencia. Premio Nobel de Economía Joseph Martino  Stiglitz alerta sobre los efectos negativos del reciente acuerdo suscrito por doce países, entre ellos el Perú. | Fuente: Universal

  .x-arrows
    a.x-prev(href="#prev")
      span.icon-chevron-left.icon-prev
    a.x-next(href="#next")
      span.icon-chevron-right.icon-next

  .social
    ul
      li Compartir:
      li.fb
        a(href="#link")
          span.icon-facebook
      li.tw
        a(href="#link")
          span.icon-twitter

  .x-pager-text
