<div layout="column" class="relative" flex role="main">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                    <!--li>
                        <md-button ng-click="openPerfil($event, 'contrasena');" class="md-primary">
                            <ng-md-icon icon="lock"></ng-md-icon>
                            Contraseña
                        </md-button>
                    </li-->
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
                <ul>
                    <li>
                        <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button">
                            <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Oido social</h5>
                        <md-tooltip>Odido Social</md-tooltip>
                    </li>
                    <li>
                        <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button">
                            <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Publicador</h5>
                        <md-tooltip>Publicador</md-tooltip>
                    </li>
                    <li>
                        <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button">
                            <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Ticker</h5>
                        <md-tooltip>Ticker</md-tooltip>
                    </li>
                    <li>
                        <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button">
                            <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Streaming</h5>
                        <md-tooltip>Streaming</md-tooltip>
                    </li>
                    <li>
                        <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                            <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Eventos</h5>
                        <md-tooltip>Eventos</md-tooltip>
                    </li>
                    <li>
                      <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                          <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Podcast</h5>
                      <md-tooltip>Podcast</md-tooltip>
                  </li>
                    <li>
                        <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                            <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Elecciones</h5>
                        <md-tooltip>Elecciones</md-tooltip>
                    </li>
                    <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                      <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                          <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Redes sociales</h5>
                      <md-tooltip>Configurar Redes Sociales</md-tooltip>
                  </li>
                </ul>
            </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
            <!--md-button ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()" class="md-icon-button" aria-label="Settings">
              <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button-->
            <div class="contentSearch" id="contentSearch" style="visibility:hidden">
                <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
                <md-autocomplete
                    class="filterText"
                    md-selected-item="selectedFilterText"
                    md-search-text="filterText"
                    md-search-text-change="changeItemsSearch"
                    md-items="item in getItemsSearch($event, filterText)"
                    md-item-text="item"
                    md-delay="250"
                    placeholder="Buscar..."
                >
                    <span md-highlight-text="filterText">{{item}}</span>
                </md-autocomplete>
                <ng-md-icon ng-click="btnOpenFilter($event)" class="iconFilter" icon="filter_list" style="fill: white"></ng-md-icon>
                <div ng-show="formOptionSearch" layout-padding id="optionSearch" class="md-whiteframe-z4">
                      <div layout layout-sm="column">
                          <md-select ng-model="filterSite" flex placeholder="Sitio">
                              <md-option ng-value="">Grupo RPP</md-option>
                              <md-option ng-repeat="fSite in filterSites" ng-value="{{fSite}}">{{fSite.nombre}}</md-option>
                          </md-select>
                          <md-select ng-model="filterSection" placeholder="Categoría" flex>
                              <md-option ng-value="">Categoría</md-option>
                              <md-option ng-repeat="fSection in filterSections" ng-value="{{fSection}}">{{fSection.nombre}}</md-option>
                          </md-select>
                          <md-select ng-model="filterTypeContent" placeholder="Tipo" flex>
                              <md-option ng-value="">Tipo</md-option>
                              <md-option ng-repeat="fTypeContent in filterTypeContents" ng-value="{{fTypeContent}}">{{fTypeContent.nombre}}</md-option>
                          </md-select>
                      </div>
                      <div layout layout-sm="column">
                          <md-input-container flex>
                              <label>Desde</label>
                              <input type="date" ng-model="filterFrom">
                          </md-input-container>
                          <md-input-container flex>
                              <label>Hasta</label>
                              <input type="date" ng-model="filterTo">
                          </md-input-container>
                          <md-select ng-model="filterState" placeholder="Estado" flex>
                              <md-option ng-value="">Estado</md-option>
                              <md-option ng-repeat="fState in filterStates" ng-value="{{fState}}">{{fState.nombre}}</md-option>
                          </md-select>
                      </div>
                      <div layout layout-sm="column">
                          <md-select ng-model="filterAuthor" placeholder="Autor" style="width:33%">
                              <md-option ng-value="">Autor</md-option>
                              <md-option ng-repeat="fAuthor in filterAuthors" ng-value="{{fAuthor}}">{{fAuthor.nombre}}</md-option>
                          </md-select>
                      </div>
                      <div layout layout-sm="column">
                          <md-button ng-click="searchFilterNews($event)" type="button" class="md-raised md-warn">Buscar</md-button>
                      </div>
                </div>
            </div>

            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel($event)" class="md-icon-button" aria-label="Dashboard"-->
                <md-button
                    ng-class="{'novisiblesearch':!custom}"
                    class="md-icon-button"
                    aria-label="Modulos"
                    ns-popover
                    ns-popover-template="modulos-cabecera"
                    ns-popover-trigger="click"
                    ns-popover-placement="bottom"
                    ns-popover-theme="ns-popover-tooltip-theme"
                    ns-popover-timeout="0.5"
                 >
                    <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                      <md-tooltip md-direction="bottom">
                          Dashboard
                      </md-tooltip>
                </md-button>
                <div class="drop-panel-child" ng-show="showPanel">
                    <ul class="list-modules">
                        <li>
                            <md-button class="md-icon-button" aria-label="Usuarios">
                                <ng-md-icon icon="people"></ng-md-icon>
                            </md-button>
                            <span>Usuarios</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Configuración">
                                <ng-md-icon icon="settings"></ng-md-icon>
                            </md-button>
                            <span>Configuración</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Rotafono">
                                <ng-md-icon icon="perm_phone_msg"></ng-md-icon>
                            </md-button>
                            <span>Rotafono</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Estadisticas">
                                <ng-md-icon icon="poll"></ng-md-icon>
                            </md-button>
                            <span>Estadisticas</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Radio">
                                <ng-md-icon icon="radio"></ng-md-icon>
                            </md-button>
                            <span>Radio</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Agencias">
                                <ng-md-icon icon="public"></ng-md-icon>
                            </md-button>
                            <span>Agencias</span>
                        </li>
                    </ul>
                </div>
            </div>
            <md-button ng-class="{'novisiblesearch':!custom}"  class="md-icon-button" aria-label="Chat">
              <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Chat
              </md-tooltip>
            </md-button>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel2($event)" class="md-icon-button " aria-label="Modules"-->
                <md-button class="md-icon-button " aria-label="Modules">
                  <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Módulos
                  </md-tooltip>
                </md-button>
                <div class="drop-panel-child" ng-show="showPanel2">
                    <!--md-tabs class="tabs-modules" md-dynamic-height md-border-bottom>
                        <md-tab label="Mas vistos">
                            <md-progress-circular ng-show="showLoadListNew2" md-mode="indeterminate"></md-progress-circular>
                            <md-list ng-show="!newProgress">
                              <md-list-item ng-show="$index<5" class="md-with-secondary" ng-repeat="new in news2">
                                <div class="md-list-item-text">
                                  <h4>{{ new.titulo }}</h4>
                                </div>
                                <md-divider inset class="md-default-theme"></md-divider>
                              </md-list-item>
                            </md-list>
                        </md-tab>
                        <md-tab label="Actividad">
                            <md-progress-circular ng-show="draftLoadListNew" md-mode="indeterminate"></md-progress-circular>
                            <md-list>
                              <md-list-item class="md-with-secondary" ng-repeat="draft in drafts">
                                <div class="md-list-item-text">
                                  <h4>{{ draft.titulo }}</h4>
                                  <md-button ng-click="openCreateNew($event, 'editar', draft.nid);" class="md-primary">
                                      <ng-md-icon icon="edit"></ng-md-icon>
                                      <md-tooltip md-direction="bottom">
                                          Editar
                                      </md-tooltip>
                                  </md-button>
                                </div>
                                <md-divider inset class="md-default-theme"></md-divider>
                              </md-list-item>
                            </md-list>
                        </md-tab>
                    </md-tabs-->
                </div>
            </div>
            <md-button
            ng-class="{'novisiblesearch':!custom}"
            class="md-icon-button"
            aria-label="User"
            ns-popover
            ns-popover-template="perfil-popover"
            ns-popover-trigger="click"
            ns-popover-placement="bottom"
            ns-popover-theme="ns-popover-tooltip-theme"
            ns-popover-timeout="0.5"
            >
              <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
              <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>
              <md-tooltip md-direction="bottom">
                  Usuario
              </md-tooltip>
            </md-button>
            <md-button ng-class="{'novisiblesearch':!custom}"  ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
              <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
            <!-- LEFT -->
            <!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
                <div flex="100">
                  <md-content class="md-padding">
                    <h1>
                      <ng-md-icon icon="person" class="name"></ng-md-icon>
                      Configuración de Cuenta</h1>
                  </md-content>
                  <md-content class="md-padding">
                    <md-tabs md-dynamic-height md-border-bottom>
                      <md-tab label="Perfil">
                        <md-content class="md-padding">
                          <form name="userProfileForm">
                            <md-input-container flex>
                              <label>Nombre:</label>
                              <input ng-model="user.name" required="">
                            </md-input-container>
                            <md-input-container flex>
                              <label>Correo:</label>
                              <input type="email" ng-model="user.email" required="">
                            </md-input-container>
                            <md-input-container flex>
                              <label>Cargo:</label>
                              <input ng-model="user.occupation" required="">
                            </md-input-container>
                            <div layout="row" layout-align="start center">
                                <md-button ng-disabled="userProfileForm.$invalid" style="margin-right:2em;" ng-click="saveProfile('form')" class="md-raised md-warn">Guardar</md-button>
                                <md-progress-circular ng-show="saveProgress" md-mode="indeterminate"></md-progress-circular>
                            </div>
                          </form>
                        </md-content>
                      </md-tab>
                      <md-tab label="Foto">
                        <md-content class="md-padding">
                          <div class="alert-info">Dimensión de la foto 240px x 240px</div>
                          <div style="position:relative; height:343px;">
                            <div style="position:absolute; top: 40%; left:50%; transform: translate(-50%, -50%);">
                                <div id="add-img--cover">
                                    <input id="loadThumbDataGif" accept="image/x-png, image/png, image/jpeg, image/jpg" class="loadThumbData" type="file" style="position:absolute;left:10px; height:1px; width:1px; overflow:hidden; z-index:-1" />
                                    <div id="zone-img--profile">
                                        <md-button class="md-fab md-fab-upload md-mini md-primary" ng-click="uploadCaptureImage()" aria-label="Subir Imagen">
                                            <md-tooltip>Subir imagen</md-tooltip>
                                            <ng-md-icon icon="add" size="20"></ng-md-icon>
                                        </md-button>
                                        <md-button ng-show="isDeleteThumb" class="md-fab ng-hide md-fab-remove md-mini md-warn" ng-click="removeCaptureImage()" aria-label="Subir Imagen">
                                            <md-tooltip>Remover imagen</md-tooltip>
                                            <ng-md-icon icon="delete" size="20"></ng-md-icon>
                                        </md-button>
                                        <img ng-if="user.pictureUrl" ng-show="showThumbData&&user.pictureUrl" style="max-width: 100%; margin: auto; display: block;" ng-src="{{ user.pictureUrl }}" alt="Imagen de portada" />
                                    </div>
                                </div>
                            </div>
                          </div>
                        </md-content>
                      </md-tab>
                      <md-tab label="Contraseña">
                        <md-content class="md-padding">
                          <form name="userPasswordForm">
                            <md-input-container flex>
                              <label>Contraseña actual:</label>
                              <input type="password" ng-model="user.password" required="">
                            </md-input-container>
                            <md-input-container flex>
                              <label>Nueva contraseña:</label>
                              <input type="password" ng-model="user.new_password" required="">
                            </md-input-container>
                            <md-input-container flex>
                              <label>Confirmar contraseña:</label>
                              <input type="password" ng-model="user.confirm_password" required="">
                            </md-input-container>
                            <div layout="row" layout-align="start center">
                              <md-button ng-disabled="userPasswordForm.$invalid" style="margin-right:2em;" ng-click="savePassword('form')" class="md-raised md-warn">Guardar</md-button>
                              <md-progress-circular ng-show="saveProgress" md-mode="indeterminate"></md-progress-circular>
                            </div>
                          </form>
                        </md-content>
                      </md-tab>
                      <md-tab label="Autor">
                        <md-content class="md-padding">
                            <div ng-if="errorProfile" class="alert-warn">{{errorProfile}}</div>
                          <form name="userAutor">
                             <div flex>
                                 <span class="color-secondary" style="margin:0 5px">Categoría: </span>
                              <select
                                style="width:350px"
                                chosen
                                ng-model="user.autor.categoria"
                                ng-options="item.label for item in categorias track by item.slug"
                                data-placeholder="Seleccione categoría"
                                no-results-text="'No hay opciones'"
                                >
                                  <option value=""></option>
                              </select>
                            </div>
                            <md-input-container flex>
                              <label><ng-md-icon icon="person" size="16"></ng-md-icon> Biografía <span ng-if="user.autor.biografia.length>0">({{user.autor.biografia.length}})</span>:</label>
                              <textarea rows="3" ng-model="user.autor.biografia"></textarea>
                            </md-input-container>
                            <md-input-container flex>
                              <label><ng-md-icon icon="twitter" size="16"></ng-md-icon> Url Twitter <span ng-if="user.autor.twitter.length>0">({{user.autor.twitter.length}})</span>:</label>
                              <input type="text" ng-model="user.autor.twitter" />
                            </md-input-container>
                            <md-input-container flex>
                              <label><ng-md-icon icon="facebook" size="16"></ng-md-icon> Url Facebook <span ng-if="user.autor.facebook.length>0">({{user.autor.facebook.length}})</span>:</label>
                              <input type="text" ng-model="user.autor.facebook" />
                            </md-input-container>
                            <div layout="row" layout-align="start center">
                              <md-button ng-disabled="user.autor.categoria.slug <= 0" style="margin-right:2em;" ng-click="saveProfile('form')" class="md-raised md-warn">Guardar</md-button>
                              <md-progress-circular ng-show="saveProgress" md-mode="indeterminate"></md-progress-circular>
                            </div>
                          </form>
                        </md-content>
                      </md-tab>
                    </md-tabs>
                  </md-content>
              </div>
            </section>
            <!-- RIGHT -->
            <!--aside class="sidenav-right sidenav-module fullsidebar" id="sidebarright">
            </aside-->
            <!-- END SIDEBARS -->
        </div>
    </div>
    <!-- FOOTER -->
    <!--md-bottom-sheet>
    </md-bottom-sheet-->
</div>
