<md-dialog aria-label="Edit New" flex="95">
  <md-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect md-sticky-icons">
        <span>Tipo de noticia: </span>
        <md-button ng-disabled="true"  style="width:40px; height:40px" class="md-fab md-raised md-cms-gray" ng-click="openCreateNew($event, 'agregar-normal');" aria-label="New document">
            <md-tooltip md-direction="top">
            Noticia Normal
            </md-tooltip>
            <ng-md-icon icon="format_align_justify" style="fill:white"></ng-md-icon>
        </md-button>
        <md-button style="width:40px; height:40px" class="md-fab md-raised md-cms-green" ng-click="openCreateNew($event, 'agregar-paginada');" aria-label="New document">
            <md-tooltip md-direction="top">
            Noticia Páginada
            </md-tooltip>
            <ng-md-icon icon="settings_ethernet" style="fill:white"></ng-md-icon>
        </md-button>
        <md-button style="width:40px; height:40px" class="md-fab md-raised md-cms-green" ng-click="openCreateNew($event, 'agregar-listado');" aria-label="New document">
            <md-tooltip md-direction="top">
             Noticia Tipo Listado
            </md-tooltip>
            <ng-md-icon icon="format_list_numbered" style="fill:white"></ng-md-icon>
        </md-button>
        <md-button style="width:40px; height:40px" class="md-fab md-raised  md-cms-green" ng-click="openCreateNew($event, 'agregar-galeria');" aria-label="New document">
            <md-tooltip md-direction="top">
            Noticia Tipo Galeria
            </md-tooltip>
            <ng-md-icon icon="collections" style="fill:white"></ng-md-icon>
        </md-button>
    </md-subheader>
    <div class="dialog-content">
        <form name="filterForm">
            <legend>Bloque de titulos</legend>
            <div layout layout-sm="column">
              <md-input-container flex>
                  <label>Titulo</label>
                  <input ng-model="new.title">
              </md-input-container>
            </div>
            <md-content style="height:200px">
              <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Titulo Corto">
                  <md-content>
                      <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Titulo Corto</label>
                            <input ng-model="new.titleshort">
                        </md-input-container>
                      </div>
                  </md-content>
                </md-tab>
                <md-tab label="Bajada">
                  <md-content class="md-padding">
                      <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Bajada</label>
                            <input ng-model="new.bajada">
                        </md-input-container>
                      </div>
                  </md-content>
                </md-tab>
                <md-tab label="Volada">
                  <md-content class="md-padding">
                      <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Volada</label>
                            <input ng-model="new.volada">
                        </md-input-container>
                      </div>
                  </md-content>
                </md-tab>
                <md-tab label="Cintillo">
                  <md-content class="md-padding">
                      <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Cintillo</label>
                            <input ng-model="new.cintillo">
                        </md-input-container>
                      </div>
                  </md-content>
                </md-tab>
                <md-tab label="Entradilla">
                  <md-content class="md-padding">
                      <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Entradilla</label>
                            <input ng-model="new.entradilla">
                        </md-input-container>
                      </div>
                  </md-content>
                </md-tab>
              </md-tabs>
            </md-content>
        </form>

        <form name="filterForm">
            <legend>Bloque de contenidos</legend>
            <md-button class="md-fab md-warn md-large">
                <md-tooltip md-direction="bottom">
                Agregar bloque
                </md-tooltip>
                <ng-md-icon icon="add" style="fill:white"></ng-md-icon>
            </md-button>
        </form>

    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="closeDialog()">
    Cancelar
    </md-button>
    <md-button ng-click="closeDialog()" class="md-primary">
      Vista previa
    </md-button>
    <md-button ng-click="closeDialog()" class="md-primary">
      Eliminar
    </md-button>
    <md-button ng-click="closeDialog()" class="md-primary">
      Guardar
    </md-button>
    <md-button ng-click="closeDialog()" class="md-primary">
      Publicar
    </md-button>
  </div>
</md-dialog>
