<md-dialog >
  <md-content class="sticky-container">
    <div class="dialog-content">
        <p>
            ¿Esta seguro que desea eliminar la noticia?
        </p>
        <blockquote>
            <strong>{{title}}</strong>
        </blockquote>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="closeDialog()">
    Cancelar
    </md-button>
    <md-button ng-click="closeDialog()" class="md-primary">
      Aceptar
    </md-button>
  </div>
</md-dialog>
