<md-dialog aria-label="Edit Category" flex="95">
  <md-dialog-content class="sticky-container">
    <md-content layout-padding>
        <div layout="row" layout-padding class="content_multiselect">
          <div flex="45">
            <h4>Categorías disponibles <strong>({{categoryInput.length}})</strong></h4>
            <div class="contentSearchCategoryLeft">
                <md-input-container>
                    <label>Buscar...</label>
                    <input ng-model="searchCategory">
                </md-input-container>
            </div>
            <div style="border:1px solid rgb(153, 153, 153);">
               <select
                class="multiselect"
                size="10"
                multiple
                ng-multiple="true"
                ng-options="category as category.label for category in categoryInput |   filter:searchCategory:label"
                ng-model="categoryInputModel"
                ng-dblclick="addCategoryElection(categoryInputModel)"
                >
                </select>
            </div>
          </div>
          <div flex="5" style="text-align:center">
            <md-button style="margin-top:150px"
                class="md-fab md-mini md-primary"
                aria-label="Add Category"
                ng-disabled="categoryInput.length<=0"
                ng-click="addCategoryElection(categoryInputModel)"
            >
                <md-tooltip>
                  Agregar
                </md-tooltip>
                <ng-md-icon
                    icon="arrow_forward"
                    size="24"
                >
                </ng-md-icon>
            </md-button>
            <md-button
                class="md-fab md-mini md-primary"
                aria-label="Remove Category"
                ng-disabled="categoryOutput.length<=0"
                ng-click="removeCategoryElection(categoryOutputModel)"
            >
                <md-tooltip>
                  Quitar
                </md-tooltip>
                <ng-md-icon
                    icon="arrow_back"
                    size="24"
                >
                </ng-md-icon>
            </md-button>
          </div>
          <div flex="45">
            <h4>Categorías Seleccionadas <strong>({{categoryOutput.length}})</strong></h4>
            <div class="contentSearchCategoryRight">
                Principal: <strong>({{(categoryOutputModel)?categoryOutputModel[0].nombre:categoryOutput[0].nombre}})</strong>
            </div>
            <div style="border:1px solid rgb(153, 153, 153);">
                <select
                class="multiselect"
                size="10"
                multiple
                ng-multiple="false"
                ng-options="category as category.label for category in categoryOutput"
                ng-model="categoryOutputModel"
                ng-change="changeCategoryOutputModel(categoryOutputModel)"
                ng-dblclick="removeCategoryElection(categoryOutputModel)"
                >
                </select>
            </div>
          </div>
        </div>


    </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
      Cerrar
    </md-button>
    <md-button ng-click="answerCategoryAll(categoryOutput)" class="md-raised md-warn">
      Guardar selección
    </md-button>
  </div>
</md-dialog>
