<md-dialog aria-label="Edit Highlight" flex="95">
  <md-dialog-content class="sticky-container">
    <md-content layout-padding>
        <div layout="row" layout-padding class="content_multiselect">
          <div flex="45">
            <h4>Categorías disponibles <strong>({{highlightInput.length}})</strong></h4>
            <div class="contentSearchCategoryLeft">
                <md-input-container>
                    <label>Buscar...</label>
                    <input ng-model="searchHighlight">
                </md-input-container>
            </div>
            <div style="border:1px solid rgb(153, 153, 153);">
               <select
                class="multiselect"
                size="10"
                multiple
                ng-multiple="true"
                ng-options="highlight as highlight.slug for highlight in highlightInput |   filter:searchHighlight:slug"
                ng-model="highlightInputModel"
                ng-dblclick="addHighlightElection(highlightInputModel)"
                >
                </select>
            </div>
          </div>
          <div flex="5" style="text-align:center">
            <md-button style="margin-top:150px"
                class="md-fab md-mini md-primary"
                aria-label="Add Highlight"
                ng-disabled="highlightInput.length<=0"
                ng-click="addHighlightElection(highlightInputModel)"
            >
                <md-tooltip>
                  Agregar
                </md-tooltip>
                <ng-md-icon
                    icon="arrow_forward"
                    size="24"
                >
                </ng-md-icon>
            </md-button>
            <md-button
                class="md-fab md-mini md-primary"
                aria-label="Remove Highlight"
                ng-disabled="highlightOutput.length<=0"
                ng-click="removeHighlightElection(highlightOutputModel)"
            >
                <md-tooltip>
                  Quitar
                </md-tooltip>
                <ng-md-icon
                    icon="arrow_back"
                    size="24"
                >
                </ng-md-icon>
            </md-button>
          </div>
          <div flex="45">
            <h4>Destacado en <strong>({{highlightOutput.length}})</strong> categorias</h4>
            <div class="contentSearchCategoryRight">
                &nbsp;
            </div>
            <div style="border:1px solid rgb(153, 153, 153);">
                <select
                class="multiselect"
                size="10"
                multiple
                ng-multiple="false"
                ng-options="highlight as highlight.slug for highlight in highlightOutput"
                ng-model="highlightOutputModel"
                ng-dblclick="removeHighlightElection(highlightOutputModel)"
                >
                </select>
            </div>
          </div>
        </div>


    </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()" class="md-primary">
      Cerrar
    </md-button>
    <md-button ng-click="answerHighlightAll(highlightOutput)" class="md-raised md-warn">
      Guardar destacadas
    </md-button>
  </div>
</md-dialog>
