<md-dialog flex="95" aria-label="Add Text">
  <md-dialog-content>
      <div style="width:100%; overflow:hidden">
          <div style="width:68%; float:left;">
              <!-- Add Text -->
              <div class="inputBlock">
                  <textarea style="height:300px" ui-tinymce="tinymceOptions" ng-model="texto_edit"></textarea>
              </div>
              <!-- End Add Text -->
          </div>
          <div style="width:30%; float:right;">
              <div copy-link sitio="copyLinkSitio"></div>
          </div>
      </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button type="button" ng-click="closeOpenAddText()" class="md-primary">
      Cerrar
    </md-button>
    <md-button type="button" ng-click="addOpenAddText()" class="md-primary">
        {{(modalType === 'add')?'Agregar':'Actualizar'}}
    </md-button>
  </div>
</md-dialog>
