<div layout="column" class="relative" flex role="main">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                    <!--li>
                        <md-button ng-click="openPerfil($event, 'contrasena');" class="md-primary">
                            <ng-md-icon icon="lock"></ng-md-icon>
                            Contraseña
                        </md-button>
                    </li-->
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
                <ul>
                  <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Oido social</h5>
                      <md-tooltip>Odido Social</md-tooltip>
                  </li>
                  <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Publicador</h5>
                      <md-tooltip>Publicador</md-tooltip>
                  </li>
                  <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Ticker</h5>
                      <md-tooltip>Ticker</md-tooltip>
                  </li>
                  <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Streaming</h5>
                      <md-tooltip>Streaming</md-tooltip>
                  </li>
                  <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                          <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Eventos</h5>
                      <md-tooltip>Eventos</md-tooltip>
                  </li>
                  <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                          <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Podcast</h5>
                      <md-tooltip>Podcast</md-tooltip>
                  </li>
                  <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                          <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Elecciones</h5>
                      <md-tooltip>Elecciones</md-tooltip>
                  </li>
                  <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                      <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                          <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Redes sociales</h5>
                      <md-tooltip>Configurar Redes Sociales</md-tooltip>
                  </li>
                  <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                          <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Roles</h5>
                      <md-tooltip>Roles</md-tooltip>
                  </li>
                </ul>
            </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
            <md-button ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()" class="md-icon-button" aria-label="Settings">
              <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button>
            <div flex="1"></div>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel($event)" class="md-icon-button" aria-label="Dashboard"-->
                <md-button
                    ng-class="{'novisiblesearch':!custom}"
                    class="md-icon-button"
                    aria-label="Modulos"
                    ns-popover
                    ns-popover-template="modulos-cabecera"
                    ns-popover-trigger="click"
                    ns-popover-placement="bottom"
                    ns-popover-theme="ns-popover-tooltip-theme"
                    ns-popover-timeout="0.5"
                 >
                    <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                      <md-tooltip md-direction="bottom">
                          Dashboard
                      </md-tooltip>
                </md-button>
                <div class="drop-panel-child" ng-show="showPanel">
                    <ul class="list-modules">
                        <li>
                            <md-button class="md-icon-button" aria-label="Usuarios">
                                <ng-md-icon icon="people"></ng-md-icon>
                            </md-button>
                            <span>Usuarios</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Configuración">
                                <ng-md-icon icon="settings"></ng-md-icon>
                            </md-button>
                            <span>Configuración</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Rotafono">
                                <ng-md-icon icon="perm_phone_msg"></ng-md-icon>
                            </md-button>
                            <span>Rotafono</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Estadisticas">
                                <ng-md-icon icon="poll"></ng-md-icon>
                            </md-button>
                            <span>Estadisticas</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Radio">
                                <ng-md-icon icon="radio"></ng-md-icon>
                            </md-button>
                            <span>Radio</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Agencias">
                                <ng-md-icon icon="public"></ng-md-icon>
                            </md-button>
                            <span>Agencias</span>
                        </li>
                    </ul>
                </div>
            </div>
            <md-button ng-class="{'novisiblesearch':!custom}"  class="md-icon-button" aria-label="Chat">
              <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Chat
              </md-tooltip>
            </md-button>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel2($event)" class="md-icon-button " aria-label="Modules"-->
                <md-button class="md-icon-button " aria-label="Modules">
                  <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Módulos
                  </md-tooltip>
                </md-button>
            </div>
            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="User"
                ns-popover
                ns-popover-template="perfil-popover"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
                >

                <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
                <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>

                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button ng-class="{'novisiblesearch':!custom}"  ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
              <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <section flex>
      <div layout="column">
        <!-- BREADCRUMB -->
        <md-toolbar class="md-toolbar-subhead">
            <div layout="row" layout-align="center center" class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1">
                <md-button type="button" class="md-icon-button" ng-click="backToList()">
                    <ng-md-icon icon="arrow_back" size="28"></ng-md-icon>
                    <md-tooltip md-direction="bottom">
                        Volver
                    </md-tooltip>
                </md-button>

                <div style="display:inline-block">
                    <md-select ng-model="alert.sitio" placeholder="Sitio">
                        <md-option ng-repeat="site in sites" value="{{site.slug}}">{{site.nombre}}</md-option>
                    </md-select>
                </div>

                <div style="display:inline-block">
                    <md-select ng-model="alert.tipo" placeholder="Tipo">
                        <md-option ng-repeat="type in types" value="{{type.slug}}">{{type.nombre}}</md-option>
                    </md-select>
                </div>

                <md-button type="button" class="md-primary" ng-click="saveAlert();">
                    <ng-md-icon icon="save" size="20"></ng-md-icon> Guardar
                </md-button>
                <md-button has-permission slug-module="alert" action-module="vistaprevia"
                           type="button" class="md-primary" ng-click="previewAlert($event);">
                    <ng-md-icon icon="remove_red_eye" size="20"></ng-md-icon> Vista previa
                </md-button>
                <md-button has-permission slug-module="alert" action-module="publish"
                           type="button" class="md-primary" ng-click="publishAlert();" ng-if="alert.aid">
                    <ng-md-icon icon="language" size="20"></ng-md-icon> Publicar
                </md-button>
                <md-button has-permission slug-module="alert" action-module="unpublish"
                           type="button" class="md-primary" ng-click="unpublishAlert();" ng-if="alert.aid">
                    <ng-md-icon icon="undo" size="20"></ng-md-icon> Despublicar
                </md-button>
                <md-button type="button" class="md-primary" ng-click="deleteAlert();" ng-if="alert.aid">
                    <ng-md-icon icon="delete" size="20"></ng-md-icon> Eliminar
                </md-button>
            </div>
        </md-toolbar>
        <!-- /BREADCRUMB -->

        <!-- LEFT -->
        <aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft">
            <menu-lateral-derecha activo="alertas"></menu-lateral-derecha>
        </aside>
        <!-- CONTENT -->
        <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
          <div layout="column" layout-wrap>
            <div flex="1">
              <md-content layout-padding>
                <md-input-container  md-no-float class="md-default-theme">
                  <label for="title">Título</label>
                  <input id="title" ng-model="alert.titulo">
                </md-input-container>
                <md-input-container md-no-float class="md-default-theme">
                  <div class="alert-info">300x168 es la medida recomendable.</div>
                  <div style="position:relative; height:243px;">
                    <div style="position:absolute; top: 55%; left:50%; transform: translate(-50%, -50%);">
                        <div id="add-img--cover">
                            <input id="loadThumbDataGif" accept="image/x-png, image/png, image/jpeg, image/jpg" class="loadThumbData" type="file"
                              style="position:absolute;left:10px; height:1px; width:1px; overflow:hidden; z-index:-1" />
                            <div id="zone-alert--photo">
                                <md-button class="md-fab md-fab-upload md-mini md-primary" ng-click="uploadCaptureImage()" aria-label="Subir Imagen">
                                    <md-tooltip>Subir imagen</md-tooltip>
                                    <ng-md-icon icon="add" size="20"></ng-md-icon>
                                </md-button>
                                <md-button ng-show="isDeleteThumb" class="md-fab ng-hide md-fab-remove md-mini md-warn" ng-click="removeCaptureImage()" aria-label="Subir Imagen">
                                    <md-tooltip>Remover imagen</md-tooltip>
                                    <ng-md-icon icon="delete" size="20"></ng-md-icon>
                                </md-button>
                                <img ng-if="alert.imagen" ng-show="showThumbData" ng-src="{{ alert.imagen }}" alt="Imagen de alerta"/>
                            </div>
                        </div>
                    </div>
                  </div>
                </md-input-container>
                <md-input-container  md-no-float class="md-default-theme">
                  <label for="body">Cuerpo <!-- ngIf: objVolada.length>0 -->
                  </label>
                  <textarea id="body" ng-model="alert.cuerpo" rows="3" aria-multiline="true"></textarea>
                </md-input-container>
                <md-input-container  md-no-float class="md-default-theme">
                  <label for="url">Url <!-- ngIf: objVolada.length>0 -->
                  </label>
                  <input ng-model="alert.url" id="url">
                </md-input-container>
              </md-content>
            </div>
        </section>
        <!-- RIGHT -->
        <aside class="sidenav-right sidenav-module fullsidebar" id="sidebarright">
          <!-- Temas y Fechas -->
          <section class="content-module">
              <div class="buttons-options">
                  <h3 class="text-module"><ng-md-icon icon="settings" size="20" style=""></ng-md-icon> Datos generales </h3>
              </div>
              <div layout="row" layout-wrap>
                <div flex="70">
                  <md-input-container  md-no-float class="md-default-theme">
                    <label for="data_factory">ID de DataFactory</label>
                    <input ng-model="alert.data_factory_id" id="data_factory">
                  </md-input-container>

                  <md-input-container>
                      <label>Campeonato</label>
                      <md-select ng-model="alert.campeonato" aria-label="Campeonato">
                          <md-option ng-repeat="camp in campeonatos" ng-value="camp.slug" ng-if="camp.slug">
                              {{camp.nombre_alternativo}}
                          </md-option>
                      </md-select>
                  </md-input-container>
                </div>
              </div>
          </section>

          <!-- Actividad -->
          <section has-permission slug-module="alert" action-module="activity" class="content-module" ng-if="alert.aid" style="margin-bottom: 10px">
              <div class="buttons-options">
                  <h3 class="text-module"><ng-md-icon size="20" icon="rate_review" style=""></ng-md-icon> Actividad </h3>
                  <btn-fixed-module type=""></btn-fixed-module>
              </div>
              <md-progress-circular ng-show="revisionProgress" md-mode="indeterminate"></md-progress-circular>
              <div style="max-height: 400px; overflow: auto;"
                <ul class="revisions" ng-show="!revisionProgress">
                  <li ng-repeat="revision in revisions" class="revisions-card">
                    <div>
                        <div>
                            <strong>{{ revision.date_update?'editado':'creado' }}</strong>
                            <span ng-if="revision.publish==1">
                                <ng-md-icon icon="done" style="fill:#43A047">
                                    <md-tooltip md-direction="top">
                                        Publicado
                                    </md-tooltip>
                                </ng-md-icon>
                            </span>
                        </div>
                        <div class="md-caption" ng-if="!revision.date_update">
                            Fecha: <time datetime="{{revision.date_update}}">{{revision.date_create*1000 | date:'dd/MM/yyyy hh:mm a'}}</time>
                        </div>
                        <div class="md-caption" ng-if="revision.date_update">
                            Hace: <time datetime="{{revision.date_update}}">{{revision.date_update*1000 | timeago}}</time>
                        </div>
                        <md-button type="button" ng-click="clickViewActivity(revision)" class="md-icon-button md-button button-activity">
                            <md-tooltip>
                              Ver actividad
                            </md-tooltip>
                            <ng-md-icon icon="rate_review"></ng-md-icon>
                        </md-button>
                    </div>
                  </li>
                </ul>
              </div>
          </section>

        </aside>
      </div>
    </section>
    <!-- FOOTER -->
    <!--md-bottom-sheet>
    </md-bottom-sheet-->
</div>
