<div layout-padding>
    <md-input-container flex>
        <label>
            Subtítulo
            <span ng-if="blk1.parrafo1.length>0">({{blk1.parrafo1.length}} Caracteres)</span>
        </label>
        <input ng-trim="false" name="parrafo1" ng-model="blk1.parrafo1"></input>
    </md-input-container>
    <div class="inputBlock">
        <text-angular placeholder="Desarrollo" ng-model="blk1.parrafo2" class="editor-wysing"></text-angular>
    </div>
<!--
    <div layout>
        <div flex="60" flex-sm="100">
            <div class="cite-fields">
                <h4>Cita:</h4>
                <div layout>
                    <md-input-container flex="65" flex-sm="100">
                        <label>Subtítulo <span ng-if="blk1.cita.titulo>0">({{blk1.cita.titulo.length}} Caracteres)</span>
                        </label>
                        <input ng-trim="false" name="citatitulo" ng-model="blk1.cita.titulo"></input>
                    </md-input-container>
                    <div flex="35" flex-sm="100">
                        <span>Orientación:</span>
                        <select name="nameCitaAlineacion" ng-model="blk1.cita.alineacion" flex>
                          <option value="izquierda">Izquierda</option>
                          <option value="derecha">Derecha</option>
                          <option value="arriba">Arriba</option>
                          <option value="abajo">Abajo</option>
                        </select>
                    </div>
                </div>
                <div flex flex="100" class="editor-cita">
                    <text-angular placeholder="Desarrollo" ng-model="blk1.cita.desarrollo" class="editor-wysing"></text-angular>
                </div>
            </div>
        </div>
        <div class="content-relatedCT" flex="40" style="padding-left:10px" flex-sm="100">
            <div class="cite-fields">
                <h4>Noticias relacionadas:</h4>
                <div class="inputBlock" style="margin-bottom:0.25em">
                    <span>Orientación:</span>
                    <select name="nameRelacionado" ng-model="blk1.relacionado.alineacion" flex>
                      <option value="izquierda">Izquierda</option>
                      <option value="derecha">Derecha</option>
                      <option value="arriba">Arriba</option>
                      <option value="abajo">Abajo</option>
                    </select>
                </div>
                <div class="inputBlock">
                    <div class="content-result">
                        <ul ng-if="listArrRelated.length>0">
                            <li ng-repeat="fileRC in listArrRelated track by $index">
                                <div class="div-result div-related">
                                    <div class="remove-related">
                                        <md-button type="button" ng-click="clickRemoveCT($index)" class="md-fab md-primary md-mini" aria-label="Eliminar">
                                            <md-tooltip>Eliminar</md-tooltip>
                                            <ng-md-icon icon="delete" size="24"></ng-md-icon>
                                        </md-button>
                                    </div>
                                    <div class="div-author">
                                        <a target="_blank" href="{{fileRC.url}}"><img style="width:82px;height:auto; margin:0;padding:0" ng-src="{{fileRC.foto}}" alt="{{fileRC.titulo}}" /></a>
                                    </div>
                                    <div class="div-text">
                                        <div><a target="_blank" href="{{fileRC.url}}">{{fileRC.titulo}}</a></div>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-search">
                    <div class="inputBlock" layout>
                        <div flex="80">
                            <md-input-container style="padding-bottom:0.25em" flex="100" flex-sm="100">
                                <label>Buscar noticias</label>
                                <input ng-model="blk1.searchRel" ng-readonly="readonlySearchCT" ng-keypress="keySearchRelated($event)">
                            </md-input-container>
                        </div>
                        <div flex="20">
                            <md-button type="button" ng-click="searchRelated()" class="md-icon-button md-primary" aria-label="Buscar">
                                <md-tooltip>Buscar</md-tooltip>
                                <ng-md-icon icon="search" style="" size="24"></ng-md-icon>
                            </md-button>
                        </div>
                    </div>
                    <div class="inputBlock" layout>
                        <div class="content-result" style="width:100%">
                            <div style="text-align:center;width:100%">
                                <md-progress-circular style="display:inline-block;margin-top:20px;" ng-show="searchLoadCT" md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div ng-show="listArrSocialNoResultCT" class="alert-warn md-body-1">No se encontraron resultados en la búsqueda.</div>
                            <div ng-show="listArrSocialCT.length>0"><dir-pagination-controls pagination-id="typeCT" max-size="5"></dir-pagination-controls></div>
                            <ul ng-show="!searchLoadCT">
                                <li dir-paginate="file in listArrSocialCT | itemsPerPage: 5" pagination-id="typeCT">
                                    <div class="div-result div-related">
                                        <div class="done-related">
                                            <md-button type="button"  ng-click="clickCheckCT($index, file)" class="md-fab md-cms-green md-mini" aria-label="Eliminar">
                                                <md-tooltip>Agregar</md-tooltip>
                                                <ng-md-icon icon="done" size="24"></ng-md-icon>
                                            </md-button>
                                        </div>
                                        <div class="div-author">
                                            <a target="_blank" href="{{file.url}}"><img style="width:82px;height:auto; margin:0;padding:0" ng-src="{{file.foto}}" alt="{{file.titulo}}" /></a>
                                        </div>
                                        <div class="div-text">
                                            <div><a target="_blank" href="{{file.url}}">{{file.titulo}}</a></div>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <div ng-show="listArrSocialCT.length>0"><dir-pagination-controls pagination-id="typeCT" max-size="5"></dir-pagination-controls></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
</div>
