<md-dialog flex="95" aria-label="Add Embed">
  <md-dialog-content>
    <!-- Add Embed -->
    <div class="parent-actions">
      <div class="inputBlock">

        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="HTML">
            <md-content class="md-padding">
              <md-input-container flex>
                <label>Pega el contenido del HTML aquí: <span ng-if="embed.length>0">
                  ({{embed.length}} Caracteres)</span>
                </label>
                <textarea ng-trim="false" style="min-height:100px" name="embed" ng-model="embed"></textarea>
              </md-input-container>
            </md-content>
          </md-tab>
          <md-tab label="Vista Previa" id="fb-embed">
            <md-content class="md-padding">
              <div ng-bind-html="embed | htmlEmbed"></div>
            </md-content>
          </md-tab>
        </md-tabs>
      </div>
    </div>
    <!-- End Add Embed -->
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button type="button" ng-click="cancelarModalEmbed()" class="md-primary">
      Cerrar
    </md-button>
    <md-button type="button" ng-click="aceptarModalEmbed()" class="md-primary">
        {{(modalType === 'add')?'Agregar':'Actualizar'}}
    </md-button>
  </div>
</md-dialog>
