<md-dialog flex="95" aria-label="Add Related">
  <md-dialog-content>
      <!-- Add Text -->
      <div layout>
          <div class="content-relatedCT" flex="100" style="min-height:400px">
              <div class="cite-fields">
                  <h4 style="margin-bottom:0.5em">Noticias relacionadas:</h4>
                  <div class="inputBlock">
                      <div class="content-result">
                          <ul ng-if="listArrRelated.length>0">
                              <li ng-repeat="fileRC in listArrRelated track by $index">
                                  <div class="div-result div-related">
                                      <div class="remove-related">
                                          <md-button type="button" ng-click="clickRemoveCT($index)" class="md-fab md-primary md-mini" aria-label="Eliminar">
                                              <md-tooltip>Eliminar</md-tooltip>
                                              <ng-md-icon icon="delete" size="24"></ng-md-icon>
                                          </md-button>
                                      </div>
                                      <div class="div-author">
                                          <a target="_blank" href="{{fileRC.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{fileRC.foto}}" alt="{{fileRC.titulo}}" /></a>
                                      </div>
                                      <div class="div-text">
                                          <div><a target="_blank" href="{{fileRC.url}}">{{fileRC.titulo}}</a></div>

                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="content-search">
                      <div class="inputBlock" layout>
                          <div flex="80">
                              <md-input-container style="padding-bottom:0.25em" flex="100" flex-sm="100">
                                  <label>Buscar noticias</label>
                                  <input ng-model="searchRel" ng-readonly="readonlySearchCT" ng-keypress="keySearchRelated($event)">
                              </md-input-container>
                          </div>
                          <div flex="20">
                              <md-button type="button" ng-click="searchRelated()" class="md-icon-button md-primary" aria-label="Buscar">
                                  <md-tooltip>Buscar</md-tooltip>
                                  <ng-md-icon icon="search" style="" size="24"></ng-md-icon>
                              </md-button>
                          </div>
                      </div>
                      <div class="inputBlock" layout>
                          <div class="content-result" style="width:100%">
                              <div style="text-align:center;width:100%">
                                  <md-progress-circular style="display:inline-block;margin-top:20px;" ng-show="searchLoadCT" md-mode="indeterminate"></md-progress-circular>
                              </div>
                              <div ng-show="listArrSocialNoResultCT" class="alert-warn md-body-1">No se encontraron resultados en la búsqueda.</div>
                              <div ng-show="listArrSocialCT.length>0"><dir-pagination-controls pagination-id="typeCT" max-size="5"></dir-pagination-controls></div>
                              <ul ng-show="!searchLoadCT">
                                  <li dir-paginate="file in listArrSocialCT | itemsPerPage: 5" pagination-id="typeCT">
                                      <div class="div-result div-related">
                                          <div class="done-related">
                                              <md-button type="button"  ng-click="clickCheckCT($index, file)" class="md-fab md-cms-green md-mini" aria-label="Eliminar">
                                                  <md-tooltip>Agregar</md-tooltip>
                                                  <ng-md-icon icon="done" size="24"></ng-md-icon>
                                              </md-button>
                                          </div>
                                          <div class="div-author">
                                              <a target="_blank" href="{{file.url}}"><img err-src="img/img-fallback.png" style="width:82px;height:auto; margin:0;padding:0" ng-src="{{file.foto}}" alt="{{file.titulo}}" /></a>
                                          </div>
                                          <div class="div-text">
                                              <div>
                                                <a target="_blank" href="{{file.url}}">{{file.titulo}}</a>
                                              </div>
                                              <div style="display:inline-block; margin-right:10px">
                                                  <img ng-if="file.sitio.slug === 'la10'" style="height:30px" src="svg/logo-la10.svg" alt="Logo" />
                                                  <img ng-if="file.sitio.slug === 'rpp'" style="height:30px" src="svg/rpp-noticias.png" alt="Logo" />
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                              <div ng-show="listArrSocialCT.length>0"><dir-pagination-controls pagination-id="typeCT" max-size="5"></dir-pagination-controls></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- End Add Text -->
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button type="button" ng-click="closeOpenAddText()" class="md-primary">
      Cerrar
    </md-button>
    <!-- <md-button ng-if="modalType === 'edit'" type="button" ng-click="removeOpenAddRelated()" class="md-primary">
        Eliminar
    </md-button> -->
    <md-button type="button" ng-click="addOpenAddText()" class="md-primary">
        {{(modalType === 'add')?'Agregar':'Actualizar'}}
    </md-button>
  </div>
</md-dialog>
