<div flex="100" class="area-draggable">
  <!-- 1x4 -->
  <div layout="row" class="block-wrap-news block-1x4">
    <div flex="25" class="padding-div-right" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(0, $data, $event, 'medio')">
      <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.medio[0]" class="block-news block-minheight-full" ng-class="{'placeholder': !destacadas.medio[0]}">
        <button ng-drag-handle type="button" class="btn-drag-handle">
            <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
        </button>
        <div layout="row">
          <div flex>
              <div class="img-wrap preload">
                  <img err-src="" class="img-responsive" ng-src="{{destacadas.medio[0].imagen_portada.url}}" alt="Imagen de noticia" />
                  <button type="button" ng-click="openAddPhoto($event, 'edit', 0, destacadas.medio[0], 'medio');" class="btn-change-img btn-in-list" aria-label="Cambiar imagen">
                      <ng-md-icon icon="add" size="24"></ng-md-icon>
                      <md-tooltip>Cambiar imagen</md-tooltip>
                  </button>
              </div>
              <div style="float: left;" class="block-temas">{{destacadas.medio[0].categoria.nombre}}</div>
              <div style="float: right;">
                <md-checkbox md-no-ink aria-label="EN VIVO" ng-model="destacadas.medio[0].envivo" class="md-primary">EN VIVO</md-checkbox>
              </div>
              <div style="clear: both;"></div>
              <h2 class="block-titulo-big" ng-click="inputEdit($event, 0)">
                  <div class="ng-hide input-edit-outer">
                      <md-input-container flex>
                          <textarea aria-label="input" ng-model="destacadas.medio[0].titulo" columns="3"></textarea>
                      </md-input-container>
                  </div>
                  <div class="input-edit-inner">
                      {{destacadas.medio[0].titulo}}
                  </div>
                  <div>
                    <div class="portada-fecha">
                      {{ destacadas.medio[0].post_date }}
                    </div>
                    <div class="portada-cantidad-visitas">
                      <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                       {{ destacadas.medio[0].visitas_total }}
                    </div>
                    <div style="clear: both;"></div>
                  </div>
              </h2>
          </div>
        </div>
      </div>
    </div>
    <div flex="25" class="padding-div-right" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(1, $data, $event, 'medio')">
      <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.medio[1]" class="block-news block-minheight-full" ng-class="{'placeholder': !destacadas.medio[1]}">
        <button ng-drag-handle type="button" class="btn-drag-handle">
            <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
        </button>
        <div layout="row">
            <div flex>
                <div class="img-wrap preload">
                    <img err-src="" class="img-responsive" ng-src="{{destacadas.medio[1].imagen_portada.url}}" alt="Imagen de noticia" />
                    <button type="button" ng-click="openAddPhoto($event, 'edit', 1, destacadas.medio[1], 'medio');" class="btn-change-img btn-in-list" aria-label="Cambiar imagen">
                        <ng-md-icon icon="add" size="24"></ng-md-icon>
                        <md-tooltip>Cambiar imagen</md-tooltip>
                    </button>
                </div>
                <div style="float: left;" class="block-temas">{{destacadas.medio[1].categoria.nombre}}</div>
                <div style="float: right;">
                  <md-checkbox md-no-ink aria-label="EN VIVO" ng-model="destacadas.medio[1].envivo" class="md-primary">EN VIVO</md-checkbox>
                </div>
                <div style="clear: both;"></div>
                <h2 class="block-titulo-big" ng-click="inputEdit($event, 1)">
                    <div class="ng-hide input-edit-outer">
                        <md-input-container flex>
                            <textarea aria-label="input" ng-model="destacadas.medio[1].titulo" columns="3"></textarea>
                        </md-input-container>
                    </div>
                    <div class="input-edit-inner">
                        {{destacadas.medio[1].titulo}}
                    </div>
                    <div>
                      <div class="portada-fecha">
                        {{ destacadas.medio[1].post_date }}
                      </div>
                      <div class="portada-cantidad-visitas">
                        <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                         {{ destacadas.medio[1].visitas_total }}
                      </div>
                      <div style="clear: both;"></div>
                    </div>
                </h2>
            </div>
        </div>
      </div>
    </div>
    <div flex="25" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(2, $data, $event, 'medio')">
      <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.medio[2]" class="block-news block-minheight-full" ng-class="{'placeholder': !destacadas.medio[2]}">
        <button ng-drag-handle type="button" class="btn-drag-handle">
            <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
        </button>
        <div layout="row">
            <div flex>
                <div class="img-wrap preload">
                    <img err-src="" class="img-responsive" ng-src="{{destacadas.medio[2].imagen_portada.url}}" alt="Imagen de noticia" />
                    <button type="button" ng-click="openAddPhoto($event, 'edit', 2, destacadas.medio[2], 'medio');" class="btn-change-img btn-in-list" aria-label="Cambiar imagen">
                        <ng-md-icon icon="add" size="24"></ng-md-icon>
                        <md-tooltip>Cambiar imagen</md-tooltip>
                    </button>
                </div>
                <div style="float: left;" class="block-temas">{{destacadas.medio[2].categoria.nombre}}</div>
                <div style="float: right;">
                  <md-checkbox md-no-ink aria-label="EN VIVO" ng-model="destacadas.medio[2].envivo" class="md-primary">EN VIVO</md-checkbox>
                </div>
                <div style="clear: both;"></div>
                <h2 class="block-titulo-big" ng-click="inputEdit($event, 2)">
                    <div class="ng-hide input-edit-outer">
                        <md-input-container flex>
                            <textarea aria-label="input" ng-model="destacadas.medio[2].titulo" columns="3"></textarea>
                        </md-input-container>
                    </div>
                    <div class="input-edit-inner">
                        {{destacadas.medio[2].titulo}}
                    </div>
                    <div>
                      <div class="portada-fecha">
                        {{ destacadas.medio[2].post_date }}
                      </div>
                      <div class="portada-cantidad-visitas">
                        <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                         {{ destacadas.medio[2].visitas_total }}
                      </div>
                      <div style="clear: both;"></div>
                    </div>
                </h2>
            </div>
        </div>
      </div>
    </div>
    <div flex="25" class="padding-div-left" ng-if="!publicidad.medio">
      <div class="block-inblock" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(3, $data, $event, 'medio')">
          <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.medio[3]" class="block-news block-minheight" ng-class="{'placeholder': !destacadas.medio[3]}">
              <button ng-drag-handle type="button" class="btn-drag-handle">
                  <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
              </button>
              <div layout="row">
                  <div flex>
                    <div style="float: left;" class="block-temas">{{destacadas.medio[3].categoria.nombre}}</div>
                    <div style="float: right;">
                      <md-checkbox md-no-ink aria-label="EN VIVO" ng-model="destacadas.medio[3].envivo" class="md-primary">EN VIVO</md-checkbox>
                    </div>
                    <div style="clear: both;"></div>
                      <h2 class="block-titulo-big" ng-click="inputEdit($event, 3)">
                          <div class="ng-hide input-edit-outer">
                              <md-input-container flex>
                                  <textarea aria-label="input" ng-model="destacadas.medio[3].titulo" columns="3"></textarea>
                              </md-input-container>
                          </div>
                          <div class="input-edit-inner">
                              {{destacadas.medio[3].titulo}}
                          </div>
                          <div>
                            <div class="portada-fecha">
                              {{ destacadas.medio[3].post_date }}
                            </div>
                            <div class="portada-cantidad-visitas">
                              <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                               {{ destacadas.medio[3].visitas_total }}
                            </div>
                            <div style="clear: both;"></div>
                          </div>
                      </h2>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-minheight" ng-if="true" ng-drop="true" ng-drop-success="onDropComplete(4, $data, $event, 'medio')">
        <div ng-if="true" ng-drag="true" ng-drag-data="destacadas.medio[4]" class="block-news block-minheight" ng-class="{'placeholder': !destacadas.medio[4]}">
          <button ng-drag-handle type="button" class="btn-drag-handle">
              <ng-md-icon icon="more_horiz" style="fill:white" size="24"></ng-md-icon>
          </button>
          <div layout="row">
            <div flex>
              <div style="float: left;" class="block-temas">{{destacadas.medio[4].categoria.nombre}}</div>
              <div style="float: right;">
                <md-checkbox md-no-ink aria-label="EN VIVO" ng-model="destacadas.medio[4].envivo" class="md-primary">EN VIVO</md-checkbox>
              </div>
              <div style="clear: both;"></div>
              <h2 class="block-titulo-big" ng-click="inputEdit($event, 4)">
                <div class="ng-hide input-edit-outer">
                    <md-input-container flex>
                        <textarea aria-label="input" ng-model="destacadas.medio[4].titulo" columns="3"></textarea>
                    </md-input-container>
                </div>
                <div class="input-edit-inner">
                    {{destacadas.medio[4].titulo}}
                </div>
                <div>
                  <div class="portada-fecha">
                    {{ destacadas.medio[4].post_date }}
                  </div>
                  <div class="portada-cantidad-visitas">
                    <ng-md-icon icon="visibility" size="12"></ng-md-icon>
                     {{ destacadas.medio[4].visitas_total }}
                  </div>
                  <div style="clear: both;"></div>
                </div>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div flex="25" class="padding-div-left" ng-if="publicidad.medio">
      <div class="block-ads block-ads-250x300"></div>
    </div>
  </div>
</div>
