<div layout="column" class="relative" flex role="main" id="oido-social">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                    <!--li>
                        <md-button ng-click="openPerfil($event, 'contrasena');" class="md-primary">
                            <ng-md-icon icon="lock"></ng-md-icon>
                            Contraseña
                        </md-button>
                    </li-->
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
                <ul>
                  <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Oido social</h5>
                      <md-tooltip>Odido Social</md-tooltip>
                  </li>
                  <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Publicador</h5>
                      <md-tooltip>Publicador</md-tooltip>
                  </li>
                  <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Ticker</h5>
                      <md-tooltip>Ticker</md-tooltip>
                  </li>
                  <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Streaming</h5>
                      <md-tooltip>Streaming</md-tooltip>
                  </li>
                  <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                          <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Eventos</h5>
                      <md-tooltip>Eventos</md-tooltip>
                  </li>
                  <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                          <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Podcast</h5>
                      <md-tooltip>Podcast</md-tooltip>
                  </li>
                  <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                          <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Elecciones</h5>
                      <md-tooltip>Elecciones</md-tooltip>
                  </li>
                  <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                      <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                          <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Redes sociales</h5>
                      <md-tooltip>Configurar Redes Sociales</md-tooltip>
                  </li>
                  <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                          <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Roles</h5>
                      <md-tooltip>Roles</md-tooltip>
                  </li>
                </ul>
            </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
            <!--md-button ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()" class="md-icon-button" aria-label="Settings">
              <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button-->
            <div class="contentSearch" id="contentSearch">
                <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
                <md-autocomplete
                    class="filterText"
                    md-selected-item="selectedFilterText"
                    md-search-text="filterText"
                    md-search-text-change="changeItemsSearch"
                    md-items="item in getItemsSearch($event, filterText)"
                    md-item-text="item"
                    md-selected-item-change="selectedItemChange(item)"
                    md-delay="250"
                    placeholder="Buscar..."
                >
                    <span md-highlight-text="filterText">{{item}}</span>
                </md-autocomplete>
                <ng-md-icon ng-click="btnOpenFilter($event)" class="iconFilter" icon="filter_list" style="fill: white"></ng-md-icon>
                <div ng-show="formOptionSearch" layout-padding id="optionSearch" class="md-whiteframe-z4">
                      <div layout layout-sm="column">
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="ownHistories" class="md-primary">
                          Solo mis historias.
                        </md-checkbox>
                      </div>
                      <div layout layout-sm="column">
                          <md-input-container flex>
                              <label>Desde</label>
                              <input type="date" ng-model="filterFrom">
                          </md-input-container>
                          <md-input-container flex>
                              <label>Hasta</label>
                              <input type="date" ng-model="filterTo">
                          </md-input-container>
                      </div>
                      <div layout layout-sm="column">
                          <md-button ng-click="searchFilterHistory($event)" type="button" class="md-raised md-warn">Buscar</md-button>
                      </div>
                </div>
            </div>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel($event)" class="md-icon-button" aria-label="Dashboard"-->
                <md-button
                    ng-class="{'novisiblesearch':!custom}"
                    class="md-icon-button"
                    aria-label="Modulos"
                    ns-popover
                    ns-popover-template="modulos-cabecera"
                    ns-popover-trigger="click"
                    ns-popover-placement="bottom"
                    ns-popover-theme="ns-popover-tooltip-theme"
                    ns-popover-timeout="0.5"
                 >
                    <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                      <md-tooltip md-direction="bottom">
                          Dashboard
                      </md-tooltip>
                </md-button>
                <div class="drop-panel-child" ng-show="showPanel">
                    <ul class="list-modules">
                        <li>
                            <md-button class="md-icon-button" aria-label="Usuarios">
                                <ng-md-icon icon="people"></ng-md-icon>
                            </md-button>
                            <span>Usuarios</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Configuración">
                                <ng-md-icon icon="settings"></ng-md-icon>
                            </md-button>
                            <span>Configuración</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Rotafono">
                                <ng-md-icon icon="perm_phone_msg"></ng-md-icon>
                            </md-button>
                            <span>Rotafono</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Estadisticas">
                                <ng-md-icon icon="poll"></ng-md-icon>
                            </md-button>
                            <span>Estadisticas</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Radio">
                                <ng-md-icon icon="radio"></ng-md-icon>
                            </md-button>
                            <span>Radio</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Agencias">
                                <ng-md-icon icon="public"></ng-md-icon>
                            </md-button>
                            <span>Agencias</span>
                        </li>
                    </ul>
                </div>
            </div>
            <md-button ng-class="{'novisiblesearch':!custom}"  class="md-icon-button" aria-label="Chat">
              <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Chat
              </md-tooltip>
            </md-button>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel2($event)" class="md-icon-button " aria-label="Modules"-->
                <md-button class="md-icon-button " aria-label="Modules">
                  <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Módulos
                  </md-tooltip>
                </md-button>
            </div>
            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="User"
                ns-popover
                ns-popover-template="perfil-popover"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
                >

                <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
                <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>

                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button ng-class="{'novisiblesearch':!custom}"  ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
              <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
          <!-- BREADCRUMB -->
          <md-toolbar class="md-toolbar-subhead">
              <div layout="row" layout-align="center center" class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1">
                  <div class="chip-legend" ng-if="parameterSearch.autor">
                      <span>{{ user.name }}</span>
                      <button type="button" ng-click="clickChipLegend('autor')">
                          <ng-md-icon icon="close" size="12" style="fill:white;"></ng-md-icon>
                      </button>
                  </div>
                  <div class="chip-legend" ng-if="parameterSearch.desde">
                      <span>{{parameterSearch.desde | date:'dd/MM/yyyy' }} - {{parameterSearch.hasta | date:'dd/MM/yyyy' }}</span>
                      <button type="button" ng-click="clickChipLegend('rango')">
                          <ng-md-icon icon="close" size="12" style="fill:white;"></ng-md-icon>
                      </button>
                  </div>
                  <div class="chip-legend" ng-if="parameterSearch.texto">
                      <span>{{parameterSearch.texto}}</span>
                      <button type="button" ng-click="clickChipLegend('texto')">
                          <ng-md-icon icon="close" size="12" style="fill:white;"></ng-md-icon>
                      </button>
                  </div>
              </div>
          </md-toolbar>
          <!-- /BREADCRUMB -->

            <!-- LEFT -->
            <!--aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft">
                <md-list>
                    <md-item ng-repeat="itemmenu in menuleft" ng-class="{active:$index===1}" class="md-item-menu-nav">
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{itemmenu.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{itemmenu.title}}
                            </div>
                        </md-item-content>
                        <md-divider></md-divider>
                    </md-item>
                </md-list>
            </aside-->
            <!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
                <div flex="100">
                    <script type="text/ng-template" id="enlaces-popover">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip">
                            <div class="enlaces-popover">
                                <ul>
                                    <li>
                                        <md-button ng-click="publishHistory($event, $index, history.lid);" class="md-primary">
                                            <ng-md-icon icon="language"></ng-md-icon>
                                            Publicar
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ng-click="openCreateHistory($event, 'editar', history.lid);" class="md-primary">
                                            <ng-md-icon icon="edit"></ng-md-icon>
                                            Modificar
                                        </md-button>
                                    </li>
                                    <li>
                                        <md-button ng-click="deleteHistory($event, $index, history.lid);" class="md-primary">
                                            <ng-md-icon icon="delete"></ng-md-icon>
                                            Eliminar
                                        </md-button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="histories-popover">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip">
                            <div class="histories-popover">
                                <h4>Temas asignados:</h4>
                                <ul>
                                    <li ng-repeat="tag in history.tag">{{tag.nombre}}</li>
                                </ul>
                            </div>
                        </div>
                    </script>
                    <md-content class="md-padding">
                      <div layout="row" layout-wrap layout-align="end center">
                        <md-card-content>
                          <md-button type="button" class="md-primary" ng-click="merge();">
                              <ng-md-icon icon="content_copy" size="20"></ng-md-icon> UNIR HISTORIAS
                          </md-button>
                        </md-card-content>
                        <div style="margin-right: 3.5%">
                          <md-checkbox md-no-ink ng-model="isCheckedAll" ng-change="historiesCheckAll()" aria-label="Checkbox" class="md-primary md-align-top-left"></md-checkbox>
                        </div>
                      </div>
                        <div>
                            <md-card ng-repeat="history in histories" class="md-card-news" ng-if="history.status==1">
                                <div layout="row" layout-wrap>
                                    <md-card-content flex="80">
                                        <h2 style="margin:0.125em 0;" style="cursor:pointer" ng-click="openCreateHistory($event, 'editar', history.lid);">
                                          {{ history.titulo }}
                                          <span ng-if="history.publish==1">
                                              <ng-md-icon icon="done" style="fill:#43A047">
                                                  <md-tooltip md-direction="top">
                                                      Publicado
                                                  </md-tooltip>
                                              </ng-md-icon>
                                          </span>
                                        </h2>
                                        <p class="card-secondary">
                                          <span
                                              class="btn-in-list"
                                              ns-popover
                                              ns-popover-template="histories-popover"
                                              ns-popover-trigger="click"
                                              ns-popover-placement="right"
                                              ns-popover-theme="ns-popover-tooltip-theme"
                                              ns-popover-timeout="0.5"
                                          >
                                              Temas <ng-md-icon icon="keyboard_arrow_down" size="16"></ng-md-icon>
                                          </span>
                                          <span ng-if="history.auth_name">|
                                              <ng-md-icon icon="person" size="14"></ng-md-icon> {{ history.auth_name}}
                                          </span>
                                        </p>
                                        <p style="margin-top:0.125em;" class="card-secondary">
                                           Fecha de creación: {{history.date_create * 1000 | date:'dd/MM/yyyy hh:mm a'}}
                                        </p>
                                        <p style="margin-top:0.125em;" class="card-secondary" ng-if="history.publish==1">
                                            <md-input-container md-no-float>
                                                <input placeholder="URL" ng-model="history.url" readonly="">
                                            </md-input-container>
                                            <md-input-container md-no-float>
                                                <a ng-href="{{ history.preview }}" target="_blank">{{ history.preview }}</a>
                                            </md-input-container>
                                        </p>
                                    </md-card-content>
                                    <div flex="10" class="md-actions" layout="row" layout-align="center center">
                                        <md-button
                                            class="md-icon-button"
                                            aria-label="Links"
                                            ns-popover
                                            ns-popover-template="enlaces-popover"
                                            ns-popover-trigger="click"
                                            ns-popover-placement="bottom"
                                            ns-popover-theme="ns-popover-tooltip-theme"
                                            ns-popover-timeout="0.5"
                                        >
                                            <ng-md-icon icon="more_vert"></ng-md-icon>
                                        </md-button>
                                    </div>
                                    <div flex="10" layout="row" layout-align="center center">
                                      <md-checkbox ng-model="history.isChecked" aria-label="Checkbox 1" class="md-primary md-align-top-left"></md-checkbox>
                                    </div>
                                </div>
                            </md-card>

                            <div scroll-trigger scroll-function="historiesNextPage()" threshold="100" class="trigger-scroll">&nbsp;</div>

                            <div ng-show="historiesBusy">
                                <md-progress-circular class="progressContent" md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div ng-show="msjBusy" class="alert-warning">
                                No hay más historias encontradas.
                            </div>
                            <div style="height:100px" id="scroll-bottom"></div>
                        </div>

                    </md-content>
                </div>
                <!-- FAB POPUP -->
                <section ng-init="iconAddFab='add'" id="fabs" ng-mouseenter="showAddButtons=true; iconAddFab='edit';" ng-mouseleave="showAddButtons=false; iconAddFab='add';">
                    <md-button ng-click="openCreateHistory($event);" id="mainFab" class="md-fab md-warn md-large" aria-label="Photos">
                        <md-tooltip md-direction="left">
                        Crear historia
                        </md-tooltip>
                        <ng-md-icon icon="{{iconAddFab}}" style="fill:white"></ng-md-icon>
                    </md-button>
                </section>
                <!-- FIN FAB POPUP -->


            </section>
            <!-- RIGHT -->
            <!--aside class="sidenav-right sidenav-module fullsidebar" id="sidebarright">
            </aside-->
            <!-- END SIDEBARS -->
        </div>
    </div>
    <!-- FOOTER -->
    <!--md-bottom-sheet>
    </md-bottom-sheet-->
</div>
