<div layout="column" class="relative" flex role="main" id="facebook-config">
    <!-- HEADER -->
    <div ng-include="'template/partial/header-nosearch.html'"></div>
    <!-- END HEADER -->
    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
            <!-- BREADCRUMB -->
            <md-toolbar class="md-toolbar-subhead">
                <div layout="row" layout-align="center center" class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1">
                    <md-button type="button" class="md-icon-button" ng-click="clicVolver()">
                        <ng-md-icon icon="arrow_back" size="28"></ng-md-icon>
                        <md-tooltip md-direction="bottom">
                            Volver
                        </md-tooltip>
                    </md-button>
                    <md-button type="button" class="md-primary" ng-disabled="!isEditRSField" ng-click="openRSShare($event, post, 'edit')">
                      <ng-md-icon icon="save" size="20"></ng-md-icon>Guardar
                      <md-tooltip md-direction="bottom">
                            Guardar
                        </md-tooltip>
                    </md-button>  
                </div>
            </md-toolbar>
            <!-- /BREADCRUMB -->
            <!-- LEFT -->
            <aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft">
                <menu-lateral-derecha activo="fotos" modulo="redes-sociales"></menu-lateral-derecha>
            </aside>
            <!-- /LEFT -->
            <!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter" style="width:100%;margin:0;">
                <div class="content-inner relative" style="margin-left: 200px;">
                  <form name="frmFB" novalidate>
                    <md-input-container class="md-block">
                        <label>
                            Mensaje
                            <span ng-if="post.message.length>0">({{post.message.length}} Caracteres)
                            </span>
                        </label>
                        <textarea ng-change="isEditRSField=true" name="message" ng-model="post.message" columns="1" rows="2" ng-required="true"></textarea>
                    </md-input-container>
                  </form>
                  <div ng-bind-html="post.embed_html | htmlEmbed"></div>
                  <!-- <md-content class="md-padding">
                    <div id="fb-root"></div>
                    <script>(function(d, s, id) {
                      var js, fjs = d.getElementsByTagName(s)[0];
                      if (d.getElementById(id)) return;
                      js = d.createElement(s); js.id = id;
                      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
                      fjs.parentNode.insertBefore(js, fjs);
                    }(document, "script", "facebook-jssdk"));</script>
                    <div class="fb-post" data-href="" data-width="500"></div> -->
                    <!-- <div class="fb-post" data-href="http://www.facebook.com/445633152292386/posts/490140714508296" data-width="500"></div> -->
                    <!-- ||{{post.facebook_posts[0].permalink}}||
                  </md-content> -->
                </div>
            </section>
            
        </div>
    </div>
</div>
