<div layout="column" class="relative" flex role="main" id="facebook-config">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary" aria-label="Button">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
                <ul>
                    <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Oido social</h5>
                        <md-tooltip>Odido Social</md-tooltip>
                    </li>
                    <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Publicador</h5>
                        <md-tooltip>Publicador</md-tooltip>
                    </li>
                    <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Ticker</h5>
                        <md-tooltip>Ticker</md-tooltip>
                    </li>
                    <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Streaming</h5>
                        <md-tooltip>Streaming</md-tooltip>
                    </li>
                    <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                            <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Eventos</h5>
                        <md-tooltip>Eventos</md-tooltip>
                    </li>
                    <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                            <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Podcast</h5>
                        <md-tooltip>Podcast</md-tooltip>
                    </li>
                    <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                            <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Elecciones</h5>
                        <md-tooltip>Elecciones</md-tooltip>
                    </li>
                    <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                        <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                            <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Redes sociales</h5>
                        <md-tooltip>Configurar Redes Sociales</md-tooltip>
                    </li>
                    <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                            <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Roles</h5>
                        <md-tooltip>Roles</md-tooltip>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
            <md-button ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()" class="md-icon-button" aria-label="Settings">
              <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button>
            <div class="contentSearch" id="contentSearch" has-permission slug-module="!roles" action-module="buscar"></div>
            <div class="contentSearch" id="contentSearch" has-permission slug-module="roles" action-module="buscar">
                <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
                <md-autocomplete
                    class="filterText"
                    md-selected-item="selectedFilterText"
                    md-search-text="filterText"
                    md-search-text-change="changeItemsSearch"
                    md-items="item in getItemsSearch($event, filterText)"
                    md-item-text="item"
                    md-delay="250"
                    placeholder="Últimas publicaciones"
                    ng-disabled="disabledSearch"
                >
                    <span md-highlight-text="filterText">{{item}}</span>
                </md-autocomplete>
                <ng-md-icon ng-click="btnOpenFilter($event)" class="iconFilter" icon="filter_list" style="fill: white"></ng-md-icon>
                <div ng-show="formOptionSearch" layout-padding id="optionSearch" class="md-whiteframe-z4">
                      <div layout layout-sm="column" class="block-filter--inner">
                          <select
                            flex
                            chosen
                            ng-change="changeLoadSectionHeader($event)"
                            ng-model="filterSite"
                            ng-options="item.nombre for item in filterSites track by item.slug"
                            data-placeholder="Grupo RPP"
                            no-results-text="'No hay opciones'"
                            >
                              <option value=""></option>
                          </select>
                      </div>
                      <div layout layout-sm="column" class="block-filter--inner">
                          <div flex style="margin-right: 5px;">
                              <div class="label">Desde</div>
                              <input type="date" ng-model="filterFrom">
                          </div>
                          <div flex style="margin-right: 5px;">
                              <div class="label">Hasta</div>
                              <input type="date" ng-model="filterTo">
                          </div>
                      </div>
                      <div layout layout-sm="column" class="block-filter--actions">
                          <md-button ng-click="searchFilterNews($event)" type="button" class="md-raised md-warn">Buscar</md-button>
                      </div>
                </div>
            </div>

            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="Modulos"
                ns-popover
                ns-popover-template="modulos-cabecera"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
             >
                <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Dashboard
                  </md-tooltip>
            </md-button>

            <md-button ng-class="{'novisiblesearch':!custom}"  class="md-icon-button" aria-label="Chat">
              <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Chat
              </md-tooltip>
            </md-button>

            <md-button ng-class="{'novisiblesearch':!custom}" class="md-icon-button " aria-label="Modules">
              <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Módulos
              </md-tooltip>
            </md-button>

            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="User"
                ns-popover
                ns-popover-template="perfil-popover"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
                >

                <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
                <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>

                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button ng-class="{'novisiblesearch':!custom}"  ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
              <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!-- END HEADER -->
    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
            <!-- BREADCRUMB -->
            <md-toolbar class="md-toolbar-subhead">
                <div layout="row" layout-align="center center" class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1">
                    <!-- ng-disabled="redessociales.facebook.accounts.length<=0" -->
                </div>
            </md-toolbar>
            <!-- /BREADCRUMB -->
            <!-- LEFT -->
            <aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft">
                <menu-lateral-derecha activo="programadas" modulo="redes-sociales"></menu-lateral-derecha>
            </aside>
            <!-- /LEFT -->
            <!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
                <div layout="column">
                    <div class="md-padding">
                        <script type="text/ng-template" id="enlaces-popover">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                                <div class="enlaces-popover">
                                    <ul>
                                        <li>
                                            <md-button ng-click="mostrarVistaDetalle($event, new._id);" class="md-primary">
                                                <ng-md-icon icon="edit"></ng-md-icon>
                                                Modificar
                                            </md-button>
                                        </li>
                                        <li>
                                            <md-button ng-click="openRSShare($event, new, 'delete')" class="md-primary">
                                                <ng-md-icon icon="delete"></ng-md-icon>
                                                Eliminar
                                            </md-button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </script>
                        <script type="text/ng-template" id="facebook-popover">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                                <div class="tags-popover">
                                    <h4>Post en Facebook:</h4>
                                    <ul>
                                        <li ng-repeat="post in new.facebook_posts">
                                            <div class="img-thumbs-rs">
                                                <img ng-click="openRSShare($event, post, 'share')" alt="{{post.name}}" ng-src="{{post.picture}}" style="cursor: pointer;"/>
                                                <md-tooltip md-direction="bottom">
                                                    {{post.name}}
                                                </md-tooltip>
                                          </div>    
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </script>
                        <script type="text/ng-template" id="twitter-popover">
                            <div class="triangle"></div>
                            <div class="ns-popover-tooltip">
                                <div class="tags-popover">
                                    <h4>Post en Twitter:</h4>
                                    <ul>
                                        <li ng-repeat="post in new.twitter_posts">
                                            <div class="img-thumbs-rs">
                                                <img ng-click="openRSShare($event, post, 'share')" alt="{{post.name}}" ng-src="{{post.picture}}" style="cursor: pointer;"/>
                                                <md-tooltip md-direction="bottom">
                                                    {{post.name}}
                                                </md-tooltip>
                                          </div>    
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </script>
                        <md-card ng-repeat="new in newsItems track by $index" class="md-card-news">
                                <div layout="row" layout-wrap>
                                    <figure class="md-avatar" flex="30" ng-click="mostrarVistaDetalle($event, new._id);" style="cursor: pointer;">
                                        <img err-src ng-src="{{new.imagen_portada}}?{{$index}}" alt="{{new.titulo}}" />
                                    </figure>
                                    <md-card-content flex="60">
                                        <p class="nd-card-top">
                                            <a ng-if="new.url" href="{{new.url}}" target="_blank" style="text-decoration: none;">
                                                <ng-md-icon icon="link" style="fill:rgb(33,150,243)"></ng-md-icon>
                                                <md-tooltip md-direction="top">Ir a URL</md-tooltip>
                                            </a>
                                            <a href="/#/publicador/noticia/{{new.nid}}" target="_blank" style="text-decoration: none;">
                                                <md-tooltip md-direction="top">Ir a noticia</md-tooltip>
                                                <ng-md-icon icon="link" sty></ng-md-icon>
                                            </a>
                                        </p>
                                        <h2 style="margin:0.125em 0;" style="cursor:pointer" ng-click="mostrarVistaDetalle($event, new._id);">{{ new.titulo }}</h2>
                                        <p class="card-secondary">
                                            Autor: <strong>{{ new.auth.name }}</strong>
                                        </p>
                                        <p style="margin-top:0.125em;" class="card-secondary">
                                           {{new.date_publish * 1000 | eventdate }}
                                           <!--{{new.date_publish}} | {{new.stats.daxpv}} Visita{{(new.stats.daxpv===1)?'':'s'}}-->
                                        </p>
                                        <ul style="margin:5px 0 0;padding:5px 0 0;list-style:none;">
                                            <li ng-if="new.facebook_posts.length > 0" style="display:inline-block;">
                                                <span>
                                                    <md-icon md-svg-src='svg/facebook29.svg' style='color:#435a8b; width:24px; height:24px;'></md-icon>
                                                    <md-tooltip>Facebook</md-tooltip>
                                                </span>
                                            </li>
                                            <li ng-repeat="post in new.facebook_posts" style="display:inline-block; margin-right: 5px;">
                                                <span>
                                                    <img ng-click="openRSShare($event, post, 'share')" alt="{{post.name}}" ng-src="{{post.picture}}" style="cursor: pointer; width:24px; height:24px; vertical-align: middle;"/>
                                                    <md-tooltip md-direction="bottom">{{post.name}}</md-tooltip>
                                                </span>    
                                            </li>
                                        </ul>
                                        <ul style="margin:5px 0 0;padding:5px 0 0;list-style:none;">
                                            <li ng-if="new.twitter_posts.length > 0" style="display:inline-block">
                                                <span>
                                                    <md-icon md-svg-src='svg/twitter20.svg' style='color:#55acee; width:24px;height:24px'></md-icon>
                                                    <md-tooltip>Twitter</md-tooltip>
                                                </span>
                                            </li>
                                            <li ng-repeat="post in new.twitter_posts" style="display:inline-block; margin-right: 5px;">
                                                <span>
                                                    <img ng-click="openRSShare($event, post, 'share')" alt="{{post.name}}" ng-src="{{post.picture}}" style="cursor: pointer; width:24px; height:24px; vertical-align: middle;"/>
                                                    <md-tooltip md-direction="bottom">{{post.name}}</md-tooltip>
                                                </span>    
                                            </li>
                                        </ul>
                                    </md-card-content>
                                    <div flex="10" class="md-actions" layout="row" layout-align="center center">
                                        <md-button
                                            class="md-icon-button"
                                            aria-label="Links"
                                            ns-popover
                                            ns-popover-template="enlaces-popover"
                                            ns-popover-trigger="click"
                                            ns-popover-placement="bottom"
                                            ns-popover-theme="ns-popover-tooltip-theme"
                                            ns-popover-timeout="0.5"
                                        >
                                            <ng-md-icon icon="more_vert"></ng-md-icon>
                                        </md-button>
                                    </div>                                
                                </div>
                            </md-card>
                        <div scroll-trigger scroll-function="newsNextPage()" threshold="100" class="trigger-scroll">&nbsp;</div>
                            <div ng-show="newsBusy">
                                <md-progress-circular class="progressContent" md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div ng-show="msjBusy" class="alert-warning">
                                No hay más publicaciones encontradas.
                            </div>
                            <div style="height:100px" id="scroll-bottom"></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
