<div layout="column" class="relative" flex role="main" id="eventos">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
                <ul>
                  <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Oido social</h5>
                      <md-tooltip>Odido Social</md-tooltip>
                  </li>
                  <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Publicador</h5>
                      <md-tooltip>Publicador</md-tooltip>
                  </li>
                  <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Ticker</h5>
                      <md-tooltip>Ticker</md-tooltip>
                  </li>
                  <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                          <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Streaming</h5>
                      <md-tooltip>Streaming</md-tooltip>
                  </li>
                  <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                          <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Eventos</h5>
                      <md-tooltip>Eventos</md-tooltip>
                  </li>
                  <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                          <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Podcast</h5>
                      <md-tooltip>Podcast</md-tooltip>
                  </li>
                  <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                          <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Elecciones</h5>
                      <md-tooltip>Elecciones</md-tooltip>
                  </li>
                  <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                      <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                          <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Redes sociales</h5>
                      <md-tooltip>Configurar Redes Sociales</md-tooltip>
                  </li>
                  <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                      <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                          <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                      </md-button>
                      <h5>Roles</h5>
                      <md-tooltip>Roles</md-tooltip>
                  </li>
                </ul>
            </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
            <!--md-button ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()" class="md-icon-button" aria-label="Settings">
              <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button-->
            <!-- <div class="contentSearch" id="contentSearch">
                <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
                <md-autocomplete
                    class="filterText"
                    md-selected-item="selectedFilterText"
                    md-search-text="filterText"
                    md-search-text-change="changeItemsSearch"
                    md-items="item in getItemsSearch($event, filterText)"
                    md-item-text="item"
                    md-selected-item-change="selectedItemChange(item)"
                    md-delay="250"
                    placeholder="Buscar..."
                >
                    <span md-highlight-text="filterText">{{item}}</span>
                </md-autocomplete>
                <ng-md-icon ng-click="btnOpenFilter($event)" class="iconFilter" icon="filter_list" style="fill: white"></ng-md-icon>
                <div ng-show="formOptionSearch" layout-padding id="optionSearch" class="md-whiteframe-z4">
                      <div layout layout-sm="column">
                        <md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="ownHistories" class="md-primary">
                          Solo mis historias.
                        </md-checkbox>
                      </div>
                      <div layout layout-sm="column">
                          <md-input-container flex>
                              <label>Desde</label>
                              <input type="date" ng-model="filterFrom">
                          </md-input-container>
                          <md-input-container flex>
                              <label>Hasta</label>
                              <input type="date" ng-model="filterTo">
                          </md-input-container>
                      </div>
                      <div layout layout-sm="column">
                          <md-button ng-click="searchFilterHistory($event)" type="button" class="md-raised md-warn">Buscar</md-button>
                      </div>
                </div>
            </div> -->
            <div flex="1"></div>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel($event)" class="md-icon-button" aria-label="Dashboard"-->
                <md-button
                    ng-class="{'novisiblesearch':!custom}"
                    class="md-icon-button"
                    aria-label="Modulos"
                    ns-popover
                    ns-popover-template="modulos-cabecera"
                    ns-popover-trigger="click"
                    ns-popover-placement="bottom"
                    ns-popover-theme="ns-popover-tooltip-theme"
                    ns-popover-timeout="0.5"
                 >
                    <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                      <md-tooltip md-direction="bottom">
                          Dashboard
                      </md-tooltip>
                </md-button>
                <div class="drop-panel-child" ng-show="showPanel">
                    <ul class="list-modules">
                        <li>
                            <md-button class="md-icon-button" aria-label="Usuarios">
                                <ng-md-icon icon="people"></ng-md-icon>
                            </md-button>
                            <span>Usuarios</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Configuración">
                                <ng-md-icon icon="settings"></ng-md-icon>
                            </md-button>
                            <span>Configuración</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Rotafono">
                                <ng-md-icon icon="perm_phone_msg"></ng-md-icon>
                            </md-button>
                            <span>Rotafono</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Estadisticas">
                                <ng-md-icon icon="poll"></ng-md-icon>
                            </md-button>
                            <span>Estadisticas</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Radio">
                                <ng-md-icon icon="radio"></ng-md-icon>
                            </md-button>
                            <span>Radio</span>
                        </li>
                        <li>
                            <md-button class="md-icon-button" aria-label="Agencias">
                                <ng-md-icon icon="public"></ng-md-icon>
                            </md-button>
                            <span>Agencias</span>
                        </li>
                    </ul>
                </div>
            </div>
            <md-button ng-class="{'novisiblesearch':!custom}"  class="md-icon-button" aria-label="Chat">
              <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Chat
              </md-tooltip>
            </md-button>
            <div class="drop-panel" ng-class="{'novisiblesearch':!custom}" >
                <!--md-button ng-click="openPanel2($event)" class="md-icon-button " aria-label="Modules"-->
                <md-button class="md-icon-button " aria-label="Modules">
                  <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Módulos
                  </md-tooltip>
                </md-button>
            </div>
            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="User"
                ns-popover
                ns-popover-template="perfil-popover"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
                >

                <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
                <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>

                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button ng-class="{'novisiblesearch':!custom}" ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
              <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
            <!-- BREADCRUMB -->
            <md-toolbar class="md-toolbar-subhead">
                <div layout="row" layout-align="center center" class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1">
                    <md-button type="button" class="md-icon-button" ng-click="clicVolver()">
                        <ng-md-icon icon="arrow_back" size="28"></ng-md-icon>
                        <md-tooltip md-direction="bottom">
                            Volver
                        </md-tooltip>
                    </md-button>
                    <md-button type="button" class="md-primary" ng-click="guardarEquipo();">
                        <ng-md-icon icon="language" size="20"></ng-md-icon> Guardar
                    </md-button>
                </div>
            </md-toolbar>
            <!-- /BREADCRUMB -->
            <!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter" style="margin-left:310px;">
                <div flex="100">
                    <md-content class="md-padding">
                        <div layout="row" layout-align="center center">
                            <div flex>
                                <!-- <pre style="background-color:yellow; word-wrap: break-word;">{{equipo}}yyyyyy</pre> -->
                                <md-content layout-padding>
                                    <md-input-container md-no-float class="md-default-theme">
                                        <label for="name">
                                            Nombre del equipo
                                        </label>
                                        <input ng-model="equipo.nombre" class="md-input ng-touched" id="name" tabindex="0" aria-invalid="false">
                                    </md-input-container>
                                </md-content>
                            </div>
                        </div>
                        <fieldset class="standard" flex>
                            <legend>
                                <ng-md-icon icon="security" size="20"></ng-md-icon>Escudo:
                            </legend>
                            <div layout="row" layout-align="center center">
                                <div flex>
                                    <md-content layout-padding>
                                        <input accept="image/x-png, image/png,image/gif, image/jpeg, image/jpg" class="loadThumbData" type="file" style="position:absolute;left:10px; height:1px; width:1px; overflow:hidden; z-index:-1" id="file-upload"/>
                                        <div class="" aria-label="Escudo" ng-click="agregarImagen('')" style="width:100px; height:100px; background-color: #eeeeee; border: 1px solid #dddddd; cursor:pointer;     background-size: 150%; background-position: 50% 50%; background-image: url('../img/img-fallback.png');">
                                            <div id="add-img--cover">
                                                <img ng-src="{{urlEscudos}}{{equipo.id}}.png" alt="" class="img-escudo" ng-if="equipo.id!=''">
                                            </div>
                                        </div>
                                    </md-content>
                                </div>
                            </div>
                        </fieldset>
                    </md-content>
                </div>
            </section>
            <aside class="sidenav-right sidenav-module" id="sidebarright">
                <!-- <pre style="background-color:yellow; word-wrap: break-word;">{{equipo}}</pre> -->
                <!-- DATOS GENERALES -->
                <section class="content-module">
                    <div class="buttons-options">
                        <h3 class="text-module"><ng-md-icon icon="settings" size="20" style=""></ng-md-icon> Datos generales </h3>
                    </div>
                    <md-tabs id="tabs-search-social" class="tabs-search-social" md-dynamic-height md-border-bottom>
                        <md-tab>
                            <md-tab-label>
                                <span>Campeonato</span>
                                <md-tooltip>Campeonato</md-tooltip>
                            </md-tab-label>
                            <md-tab-body>
                                <div layout="row" layout-wrap>
                                    <md-input-container>
                                        <label>{{equipo.campeonato==null?'* Seleccione campeonato':equipo.campeonato.nombre}}</label>
                                        <md-select ng-model="equipo.idcampeonato" aria-label="Campeonato">
                                            <md-option ng-repeat="cam in listaCampeonatos" ng-value="{{cam.id}}">
                                                {{cam.nombre}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div class="required alert-warn" ng-show="fields.tipo.length>0">{{fields.tipo}}</div>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </section>
            </aside>
        </div>
    </div>
</div>
