.comments.box-mod
  a(name="section-comment")
  .box-header
    .title ¿Qué opinas?
  div.fb-comments(data-href="http://developers.facebook.com/docs/plugins/comments/", data-numposts="5", data-width="100%")
  #fb-root
  //script.
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4&appId=1065644730116597";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
