script(src="/static/js/lib/libs.js")
script(src="/static/js/rpp-app.js", id="js-main")
if (pageType == "home")
  //- script(src="http://s3.amazonaws.com/rpp-static/scripts/podcast.js", type="text/javascript")
  script(src="/static/js/podcast.js")
  script(src="/static/js/lib/flash-widget.js")
