.box-mod.box-gallery
  .col-2
    a(href="#link" class="holder")
      +imgtemp("gallery-main.jpg")
      .count-media.big
        span.icon-gallery
        span.num 202
  .col-1
    .box-header
      h3.title
        a(href="#link") Elijah Wood: 10 películas del recordado ‘Frodo’
      p La estrella de ´El señor de los anillos´ celebra hoy su cumpleaños número 34.
    .box-body
      .row-top
        .info-l
          a(href="#link") Más galerías
        .pull-right
          a(href="#link") Ver todas
      .row
        .fig
          a(href="#link" class="holder")
            +imgtemp('tmp-002-144.jpg')
            .count-media
              span.icon-gallery
              span.num 202
        h3
          a(href='link') Pacquiao y Mayweather frente a frente por primera vez
      .row
        .fig
          a(href="#link" class="holder")
            +imgtemp('tmp-002-144.jpg')
            .count-media
              span.icon-gallery
              span.num 202
        h3
          a(href='link') Pacquiao y Mayweather frente a frente por primera vez
