.box-mod.box-liketoday
  .box-header
    .title Un día como hoy
    .pull-right
        span 26 de Enero
  figure
    +imgtemp('tmp-002-300.jpg')
    figcaption
      h3
        a(href="#link") Entra en vigor el protocolo de Kioto
