article.main-article
  figure
    a(href="#link", class="cover cover21x9 big")
      +imgtemp('img-main.jpg')
      span.icon-play
    figcaption
      h1
        a(href="link") Humala: Perseguimiento de opositores no tiene cabida en mi Gobierno
      p En conferencia de prensa, el jefe de Estado negó tajantemente que se haya ordenado un seguimiento a Marisol Espinoza.
