meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(http-equiv="Content-Type", content="text/html;charset=utf-8")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
meta(name="keywords", content="")
meta(name="description", content="")
meta(name="language", content="es")
meta(name="news_keywords", content="")
meta(name="bi3dPubDate", content="")
meta(name="robots", content="")
meta(name="googlebot", content="")
meta(name="organization", content="")
meta(name="author", content="")
meta(name="Origen", content="")
meta(name="locality", content="")

meta(name="twitter:card", content="")
meta(name="twitter:site", content="")
meta(name="twitter:title", content="")
meta(name="twitter:image", content="")
meta(name="twitter:description", content="")

meta(name="revisit-after", content="")

meta(property="og:title", content="")
meta(property="og:description", content="")
meta(property="og:url", content="")
meta(property="og:type", content="")
meta(property="og:image", content="")
meta(property="og:site_name", content="")
meta(property="fb:app_id", content="")
