.box-rating
  .row-1
    .title
      span Valora la nota:
      | Nobel de economía Joseph Stiglitz dice que el TPP...
    .pull-right
      .total Valoración Total
      .cant 4.4/5
  .row-2
    .avatar
      +imgtemp('avatar.png')
    .cont
      .row
        .author Autor:
          a(href="#link") #{' '}Jorge Luis Cruz
        .share Seguir:
          ul
            li
              a(href="#link")
                span.icon-facebook
            li
              a(href="#link")
                span.icon-twitter
            li
              a(href="#link")
                span.icon-rss
      p “Soy periodista por profesión, poeta por afición y curioso por naturaleza. Por eso este blog, para contar y explicar el qué, cómo, cuándo, dónde y por qué de toda clase de cosas y hechos.”
  .row-3
    form(class="newsletter-form" action='/', method='GET')
      .title suscríbete a nuestro newsletter
      .inner
        input(class="search-input" type='search', name='b', placeholder='Email')
        button
          span.icon-envelope
