.box-mod.related-news
  .box-header
    .title Más en Argentina
  .row.columns-3
    .cell
      +article-flow({
        img: "tmp-001-230.jpg",
        icon: "video",
        cat: "Mundo",
        title: "‘Yo soy Nisman’, será lema de marcha por crimen de fiscal",
        top: true,
        noColumn: true
      })
    .cell
      +article-flow({
        img: "tmp-002-230.jpg",
        icon: "gallery",
        cat: "Perú",
        title: "‘No fue un error, fue ilegal dañar las Líneas de Nasca’",
        top: true,
        noColumn: true
      })
    .cell
      +article-flow({
        img: "tmp-003-230.jpg",
        icon: "video",
        cat: "Perú",
        title: "Canciller: Perú espera compromiso chileno de erradicar espionaje",
        top: true,
        noColumn: true
      })

    .cell
      +article-flow({
        img: "tmp-001-230.jpg",
        icon: "video",
        cat: "Mundo",
        title: "‘Yo soy Nisman’, será lema de marcha por crimen de fiscal",
        top: true,
        noColumn: true
      })
    .cell
      +article-flow({
        img: "tmp-002-230.jpg",
        icon: "gallery",
        cat: "Perú",
        title: "‘No fue un error, fue ilegal dañar las Líneas de Nasca’",
        top: true,
        noColumn: true
      })
    .cell
      +article-flow({
        img: "tmp-003-230.jpg",
        icon: "video",
        cat: "Perú",
        title: "Canciller: Perú espera compromiso chileno de erradicar espionaje",
        top: true,
        noColumn: true
      })

//- .related-news.box-mod
  .box-header
    .title Más en Argentina
  .block
    .row.item-border
      +item-flow({
        img: "tmp-001-230.jpg",
        cat: "mundo",
        title: "‘Yo soy Nisman’, será lema de marcha por crimen de fiscal"
      })
      +item-flow({
        img: "tmp-002-230.jpg",
        icon: "gallery",
        cat: "actualidad",
        title: "‘No fue un error, fue ilegal dañar las Líneas de Nasca’"
      })
      +item-flow({
        img: "tmp-003-230.jpg",
        cat: "política",
        title: "Canciller: Perú espera compromiso chileno de erradicar espionaje"
      })
    .row.item-border
      +item-flow({
        img: "tmp-001-230.jpg",
        cat: "mundo",
        title: "‘Yo soy Nisman’, será lema de marcha por crimen de fiscal"
      })
      +item-flow({
        img: "tmp-002-230.jpg",
        icon: "gallery",
        cat: "actualidad",
        title: "‘No fue un error, fue ilegal dañar las Líneas de Nasca’"
      })
      +item-flow({
        img: "tmp-003-230.jpg",
        cat: "política",
        title: "Canciller: Perú espera compromiso chileno de erradicar espionaje"
      })
