.box-mod.box-row.rotafono
  h2.title
    a(href="/") Rotafono
  .row
    .fig
      a.cover(href="/")
        img.x-lazy(data-x={"content":"../tmp/tmp-001-144.jpg"})
        //+imgtemp('tmp-001-144.jpg')
        span.icon-video
    .cont
      h3
        a(href='link') Hoy vence el plazo para elegir lugar de votaci贸n el plazo para elegir lugar de votaci贸n el plazo para elegir lugar de votaci贸n
  .row
    .fig
      a.cover(href="/")
        img.x-lazy(data-x={"content":"../tmp/tmp-001-144.jpg"})
        //+imgtemp('tmp-001-144.jpg')
        span.icon-video
    .cont
      h3
        a(href='link') Hoy vence el plazo para elegir lugar de votaci贸n
