//-.social-share.x-column-fix(data-x = {"fixto":".col-primary .section"})
.social-share#share-options
  .inside
    ul
      li.fb-share
        span.count 1.5k
        a(href= linkFacebook, onclick='fn(this, event, {"method":"wopen"})')
          span.icon-facebook
      li.wa-share
        a(href= linkFacebook, onclick='fn(this, event, {"method":"wopen"})')
          span.icon-whatsapp
      li.tw-share
        a(href= linkTwitter, onclick='fn(this, event, {"method":"wopen"})')
          span.icon-twitter
      li.gp-share
        a(href= linkGoogle, onclick='fn(this, event, {"method":"wopen"})')
          span.icon-google-plus
      li.in-share
        a(href= linkLinkedin, onclick='fn(this, event, {"method":"wopen"})')
          span.icon-linkedin
      li.comment
        span.count 127
        a(href="#section-comment")
          span.icon-chat
  .on-share
    a(href="#compartir", onclick='fn(this, event, {"method":"toggleClass", "to": "#share-options"})')
      span.icon-forward-share
