//.box-sponsor
.box-mod.box-row
  +article-flow({
    img: "tmp-001-300.jpg",
    icon: "video",
    title: "Canciller: Perú espera compromiso chileno de erradicar espionaje",
    top: true,
    sponsor: true,
    noColumn: true,
    sidebar: true,
    ratio: "21x9"
  })
.box-mod.box-row
  .box-header
    h3.title
      a(href="/") Virales
  +article-flow({
    img: "tmp-003-230.jpg",
    icon: "video",
    title: "Canciller: Perú espera compromiso chileno de erradicar espionaje",
    top: true,
    sponsor: true,
    noColumn: true,
    sidebar: true
  })

.box-mod.box-row
  .box-header.back-image(style="background:transparent url('http://p-gruporpp-media.s3.amazonaws.com/2016/01/21/oscar2_66701.jpg') left top no-repeat;")
    h3.title
      a(href="/") Copa Libertadores
  +article-flow({
    img: "tmp-001-350.jpg",
    icon: "video",
    title: "Madre conmueve a miles por su testimonio del cáncer de piel",
    top: true,
    noColumn: true,
    sidebar: true,
    twoColumn: true
  })
  +article-flow({
    img: "tmp-001-350.jpg",
    icon: "video",
    title: "Madre conmueve a miles por su testimonio del cáncer de piel",
    top: true,
    noColumn: true,
    sidebar: true,
    twoColumn: true
  })
