.tags
  ul
    li
      h4
        a(href='#related', itemprop="keywords") Ollanta Humala
    li
      h4
        a(href='#related', itemprop="keywords") Espionaje
    li
      h4
        a(href='#related', itemprop="keywords") DINI
    li
      h4
        a(href='#related', itemprop="keywords") Chuponeo
    li
      h4
        a(href='#related', itemprop="keywords") Congreso de la República
