.box-mod.box-weather
  .box-header
    .title El Clima en tu ciudad
  .box-body
    .row
      .top
        .location Lima
        .change Cambiar Ciudad
      .cnt
        .now Ahora
        .value  25°
        span.icon-weather-1
    .row
      .col
        .schedule Por la noche
        .value 22°
        span.icon-weather-2
      .col
        .schedule Mañana
        .value 26°
        span.icon-weather-3
