@charset "UTF-8";
/* CSS Document */

@font-face{
	font-family: fuenteModulo;
	src: url(../fonts/Lato-Regular.ttf);
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: fuenteModulo;
}
body{
	height: 100%;
}
.contenedor{
	width: 1200px;
	margin: 50px auto; 
}
.cabecera{
	width: 100%;
	height: auto;
	position: relative;
}
.cabecera h1{
	padding: 30px;
}
.contenido{
	height: 810px;
	position: relative;
}
/* COL DER*/
#mapa{
	position: absolute;
	width: 830px;
	height: 100%;
	left: 370px;
}
#mapa #mapa-peru{
	width: 100%;
    height: 100%;
	margin: 0 auto;
	/*border: 1px dotted #A0A0A0;*/
}
/* COL IZQ */
#detalle{
	width: 370px;
	height: 100%;
	float: left;
	position: relative;
}
.referencia{
	height: 34px;
	padding: 2px;
	position: relative;
}
.referencia h1{
	font-size: 1.1em;
	font-weight: normal;
	padding: 6px;
	background-color: #b6302f;
	text-align: center;
	color: #fff;
}
.referencia .volver{
	position: absolute;
	right: 0;
	top: 30%;
	font-size: 0.8em;
	margin-right:10px;
	cursor: pointer;
	color: #fff;
}
.referencia .volver:hover{
	color: #0000FF;
}

.menu-lista{
	max-height: 585px;
	color: #b6302f;
	overflow-y: auto;
}
/* Candidato item */
.candidato{
	cursor: pointer;
	position: relative;
	border-bottom: 1px dotted #b6302f;
	margin: 5px 0;
	height: 90px;
	padding: 0;
}
.foto{
	width: 79px;
	height: 79px;
	float: left;
}
.foto img{
	max-width: 100%;
	height: 100%;
	border-radius: 60px;
	border: 1.5px solid;
}
.descripcion{
	width: 262px;
	float: left;
	margin-left: 14px;
	/*margin-top: 7px;*/
}
/* Info candidato */
.nombre{
	display: inline-block;
	font-weight: bold;
	font-size: 1.2em;
}
.partido{
	/*display: inline-block;*/
	font-size: 0.8em;
	text-transform: uppercase;
	/*margin-left: 3px;*/
}
.votos{
	font-size: 0.7em;
}
.votos::after{
	content: " votos ";
}
.cifra{
	float: left;
	margin-left: 7px;
	font-weight: 700;
}
.cifra::after{
	content: ' %';
}
/* Barra porcentaje */
.porcentaje{
	margin: 5px 0;
	display: inline-block;
	width: 100%;
	background: transparent;
	position: relative;
	max-width: 100%;
}
.meter{
	width: 190px;
}
.meter > span {
  float: left;
  display: block;
  height: 18px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(center bottom, rgb(43,194,83) 37%, rgb(84,240,84) 69%);
  position: relative;
  overflow: hidden;
  transition-duration: 800ms;
}
.orange > span {
  background-color: #f78850;
}
.blue > span {
  background-color: #35BCFF;
}
.yellow > span {
  background-color: #e9cb47;
}
.red > span {
  background-color: #e23c3c;
}
.green > span {
  background-color: #64A664;
}
.purple > span {
  background-color: #9787B7;
}
.escrutado .item{
	color: #b6302f;
    cursor: pointer;
    position: relative;
    border-bottom: 1px dotted #b6302f;
    margin: 5px 0;
    height: 55px;
    padding: 0;
}
.escrutado .tipo{
    width: 79px;
    float: left;
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    word-wrap: break-word
}
.escrutado .item:last-child .tipo{
    font-size: 0.9em;
}
.escrutado .detalle{
    width: 262px;
    float: left;
    margin-left: 14px;
}

/** CSS */
.infowindow{
	width: 245px;
	height: 75%;
	border: 1px solid #DADADA;
	background: rgba(255,255,255, 1);
	color: #000;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
	font-size: 0.75em;
}

.infowindow h3{
	background-color: #9B969C;
	color: #fff;
	text-align: center;
}

.infowindow table{
	width: 100%;
}

.infowindow th, td{
	padding: 1px;
    text-align: left;
    vertical-align: middle;
}


.infowindow-contenedor{
	height: 200px;
}

.seperator {
  height: 12px;
  overflow: hidden;
  position: relative;
}
.seperator:before, .seperator:after {
  border-bottom: 50px solid transparent;
  border-left: 50px solid #b6302f;
  border-right: 50px solid #b6302f;
  bottom: 0;
  content: " ";
  position: absolute;
  width: 50%;
}
.seperator:before {
  left: -100px;
}
.seperator:after {
  right: -100px;
}

@media only screen and (max-width:1200px){
	.contenedor{
		width:100%; /*el contenedor está al 100% del ancho de pantalla*/
		height:100%;
		/*margin:0 auto;/*centrar*/ /*si no lo coloco, lee el valor asignado en la parte de arriba en .contenedor*/
	}
	.contenido{
		height: 100%;
	}
	#mapa{
		position: static;
		width: 100%;
		height: 500px;
	}
	/* COL IZQUIERDA */
	#detalle{
		width: 100%;
		height: auto;
	}
	.descripcion{
		width: 83%;
		margin-left: 1%;
	}
	.porcentaje, .meter{
		width: 85%;
	}
	.menu-lista{
		height: 100%;
		overflow-y: hidden;
	}
	.foto{
		width: 15%;
		height: 79px;
		text-align: center;
	}

	.escrutado .item{
		color: #b6302f;
	    cursor: pointer;
	    position: relative;
	    border-bottom: 1px dotted #b6302f;
	    margin: 5px 0;
	    height: 55px;
	    padding: 0;
	}
	.escrutado .tipo{
	    width: 15%;
	}
	.escrutado .detalle{
	    width: 83%;
		margin-left: 1%;
	}
}

/* TABLET */
@media only screen and (max-width:768px){
	.cabecera{
		width: 100%;
		height: auto;
	}
	.cabecera h1{
		padding: 35px;
	}
	.contenedor{
		width: 100%;
		height: 100%;
	}
	.contenido{
		height: auto;
	}
	/* COL DERECHA */
	#mapa{
		position: static;
		width: 100%;
		height: 500px;
	}
	/* COL IZQUIERDA */
	#detalle{
		width: 100%;
		height: auto;
	}
	.descripcion{
		width: 75%;
		margin-left: 5%;
	}
	.porcentaje, .meter{
		width: 75%;
	}
	.menu-lista{
		height: 100%;
		overflow-y: hidden;
	}
	.foto{
		width: 15%;
		height: 79px;
		text-align: center;
		margin-left: 3%;
	}
	.escrutado .tipo{
	    width: 15%;
	    margin-left: 3%;
	}
	.escrutado .detalle{
	    width: 75%;
		margin-left: 5%;
	}
}

/* MOVIL */
@media only screen and (max-width:480px){
	.cabecera{
		width: 100%;
		height: auto;
	}
	.cabecera h1{
		padding: 10px;
	}
	.contenedor{
		width: 100%;
		height: auto;
	}
	.foto{
		margin-left: 3%;
	}
	.contenido{
		height: auto;
	}
	.referencia{
		height: 35px;
	}
	.descripcion, .escrutado .detalle{
		width: 75%;
		margin-left: 5%;
	}
	.escrutado .tipo{
		margin-left: 3%;
		font-size: 0.9em;
	}
	.porcentaje, .meter{
		width: 50%;
	}
}