<style>
  .img-escudo-tv, .img-escudo-logo { width: 100%; background-color: #fff; }
  #add-img--cover-tv, #add-img--cover-logo { position: relative; }
</style>
<md-dialog flex="65" aria-label="Add Related">
  <!-- <pre style="background-color:yellow; word-break: break-word;">{{candidato}}</pre>
  <pre style="background-color:yellow; word-break: break-word;">{{existeFoto}}</pre> -->
  <md-dialog-content>
    <form name="frmCandidato" novalidate>
      <div layout="row">
        <div class="inputBlock" style="width:35%; overflow:hidden">
          <md-input-container flex>
            <label>
              * Nombre
              <span ng-if="candidato.nombre.length>0">({{candidato.nombre.length}} Caracteres)</span>
            </label>
            <input name="nombre" ng-model="candidato.nombre" ng-required="true" ng-trim="false"></input>
          </md-input-container>
        </div>
        <div class="inputBlock" style="width:30%; overflow:hidden; margin-left:30px;">
          <md-input-container flex>
            <label>
              * Nombre corto
              <span ng-if="candidato.nombrecorto.length>0">({{candidato.nombrecorto.length}} Caracteres)</span>
            </label>
            <input name="nombrecorto" ng-model="candidato.nombrecorto" ng-required="true" ng-trim="false" ng-maxlength="15"></input>
          </md-input-container>
          <div ng-show="frmCandidato.nombrecorto.$error.maxlength" class="alert-warn md-body-1">
            Ingrese como máximo 15 caracteres
          </div>
        </div>
        <div class="inputBlock" style="width:30%; overflow:hidden; margin-left:30px;">
          <md-input-container flex>
            <label>
              * Orden
              <span ng-if="candidato.orden.length>0">({{candidato.orden.length}} Caracteres)</span>
            </label>
            <input name="orden" ng-model="candidato.orden" ng-required="true" ng-trim="false"></input>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <div class="inputBlock" style="width:35%; overflow:hidden">
          <md-input-container flex>
            <label>
              * Partido Político
              <span ng-if="candidato.partido.length>0">({{candidato.partido.length}} Caracteres)</span>
            </label>
            <input name="partido" ng-model="candidato.partido" ng-required="true" ng-trim="false"></input>
          </md-input-container>
        </div>
        <div class="inputBlock" style="width:30%; overflow:hidden; margin-left:30px;">
          <md-input-container flex>
            <label>
              * Partido Político nombre corto
              <span ng-if="candidato.partidocorto.length>0">({{candidato.partidocorto.length}} Caracteres)</span>
            </label>
            <input name="partidocorto" ng-model="candidato.partidocorto" ng-required="true" ng-trim="false" ng-maxlength="15"></input>
          </md-input-container>
          <div ng-show="frmCandidato.partidocorto.$error.maxlength" class="alert-warn md-body-1">
            Ingrese como máximo 15 caracteres
          </div>
        </div>
      </div>
      <div layout="row">
        <div class="inputBlock" style="width:50%; overflow:hidden">
          <md-input-container flex>
            <label>
              * URL
              <span ng-if="candidato.url.length>0">({{candidato.url.length}} Caracteres)</span>
            </label>
            <input type="url" name="url" ng-model="candidato.url" ng-required="true" ng-trim="false"></input>
          </md-input-container>
          <div ng-show="frmCandidato.url.$error.url" class="alert-warn md-body-1">
            Ingrese una URL válida. Ejemplo: http://rpp.pe
          </div>
        </div>
      </div>
      <div layout="row">
        <div class="inputBlock" style="width:35%; overflow:hidden">
          <md-input-container flex>
            <label>
              * Tag
              <span ng-if="candidato.tag.length>0">({{candidato.tag.length}} Caracteres)</span>
            </label>
            <input name="tag" ng-model="candidato.tag" ng-required="true" ng-trim="false"></input>
          </md-input-container>
        </div>
        <div class="inputBlock" style="width:35%; overflow:hidden; margin-left:30px;">
          <md-input-container flex>
            <label>
              * Color
              <span ng-if="candidato.color.length>0">({{candidato.color.length}} Caracteres)</span>
            </label>
            <input name="color" ng-model="candidato.color" ng-required="true" ng-trim="false"></input>
          </md-input-container>
        </div>
      </div>
      <div layout="row">
        <fieldset class="standard" style="width:160px; margin-top: 10px; height:185px; display: inline-block; ">
          <legend>
              <ng-md-icon icon="assignment_ind" size="20"></ng-md-icon>* Foto
          </legend>
          <!-- <div layout="row" layout-align="center center"> -->
              <!-- <div flex> -->
                  <!-- <md-content layout-padding style="overflow:hidden;"> -->
                      <input accept="image/x-png, image/png,image/gif, image/jpeg, image/jpg" class="loadThumbData" type="file" style="position:absolute;left:10px; height:1px; width:1px; overflow:hidden; z-index:-1" id="file-upload"/>
                      <div class="" aria-label="Escudo" ng-click="agregarImagen()" style="width:160px; height:170px; background-color: #fff;  cursor:pointer; background-size: 150%; background-position: 50% 50%; background-image: url('../img/img-fallback.png');">
                          <div id="add-img--cover">
                              <img err-src="img/img-fallback.png" ng-src="{{candidato.foto}}" alt="" class="img-escudo" ng-if="candidato.foto!=''">
                              <md-button class="md-fab md-fab-remove md-mini md-warn" ng-click="removePreview($event)" aria-label="Remover imagen" style="position:absolute; right:0; top:0;" ng-show="existeFoto">
                                  <md-tooltip>Remover imagen</md-tooltip>
                                  <ng-md-icon icon="delete" size="20"></ng-md-icon>
                              </md-button>
                          </div>
                      </div>
                  <!-- </md-content> -->
              <!-- </div> -->
            <!-- </div> -->
        </fieldset>
        <fieldset class="standard" style="width:160px; margin-top: 10px; height:185px; display: inline-block;">
          <legend>
              <ng-md-icon icon="assignment_ind" size="20"></ng-md-icon>* Foto TV
          </legend>
          <!-- <div layout="row" layout-align="center center"> -->
              <!-- <div flex> -->
                  <!-- <md-content layout-padding style="overflow:hidden;"> -->
                      <input accept="image/x-png, image/png,image/gif, image/jpeg, image/jpg" class="loadThumbDataTv" type="file" style="position:absolute;left:10px; height:1px; width:1px; overflow:hidden; z-index:-1" id="file-upload-tv"/>
                      <div class="" aria-label="Escudo" ng-click="agregarImagenTv()" style="width:160px; height:170px; background-color: #fff;  cursor:pointer; background-size: 150%; background-position: 50% 50%; background-image: url('../img/img-fallback.png');">
                          <div id="add-img--cover-tv">
                              <img err-src="img/img-fallback.png" ng-src="{{candidato.fototv}}" alt="" class="img-escudo-tv" ng-if="candidato.fototv!=''">
                              <md-button class="md-fab md-fab-remove md-mini md-warn" ng-click="removePreviewTv($event)" aria-label="Remover imagen" style="position:absolute; right:0; top:0;" ng-show="existeFotoTv">
                                  <md-tooltip>Remover imagen</md-tooltip>
                                  <ng-md-icon icon="delete" size="20"></ng-md-icon>
                              </md-button>
                          </div>
                      </div>
                  <!-- </md-content> -->
              <!-- </div> -->
            <!-- </div> -->
        </fieldset>
        <fieldset class="standard" style="width:160px; margin-top: 10px; height:185px; display: inline-block;">
          <legend>
              <ng-md-icon icon="assignment_ind" size="20"></ng-md-icon>* Logo TV
          </legend>
          <!-- <div layout="row" layout-align="center center"> -->
              <!-- <div flex> -->
                  <!-- <md-content layout-padding style="overflow:hidden;"> -->
                      <input accept="image/x-png, image/png,image/gif, image/jpeg, image/jpg" class="loadThumbDataLogo" type="file" style="position:absolute;left:10px; height:1px; width:1px; overflow:hidden; z-index:-1" id="file-upload-logo"/>
                      <div class="" aria-label="Escudo" ng-click="agregarLogoTv()" style="width:160px; height:170px; background-color: #fff;  cursor:pointer; background-size: 150%; background-position: 50% 50%; background-image: url('../img/img-fallback.png');">
                          <div id="add-img--cover-logo">
                              <img err-src="img/img-fallback.png" ng-src="{{candidato.logotv}}" alt="" class="img-escudo-logo" ng-if="candidato.logotv!=''">
                              <md-button class="md-fab md-fab-remove md-mini md-warn" ng-click="removePreviewLogo($event)" aria-label="Remover imagen" style="position:absolute; right:0; top:0;" ng-show="existeLogoTv">
                                  <md-tooltip>Remover imagen</md-tooltip>
                                  <ng-md-icon icon="delete" size="20"></ng-md-icon>
                              </md-button>
                          </div>
                      </div>
                  <!-- </md-content> -->
              <!-- </div> -->
            <!-- </div> -->
        </fieldset>
      </div>
    </form>
    <p style="margin-top:3.5em; margin-bottom:2em; color:gray"> (*) Campos requeridos.</p>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button type="button" ng-click="cancelar()" class="md-primary">
      Cerrar
    </md-button>
    <md-button type="button" class="md-primary" ng-click="aceptar()" ng-disabled="frmCandidato.$invalid||!existeFoto">
      {{(modalType === 'add')?'Agregar':'Actualizar'}}
    </md-button>
  </div>
</md-dialog>