<md-dialog aria-label="Seleccionar candidato" flex="95">
  <md-dialog-content class="sticky-container">
    <md-content layout-padding>
      <div layout="row" layout-padding class="content_multiselect">
        <div flex>
          <!-- <pre style="background-color:yellow; word-break: break-word;">{{candidato}}</pre> -->
          <div style="height:80px; margin-bottom: 1em;">
              <div class="wrap-autocomplete" style="padding-top:10px">
                  <div class="separador-select">
                      <span class="label">Candidato:</span>
                      <div class="select-contador horizontal">
                        <select
                            chosen
                            ng-model="candidato"
                            no-results-text="'No hay opciones'"
                            ng-options="item.nombre for item in listaCandidatos"
                            style="width:300px;">
                            <option value=""></option>
                        </select>
                      </div>
                  </div>
              </div>
          </div>
          <div flex class="candidato" style="width:220px;">
              <div class="candidato-foto" style="height:250px;">
                  <img ng-src="{{candidato.foto}}" alt="{{candidato.nombre}}" style="height:250px;">
              </div>
              <div class="candidato-nombre">
                  {{candidato.nombrecorto}}
              </div>
              <div class="candidato-partido">
                  {{candidato.partido}}
              </div>
          </div> 
        </div>
      </div>
    </md-content>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancelar()" class="md-primary">
      Cerrar
    </md-button>
    <md-button ng-click="aceptar()" class="md-raised md-warn">
      Guardar selección
    </md-button>
  </div>
</md-dialog>
