block variables
  - var pageType = ""
  - var pageTitle = ""
  - var x = ""
doctype html
html

  include ../components/mixins
  head
    title= pageTitle
    link(rel="canonical", href="http://rpp.pe/")
    include ../helpers/meta.jade
    link(href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Merriweather:400,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="/static/css/main.css?ddd=1")


  body(class= pageType data-x= x)

    #wrap
      block main
