extends base

block main
  include ../components/header

  #content(role='main')
    .grid.pad.bg-dim
      block container
        |content

  include ../components/footer
  include ../helpers/footer-js
