<div layout="column" class="relative" flex role="main">
    <!-- HEADER -->
    <script type="text/ng-template" id="perfil-popover">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button ng-click="openPerfil($event, 'perfil');" class="md-primary" aria-label="Button">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
                <ul>
                    <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Oido social</h5>
                        <md-tooltip>Odido Social</md-tooltip>
                    </li>
                    <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Publicador</h5>
                        <md-tooltip>Publicador</md-tooltip>
                    </li>
                    <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Ticker</h5>
                        <md-tooltip>Ticker</md-tooltip>
                    </li>
                    <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                            <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Streaming</h5>
                        <md-tooltip>Streaming</md-tooltip>
                    </li>
                    <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                            <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Eventos</h5>
                        <md-tooltip>Eventos</md-tooltip>
                    </li>
                    <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                            <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Podcast</h5>
                        <md-tooltip>Podcast</md-tooltip>
                    </li>
                    <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                            <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Elecciones</h5>
                        <md-tooltip>Elecciones</md-tooltip>
                    </li>
                    <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                        <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                            <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Redes sociales</h5>
                        <md-tooltip>Configurar Redes Sociales</md-tooltip>
                    </li>
                    <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                        <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                            <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                        </md-button>
                        <h5>Roles</h5>
                        <md-tooltip>Roles</md-tooltip>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <md-toolbar ng-class="{'novisibletoolbar':!custom}" class="md-toolbar-head">
        <div class="md-toolbar-tools">
            <figure class="logo"><img ng-click="openBase()" class="pointer" src="svg/logo-grupo-rpp.svg" alt="Logo Grupo RPP"></figure>
            <md-button ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()" class="md-icon-button" aria-label="Settings">
              <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button>
            <div class="contentSearch" id="contentSearch" has-permission slug-module="!noticias" action-module="buscar"></div>
            <div class="contentSearch" id="contentSearch" has-permission slug-module="noticias" action-module="buscar">
                <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
                <md-autocomplete
                    class="filterText"
                    md-selected-item="selectedFilterText"
                    md-search-text="filterText"
                    md-search-text-change="changeItemsSearch"
                    md-items="item in getItemsSearch($event, filterText)"
                    md-item-text="item"
                    md-delay="250"
                    placeholder="Últimas noticias"
                    ng-disabled="disabledSearch"
                >
                    <span md-highlight-text="filterText">{{item}}</span>
                </md-autocomplete>
                <ng-md-icon ng-click="btnOpenFilter($event)" class="iconFilter" icon="filter_list" style="fill: white"></ng-md-icon>
                <div ng-show="formOptionSearch" layout-padding id="optionSearch" class="md-whiteframe-z4">
                      <div layout layout-sm="column" class="block-filter--inner">
                          <select
                            flex
                            chosen
                            ng-change="changeLoadSectionHeader($event)"
                            ng-model="filterSite"
                            ng-options="item.nombre for item in filterSites track by item.slug"
                            data-placeholder="Grupo RPP"
                            no-results-text="'No hay opciones'"
                            >
                              <option value=""></option>
                          </select>
                          <select
                            flex
                            chosen
                            ng-model="filterSection"
                            ng-options="item.label for item in filterSections track by item.slug"
                            data-placeholder="Categoría"
                            no-results-text="'No hay opciones'"
                            >
                              <option value=""></option>
                          </select>
                          <select
                            flex
                            chosen
                            ng-model="filterTypeContent"
                            ng-options="item.nombre for item in filterTypeContents track by item.slug"
                            data-placeholder="Tipo"
                            no-results-text="'No hay opciones'"
                            >
                              <option value=""></option>
                          </select>
                      </div>
                      <div layout layout-sm="column" class="block-filter--inner">
                          <div flex style="margin-right: 5px;">
                              <div class="label">Desde</div>
                              <input type="date" ng-model="filterFrom">
                          </div>
                          <div flex style="margin-right: 5px;">
                              <div class="label">Hasta</div>
                              <input type="date" ng-model="filterTo">
                          </div>
                          <select
                            flex
                            chosen
                            ng-model="filterState"
                            ng-options="item.nombre for item in filterStates track by item.slug"
                            data-placeholder="Estado"
                            no-results-text="'No hay opciones'"
                            >
                              <option value=""></option>
                          </select>
                      </div>
                      <div layout layout-sm="column" class="block-filter--inner">
                          <select
                            flex
                            chosen
                            ng-model="filterAuthor"
                            ng-options="item.nombre for item in filterAuthors track by item.slug"
                            data-placeholder="Autor"
                            no-results-text="'No hay opciones'"
                            >
                              <option value=""></option>
                          </select>
                           <div flex style="margin-right: 5px;"></div>
                           <div flex style="margin-right: 5px;"></div>
                      </div>
                      <div layout layout-sm="column" class="block-filter--actions">
                          <md-button ng-click="searchFilterNews($event)" type="button" class="md-raised md-warn">Buscar</md-button>
                      </div>
                </div>
            </div>

            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="Modulos"
                ns-popover
                ns-popover-template="modulos-cabecera"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
             >
                <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Dashboard
                  </md-tooltip>
            </md-button>

            <md-button ng-class="{'novisiblesearch':!custom}"  class="md-icon-button" aria-label="Chat">
              <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Chat
              </md-tooltip>
            </md-button>

            <md-button ng-class="{'novisiblesearch':!custom}" class="md-icon-button " aria-label="Modules">
              <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
              <md-tooltip md-direction="bottom">
                  Módulos
              </md-tooltip>
            </md-button>

            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="User"
                ns-popover
                ns-popover-template="perfil-popover"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
                >

                <img ng-if="user.pictureUrl" ng-src="{{ user.pictureUrl }}" alt="User" style="width:24px;height:24px;border-radius:50%;"></img>
                <md-icon ng-if="!user.pictureUrl" md-svg-src="svg/user.svg" alt="User" style="width:24px;height:24px,"></md-icon>

                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button ng-class="{'novisiblesearch':!custom}"  ng-disabled="disabledCloseSession" ng-click="closeSession()" class="md-icon-button" aria-label="Scape">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
              <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <div flex>
        <div ng-click="hideLayer($event)" id="layerSearch" ng-show="layerSearch"></div>
        <div layout="column">
            <!-- BREADCRUMB -->
            <md-toolbar class="md-zindex-0 md-toolbar-subhead">
                <div class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1">
                    <div style="margin: 0 auto; width: 85%;">
                        <div class="chip-legend" ng-repeat="chip in chipLegend">
                            <span>{{chip.nombre}}</span>
                            <button type="button" ng-click="clickChipLegend(chip, $index)">
                                <ng-md-icon icon="close" size="12" style="fill:white;"></ng-md-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </md-toolbar>
            <!-- /BREADCRUMB -->
            <!-- SIDEBARS -->
            <!-- LEFT -->
            <aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft">
                <menu-lateral-derecha activo="publicador"></menu-lateral-derecha>
            </aside>
            <!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
                <div flex="100">
                    <script type="text/ng-template" id="enlaces-popover">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip">
                            <div class="enlaces-popover">
                                <ul>
                                    <li has-permission slug-module="noticias" action-module="actualizar">
                                        <md-button ng-click="openCreateNew($event, 'editar', new.nid);" class="md-primary">
                                            <ng-md-icon icon="edit"></ng-md-icon>
                                            Modificar
                                        </md-button>
                                    </li>
                                    <li ng-if="new.link">
                                        <md-button ng-click="" href="{{new.link}}" target="_blank" class="md-primary">
                                            <ng-md-icon icon="link"></ng-md-icon>
                                            Ir a Url
                                        </md-button>
                                    </li>
                                    <li has-permission slug-module="noticias" action-module="eliminar">
                                        <md-button ng-click="openDeleteNew($event, new.titulo, new.nid, $index);" class="md-primary">
                                            <ng-md-icon icon="delete"></ng-md-icon>
                                            Eliminar
                                        </md-button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="destacados-popover">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip">
                            <div class="destacados-popover">
                                <h4>Portadas asignadas:</h4>
                                <div id="ns_{{new.nid}}">
                                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                </div>
                            </div>
                        </div>
                    </script>
                    <script type="text/ng-template" id="tags-popover">
                        <div class="triangle"></div>
                        <div class="ns-popover-tooltip">
                            <div class="tags-popover">
                                <h4>Temas asignados:</h4>
                                <ul>
                                    <li ng-repeat="tag in new.tags">{{tag.nombre}}</li>
                                </ul>
                            </div>
                        </div>
                    </script>

                        <div class="md-padding">
                            <h3 style="margin:0 0 1em 1em; font-weight:normal;">Resultados encontrados: <strong>{{total_rows}}</strong> </h3>
                            <md-card ng-repeat="new in newsItems track by $index" class="md-card-news">
                                <div layout="row" layout-wrap>
                                    <figure class="md-avatar" flex="30">
                                        <img err-src ng-src="{{new.imagen_portada.url}}?{{$index}}" alt="{{new.titulo}}" ng-click="openCreateNew($event, 'editar', new.nid);" style="width:100%; cursor:pointer; height:auto;" />
                                    </figure>
                                    <md-card-content flex="60">
                                        <p class="nd-card-top">
                                            <span ng-switch="new.tipo">
                                                <span ng-switch-when="noticia">
                                                    <ng-md-icon icon="reorder" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Noticia
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="galeria">
                                                    <ng-md-icon icon="image" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Galeria
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="slider">
                                                    <ng-md-icon icon="collections" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Slider
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="video">
                                                    <ng-md-icon icon="video_collection" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Video
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="audio">
                                                    <ng-md-icon icon="volume_up" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Audio
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="url">
                                                    <ng-md-icon icon="link" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        URL Externo
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="mam">
                                                    <ng-md-icon icon="alarm_add" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Minuto a minuto
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="blog">
                                                    <ng-md-icon icon="perm_contact_cal" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Autores
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="infografia">
                                                    <ng-md-icon icon="photo_album" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        Infografia
                                                    </md-tooltip>
                                                </span>
                                                <span ng-switch-when="brandcontent">
                                                    <ng-md-icon icon="picture_in_picture" size="16" style="fill:#424242"></ng-md-icon>
                                                    <md-tooltip md-direction="top">
                                                        BrandContent
                                                    </md-tooltip>
                                                </span>
                                            </span>
                                            <span ng-if="new.categorias.length>1" class="card-secondary"
                                                ns-popover
                                                ns-popover-plain="true"
                                                  ns-popover-template="{{returnCategorys(new.categorias)}}"
                                                ns-popover-trigger="mouseenter"
                                                ns-popover-placement="bottom"
                                                ns-popover-theme="ns-popover-tooltip-theme"
                                                ns-popover-timeout="0.5"
                                                >
                                                <span ng-repeat="categoria in new.categorias">
                                                    <span ng-if="categoria.primary">{{categoria.slug}}</span>
                                                </span>
                                            </span>
                                            <span ng-if="new.categorias.length<=1" class="card-secondary"
                                                ns-popover
                                                ns-popover-plain="true"
                                                  ns-popover-template="<div class='triangle'></div><div class='ns-popover-tooltip'>No tiene más categorias asignadas.</div>"
                                                ns-popover-trigger="mouseenter"
                                                ns-popover-placement="bottom"
                                                ns-popover-theme="ns-popover-tooltip-theme"
                                                ns-popover-timeout="0.5"
                                            >
                                                {{ new.categorias[0].slug }}
                                            </span>
                                            <span ng-switch="new.estado">
                                                <span ng-switch-when="publicado">
                                                    <ng-md-icon icon="done" style="fill:#43A047">
                                                        <md-tooltip md-direction="top">
                                                            Publicado
                                                        </md-tooltip>
                                                    </ng-md-icon>
                                                </span>
                                                <span ng-switch-when="editado">
                                                    <ng-md-icon icon="done" style="fill:#FF6D00">
                                                        <md-tooltip md-direction="top">
                                                            Editado
                                                        </md-tooltip>
                                                    </ng-md-icon>
                                                </span>
                                                <span ng-switch-when="creado">
                                                    <ng-md-icon icon="done" style="fill:#0D47A1">
                                                        <md-tooltip md-direction="top">
                                                            Creado
                                                        </md-tooltip>
                                                    </ng-md-icon>
                                                </span>
                                                <span ng-switch-when="despublicado">
                                                    <ng-md-icon icon="done" style="fill:#000000">
                                                        <md-tooltip md-direction="top">
                                                            Despublicado
                                                        </md-tooltip>
                                                    </ng-md-icon>
                                                </span>
                                                <span ng-switch-when="eliminado">
                                                    <ng-md-icon icon="done" style="fill:#D50000">
                                                        <md-tooltip md-direction="top">
                                                            Eliminado
                                                        </md-tooltip>
                                                    </ng-md-icon>
                                                </span>
                                                <span ng-switch-when="programado">
                                                    <ng-md-icon icon="alarm" style="fill:#FF9800">
                                                        <md-tooltip md-direction="top">
                                                            Programado
                                                        </md-tooltip>
                                                    </ng-md-icon>
                                                </span>
                                                <span ng-switch-default></span>
                                            </span>
                                            <a ng-if="new.link" href="{{new.link}}" target="_blank">
                                                <ng-md-icon icon="link" style="fill:rgb(33,150,243)"></ng-md-icon>
                                                <md-tooltip md-direction="top">Ir a URL</md-tooltip>
                                            </a>
                                        </p>
                                        <h2 style="margin:0.125em 0;" style="cursor:pointer" ng-click="openCreateNew($event, 'editar', new.nid);">{{ new.titulo }}</h2>
                                        <p class="card-secondary">
                                            Autor: <strong>{{ new.autor.nombre }}</strong>
                                             |
                                            <span
                                                class="btn-in-list"
                                                ns-popover
                                                ns-popover-template="tags-popover"
                                                ns-popover-trigger="click"
                                                ns-popover-placement="bottom"
                                                ns-popover-theme="ns-popover-tooltip-theme"
                                                ns-popover-timeout="0.5"
                                            >
                                                Temas <ng-md-icon icon="keyboard_arrow_down" size="16"></ng-md-icon>
                                            </span>
                                            |
                                            <span
                                                class="btn-in-list"
                                                ns-popover
                                                ns-url-ajax="{{urlAjaxHighlight}}{{new.nid}}"
                                                ns-model-ajax="modelAjaxHighlight"
                                                ns-html-id="{{new.nid}}"
                                                ns-popover-template="destacados-popover"
                                                ns-msj-empty="{{msjEmptyHighlight}}"
                                                ns-popover-trigger="click"
                                                ns-popover-placement="bottom"
                                                ns-popover-theme="ns-popover-tooltip-theme"
                                                ns-popover-timeout="0.5"
                                            >
                                                Portadas <ng-md-icon icon="keyboard_arrow_down" size="16"></ng-md-icon>
                                            </span>
                                        </p>
                                        <p style="margin-top:0.125em;" class="card-secondary">
                                           {{new.date_publish}} | {{new.visitas_total}} Visita{{(new.visitas_total===1)?'':'s'}}
                                           <!--{{new.date_publish}} | {{new.stats.daxpv}} Visita{{(new.stats.daxpv===1)?'':'s'}}-->
                                        </p>
                                        <ul style="margin:5px 0 0;padding:5px 0 0;list-style:none;border-top:1px solid rgba(0,0,0,0.1)">
                                            <li style="display:inline-block">
                                                <md-icon md-svg-src='svg/iab.svg' style='fill:#3a5795; width:18px;height:18px'></md-icon>
                                                {{new.stats.daxpv}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>DAX </md-tooltip>
                                            </li>
                                            <li ng-if="new.stats.facebook_share > 0 || new.stats.facebook_comment > 0 || new.stats.facebook_like > 0 || new.stats.facebook_commentsbox > 0" style="display:inline-block">
                                                <ng-md-icon icon="facebook-box" style="fill:#3a5795" size="20"></ng-md-icon>
                                            </li>
                                            <li ng-if="new.stats.facebook_share > 0" style="display:inline-block">
                                                <md-icon md-svg-src='svg/social-shared.svg' style='fill:#3a5795; width:18px;height:18px'></md-icon>
                                                {{new.stats.facebook_share}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>Compartidos </md-tooltip>
                                            </li>
                                            <li ng-if="new.stats.facebook_comment > 0" style="display:inline-block">
                                                <ng-md-icon icon="mode_comment" style="fill:#3a5795" size="20"></ng-md-icon>
                                                {{new.stats.facebook_comment}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>Comentarios</md-tooltip>
                                            </li>
                                            <li ng-if="new.stats.facebook_like > 0" style="display:inline-block">
                                                <md-icon md-svg-src='svg/social-like.svg' style='fill:#3a5795; width:18px;height:18px'></md-icon>
                                                {{new.stats.facebook_like}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>Me gusta</md-tooltip>
                                            </li>
                                            <li ng-if="new.stats.facebook_commentsbox > 0" style="display:inline-block">
                                                <md-icon md-svg-src='svg/social-comment-fb.svg' style='fill:#3a5795; width:18px;height:18px'></md-icon>
                                                {{new.stats.facebook_commentsbox}}
                                                <md-tooltip>Comentarios en la Página</md-tooltip>
                                            </li>
                                            <li ng-if="new.stats.google > 0" style="display:inline-block">
                                                <ng-md-icon icon="google-plus-box" style="fill:#d73d32" size="20"></ng-md-icon>
                                                {{new.stats.google}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>Google +</md-tooltip>
                                            </li>
                                            <li ng-if="new.stats.linkedin > 0" style="display:inline-block">
                                                <ng-md-icon icon="linkedin-box" style="fill:#0077B5" size="20"></ng-md-icon>
                                                {{new.stats.linkedin}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>Linkedin</md-tooltip>
                                            </li>
                                            <li ng-if="new.stats.pinterest > 0" style="display:inline-block">
                                                <md-icon md-svg-src='svg/pinterest.svg' style='color:#2A5B83; width:18px;height:18px'></md-icon>
                                                {{new.stats.pinterest}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>Pinterest</md-tooltip>
                                            </li>
                                            <li style="display:inline-block">
                                                <md-icon md-svg-src='svg/twitter20.svg' style='color:#2A5B83; width:18px;height:18px'></md-icon>
                                                {{new.stats.twitter}}
                                                <span style="color:gray;">|</span>
                                                <md-tooltip>Twitter</md-tooltip>
                                            </li>
                                        </ul>
                                    </md-card-content>
                                    <div flex="10" class="md-actions" layout="row" layout-align="center center">
                                        <md-button
                                            class="md-icon-button"
                                            aria-label="Links"
                                            ns-popover
                                            ns-popover-template="enlaces-popover"
                                            ns-popover-trigger="click"
                                            ns-popover-placement="bottom"
                                            ns-popover-theme="ns-popover-tooltip-theme"
                                            ns-popover-timeout="0.5"
                                        >
                                            <ng-md-icon icon="more_vert"></ng-md-icon>
                                        </md-button>
                                    </div>
                                </div>
                            </md-card>
                            <div scroll-trigger scroll-function="newsNextPage()" threshold="100" class="trigger-scroll">&nbsp;</div>
                            <div ng-show="newsBusy">
                                <md-progress-circular class="progressContent" md-mode="indeterminate"></md-progress-circular>
                            </div>
                            <div ng-show="msjBusy" class="alert-warning">
                                No hay más noticias encontradas.
                            </div>
                            <div style="height:100px" id="scroll-bottom"></div>
                        </div>

                </div>
                <!-- FAB POPUP -->
                <section ng-init="iconAddFab='add'" id="fabs" ng-mouseenter="showAddButtons=true; iconAddFab='edit';" ng-mouseleave="showAddButtons=false; iconAddFab='add';">
                    <div id="fab-popup" layout="column" layout-align="space-between" ng-if="showAddButtons" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                        <md-button ng-repeat="tipo in typeContents" class="md-fab md-mini md-cms-green" ng-click="openCreateNew($event, tipo.slug, undefined);" aria-label="{{ tipo.nombre }}">
                            <md-tooltip md-direction="left">
                            {{ tipo.nombre }}
                            </md-tooltip>
                            <ng-md-icon icon="{{ tipo.icon }}" style="fill:white"></ng-md-icon>
                        </md-button>
                    </div>
                    <md-button ng-click="openCreateNew($event, 'noticia', undefined);" id="mainFab" class="md-fab md-warn md-large" aria-label="Photos" has-permission slug-module="noticias" action-module="crear">
                        <md-tooltip md-direction="left">
                        Agregar noticia
                        </md-tooltip>
                        <ng-md-icon icon="{{iconAddFab}}" style="fill:white"></ng-md-icon>
                    </md-button>
                </section>
                <!-- FIN FAB POPUP -->
            </section>
            <!-- RIGHT -->
            <!--aside class="sidenav-right sidenav-module fullsidebar" id="sidebarright">
            </aside-->
            <!-- END SIDEBARS -->
        </div>
    </div>
    <!-- FOOTER -->
    <!--md-bottom-sheet>
    </md-bottom-sheet-->
</div>
