extends layouts/article

block variables
  - var pageType = "minuto-a-minuto"
  - var pageTitle = "Minuto a Minuto"
  - var x = "column-fix, lazy"

block container
  article(class="story" itemscope itemtype="http://schema.org/NewsArticle")
    .col-primary.main
      .story-top
        .cat
          a(href="linkhere") Policiales
        .date
          time(itemprop="datePublished" datetime='2015-08-13T20:33:13+0100') 17/01/16 20:46
      header(class="story-header")
        h1(itemprop="headline") Carolina Lizárraga sobre su inmueble: “De criollada no tenía nada. Fue legal”
        p.sumary(itemprop="description") Según los primeros reportes, un grupo de delincuentes ingresaron a un domicilio, dispararon a mansalva y huyeron del lugar.
      .section
        .col-share
          include helpers/social-share
        .col-detail
          .media
            figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
              img(src="http://s3.amazonaws.com/p-gruporpp-media-v/normal/2016/01/12/321532_61357.jpg" , alt="X-DEMO-CONTENT")
              figcaption(itemprop="description") Morbi et odio nec diam iaculis venenatis in vel tortor.
          .inner(itemprop="articleBody")
            p Un nuevo hecho violento se produjo en la Provincia Constitucional del Callao la noche de este domingo cuando un grupo de sujetos armados irrumpió en una vivienda de la cuadra 4 de la avenida primero de Mayo en Carmen de la Legua.
            p Los sujetos ingresaron a este domicilio según reportaron testigos, dispararon a mansalva y huyeron. Fuentes policiales reportaron dos muertos y dos heridos, entre ellos un menos de siete años. Personal de la Divincri del Callao y personal del Escuadrón de emergencias permanecen en el lugar para las averiguaciones e investigaciones del caso.
            p Los heridos fueron inmediatamente trasladados al hospital San José donde dos de ellos fallecieron. Todo esto en el marco de la ampliación del estado de emergencia por 45 días.
            p nombres de los fallecidos son:
            p Esteban Prieto de 23 años. Tuvo ingreso de bala en abdomen, trauma de fuego abdominal y falleció en sala de operaciones.
            p Taboada Muñoz, 42 años, llegó cadaver, presentó bala en abdomen.
          include components/minute-to-minute
          +related({
            thumb: false,
            position: ""
          })
        include helpers/tags

      include helpers/comments
      include helpers/related-news

    include components/sidebar

