extends layouts/article

block variables
  - var pageType = "infografia-iframe"
  - var pageTitle = "Infografía Iframe"
  - var x = "column-fix, lazy"

block container
  article(class="story" itemscope itemtype="http://schema.org/NewsArticle")
    .story-top
      .cat
        a(href="linkhere") Policiales
      .date
        time(itemprop="datePublished" datetime='2015-08-13T20:33:13+0100') 17/01/16 20:46
    header(class="story-header")
      h1(itemprop="headline") Carolina Lizárraga sobre su inmueble: “De criollada no tenía nada. Fue legal”
      p.sumary(itemprop="description") Según los primeros reportes, un grupo de delincuentes ingresaron a un domicilio, dispararon a mansalva y huyeron del lugar.
    .infographic
      iframe(src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=13-DFacHCAho646I8gRox4lNwNeicqYKvz1-aFOl8G3A&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=650", width="100%", height="650", frameborder="0")
    .col-primary.main
      .section
        .col-share
          include helpers/social-share
        .col-detail
          .inner(itemprop="articleBody")
            p Un nuevo hecho violento se produjo en la Provincia Constitucional del Callao la noche de este domingo cuando un grupo de sujetos armados irrumpió en una vivienda de la cuadra 4 de la avenida primero de Mayo en Carmen de la Legua.
            p Los sujetos ingresaron a este domicilio según reportaron testigos, dispararon a mansalva y huyeron. Fuentes policiales reportaron dos muertos y dos heridos, entre ellos un menos de siete años. Personal de la Divincri del Callao y personal del Escuadrón de emergencias permanecen en el lugar para las averiguaciones e investigaciones del caso.
            p Los heridos fueron inmediatamente trasladados al hospital San José donde dos de ellos fallecieron. Todo esto en el marco de la ampliación del estado de emergencia por 45 días.
            p nombres de los fallecidos son:
            p Esteban Prieto de 23 años. Tuvo ingreso de bala en abdomen, trauma de fuego abdominal y falleció en sala de operaciones.
            p Taboada Muñoz, 42 años, llegó cadaver, presentó bala en abdomen.
          +related({
            thumb: false,
            position: ""
          })
        include helpers/tags

      include helpers/comments
      include helpers/related-news

    include components/sidebar
