extends layouts/article

block variables
  - var pageType = "article"
  - var pageTitle = "Article author"
  - var x = "lazy"
block container
  +ads('980x90')
  .story
    article(itemscope itemtype="http://schema.org/NewsArticle", itemref="article-body organization")
      meta(itemprop='datePublished', content='2015-02-05T08:00:00+08:00')
      meta(itemprop='dateModified', content='2015-02-05T09:20:00+08:00')
      meta(itemscope, itemprop="mainEntityOfPage", itemType="https://schema.org/WebPage", itemid="--X-DEMO-CONTENT--")
      .story-top
        +breadcrumb('Política')
      header(class="story-header")
        h1(itemprop="headline") Nobel de economía Joseph Stiglitz dice que el TPP podría ahondar la desigualdad
        p.sumary(itemprop="description") Advertencia. Personalidades alertan de los peligros del acuerdo que engloba al 40% del PBI mundial.  Entre las principales preocupaciones está el encarecimiento de las medicinas. El Congreso peruano deberá decidir si ratifica o no el controvertido acuerdo.

        .author-description(itemprop="author", itemscope itemtype="https://schema.org/Person")
          figure.author-img
            img(itemprop="image", src="http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/blog_110/yrojas.jpg", alt="X-DEMO-CONTENT")
          .author-bio
            .top-bio
              .tit Autor
              a.name(href="/")
                span(itemprop="name") Yazmin Rojas
              a.but(href="#ver-biografia", onclick='fn(this, event, {"method":"toggleClass", "to": ".author-description","class": "show-bio"})') Bio
                span.icon-arrow-down
            p(itemprop="description").
              Soy periodista. Becada por la Organización de Estados Americanos (OEA) para la especialización de periodismo científico. Este espacio servirá para difundir las innovaciones tecnológicas y proyectos científicos que se realizan en el Perú y el mundo.
            ul.author-social
              li
                a(href= linkFacebook, onclick='fn(this, event, {"method":"wopen"})')
                  .icon-facebook
              li
                a(href= linkTwitter, onclick='fn(this, event, {"method":"wopen"})')
                  .icon-twitter
              li
                a(href="#link")
                  .icon-rss

        .story-meta
          .story-blog BLOG
          .story-date
            time(itemprop="datePublished" datetime='2015-08-13T20:33:13+0100') 20 de Enero de 2015 - 8:45am
          .story-tag
            a(href="#link") Policiales


    .col-primary.main
      .section
        .col-share
          include helpers/social-share
        .col-detail(itemprop="articleBody", id="article-body")

          // foto
          .media
            figure(itemprop="image" itemscope itemtype="http://schema.org/ImageObject")
              meta(itemprop="width", content="635")
              meta(itemprop="height", content="357")
              .cover
                img(itemprop="url", content="http://s3.amazonaws.com/p-gruporpp-media-v/normal/2016/01/12/321532_61357.jpg", src="http://s3.amazonaws.com/p-gruporpp-media-v/normal/2016/01/12/321532_61357.jpg" , alt="X-DEMO-CONTENT")
              figcaption(itemprop="description")
                | Advertencia. Premio Nobel de Economía Joseph Stiglitz alerta sobre los efectos negativos del reciente acuerdo suscrito por doce países, entre ellos el Perú. | Fuente: Universal

          p Llamosa advirtió que ratificándose el TPP se estaría otorgando exclusividad en el mercado a las industrias farmacéuticas transnacionales por un periodo de cinco hasta ocho años para que vendan sus medicamentos.
          p Por ejemplo, un medicamento como el Trastuzumab, (que sirve para tratamiento de cáncer de mama, y los pacientes requieren hasta 40 ampollas que quizá puedan salvarle la vida), se vende actualmente a S/ 5.500 cada ampolla, a pesar que fabricarlo cuesta solo S/ 93,50. De haber competencia podría costar S/ 500.
          p Llamosa advirtió que ratificándose el TPP se estaría otorgando exclusividad en el mercado a las industrias farmacéuticas transnacionales por un periodo de cinco hasta ocho años para que vendan sus medicamentos.
          p Por ejemplo, un medicamento como el Trastuzumab, (que sirve para tratamiento de cáncer de mama, y los pacientes requieren hasta 40 ampollas que quizá puedan salvarle la vida), se vende actualmente a S/ 5.500 cada ampolla, a pesar que fabricarlo cuesta solo S/ 93,50. De haber competencia podría costar S/ 500.


          // related image width total
          +related({
            thumb: false,
            position: ""
          })
        include helpers/tags

      include helpers/comments
      include helpers/related-news

    include components/sidebar
