extends layouts/article

block variables
  - var pageType = "author-flow"
  - var pageTitle = "Autor Flow"
  - var x = "lazy, column-fix"

block container
  .stories
    .col-primary
      .story-top.box-mod.pt10
        h1 Autores

      .flow-row
        .row
          +article-row({
            img: "tmp-001-350.jpg",
            cat: "Pantalla Grande",
            icon: "video",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/cinefilo.jpg",
            name: "Cinéfilo",
            title: "MNetflix: 19 películas que nunca te aburrirás de ver...",
            summary: "¿No sabes que elegir entre las cientos de películas que hay en Netflix? El Cinéfilo te hace la vida fácil para que no pierdas tu noche decidiendo."
          })
          +article-row({
            img: "tmp-002-350.jpg",
            cat: "Innovaciones",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/yrojas.jpg",
            name: "Yazmin Rojas",
            title: "¿Cuáles fueron los avances de ciencia y tecnología en Perú durante el 2015?",
            summary: "Innovados te muestra lo bueno y lo malo de la ciencia, tecnología e innovación nacional en el año que pasó."
          })
          +article-row({
            img: "tmp-003-350.jpg",
            cat: "Piramide Invertida",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/jcruz.jpg",
            name: "Jorge Cruz",
            title: "¿Cuál es la bomba más destructiva de la historia detonada por el hombre?",
            summary: "Nunca ha sido usada contra población civil, pero es capaz de acabar con la vida a varios cientos de kilómetros a la redonda."
          })
          +article-row({
            img: "tmp-004-350.jpg",
            cat: "Geek and Chick",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/gpatron.jpg",
            name: "Gabriela Patrón",
            title: "Gadget permitiría a las personas hablar distintos idiomas sin estudiar",
            summary: "La tecnología es bastante sencilla. Solo necesita hablarle al dispositivo y este traducirá todo al idioma seleccionado."
          })
          +article-row({
            img: "tmp-005-350.jpg",
            cat: "Pc Gaming",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/anishiyama.jpg",
            name: "Alberto Nishiyama",
            title: "League of Legends es el MOBA más popular en todo el mundo",
            summary: "Como lo contaba antes, la mayoría del mundo juega LOL. El manager de Revenge nos cuenta más sobre el juego."
          })
          +article-row({
            img: "tmp-001-350.jpg",
            cat: "Pantalla Grande",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/cinefilo.jpg",
            name: "Cinéfilo",
            title: "Netflix: 19 películas que nunca te aburrirás de ver...",
            summary: "¿No sabes que elegir entre las cientos de películas que hay en Netflix? El Cinéfilo te hace la vida fácil para que no pierdas tu noche decidiendo."
          })
          +article-row({
            img: "tmp-002-350.jpg",
            cat: "Innovaciones",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/yrojas.jpg",
            name: "Yazmin Rojas",
            title: "¿Cuáles fueron los avances de ciencia y tecnología en Perú durante el 2015?",
            summary: "Innovados te muestra lo bueno y lo malo de la ciencia, tecnología e innovación nacional en el año que pasó."
          })
          +article-row({
            img: "tmp-003-350.jpg",
            cat: "Piramide Invertida",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/jcruz.jpg",
            name: "Jorge Cruz",
            title: "¿Cuál es la bomba más destructiva de la historia detonada por el hombre?",
            summary: "Nunca ha sido usada contra población civil, pero es capaz de acabar con la vida a varios cientos de kilómetros a la redonda."
          })
          +article-row({
            img: "tmp-004-350.jpg",
            cat: "Geek and Chick",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/gpatron.jpg",
            name: "Gabriela Patrón",
            title: "Gadget permitiría a las personas hablar distintos idiomas sin estudiar",
            summary: "La tecnología es bastante sencilla. Solo necesita hablarle al dispositivo y este traducirá todo al idioma seleccionado."
          })
          +article-row({
            img: "tmp-005-350.jpg",
            cat: "Pc Gaming",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/anishiyama.jpg",
            name: "Alberto Nishiyama",
            title: "League of Legends es el MOBA más popular en todo el mundo",
            summary: "Como lo contaba antes, la mayoría del mundo juega LOL. El manager de Revenge nos cuenta más sobre el juego."
          })
          +article-row({
            img: "tmp-001-350.jpg",
            cat: "Pantalla Grande",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/cinefilo.jpg",
            name: "Cinéfilo",
            title: "Netflix: 19 películas que nunca te aburrirás de ver...",
            summary: "¿No sabes que elegir entre las cientos de películas que hay en Netflix? El Cinéfilo te hace la vida fácil para que no pierdas tu noche decidiendo."
          })
          +article-row({
            img: "tmp-002-350.jpg",
            cat: "Innovaciones",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/yrojas.jpg",
            name: "Yazmin Rojas",
            title: "¿Cuáles fueron los avances de ciencia y tecnología en Perú durante el 2015?",
            summary: "Innovados te muestra lo bueno y lo malo de la ciencia, tecnología e innovación nacional en el año que pasó."
          })
          +article-row({
            img: "tmp-003-350.jpg",
            cat: "Piramide Invertida",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/jcruz.jpg",
            name: "Jorge Cruz",
            title: "¿Cuál es la bomba más destructiva de la historia detonada por el hombre?",
            summary: "Nunca ha sido usada contra población civil, pero es capaz de acabar con la vida a varios cientos de kilómetros a la redonda."
          })
          +article-row({
            img: "tmp-004-350.jpg",
            cat: "Geek and Chick",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/gpatron.jpg",
            name: "Gabriela Patrón",
            title: "Gadget permitiría a las personas hablar distintos idiomas sin estudiar",
            summary: "La tecnología es bastante sencilla. Solo necesita hablarle al dispositivo y este traducirá todo al idioma seleccionado."
          })
          +article-row({
            img: "tmp-005-350.jpg",
            cat: "Pc Gaming",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/anishiyama.jpg",
            name: "Alberto Nishiyama",
            title: "League of Legends es el MOBA más popular en todo el mundo",
            summary: "Como lo contaba antes, la mayoría del mundo juega LOL. El manager de Revenge nos cuenta más sobre el juego."
          })
          +article-row({
            img: "tmp-001-350.jpg",
            cat: "Pantalla Grande",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/cinefilo.jpg",
            name: "Cinéfilo",
            title: "Netflix: 19 películas que nunca te aburrirás de ver...",
            summary: "¿No sabes que elegir entre las cientos de películas que hay en Netflix? El Cinéfilo te hace la vida fácil para que no pierdas tu noche decidiendo."
          })
          +article-row({
            img: "tmp-002-350.jpg",
            cat: "Innovaciones",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/yrojas.jpg",
            name: "Yazmin Rojas",
            title: "¿Cuáles fueron los avances de ciencia y tecnología en Perú durante el 2015?",
            summary: "Innovados te muestra lo bueno y lo malo de la ciencia, tecnología e innovación nacional en el año que pasó."
          })
          +article-row({
            img: "tmp-003-350.jpg",
            cat: "Piramide Invertida",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/jcruz.jpg",
            name: "Jorge Cruz",
            title: "¿Cuál es la bomba más destructiva de la historia detonada por el hombre?",
            summary: "Nunca ha sido usada contra población civil, pero es capaz de acabar con la vida a varios cientos de kilómetros a la redonda."
          })
          +article-row({
            img: "tmp-004-350.jpg",
            cat: "Geek and Chick",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/gpatron.jpg",
            name: "Gabriela Patrón",
            title: "Gadget permitiría a las personas hablar distintos idiomas sin estudiar",
            summary: "La tecnología es bastante sencilla. Solo necesita hablarle al dispositivo y este traducirá todo al idioma seleccionado."
          })
          +article-row({
            img: "tmp-005-350.jpg",
            cat: "Pc Gaming",
            author: true,
            avatar: "http://p-gruporpp-media-v.s3.amazonaws.com/assets/avatar/small/anishiyama.jpg",
            name: "Alberto Nishiyama",
            title: "League of Legends es el MOBA más popular en todo el mundo",
            summary: "Como lo contaba antes, la mayoría del mundo juega LOL. El manager de Revenge nos cuenta más sobre el juego."
          })
        .row
          .foot-flow
            a(href="#link", class="viewmore")
              span.icon-reload
              |Ver más noticias

    aside(class="col-secondary sidebar x-sticky")
      //-.x-column-fix(data-x={"fixto":".col-primary"})
      include helpers/like-today
      include components/recommended
