doctype html
html
  title RPP
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  link(rel="stylesheet", href="/static/css/main.css")
  style.
    body {background-color: white}
    a {text-decoration: none}
    .page {max-width:400px; margin: 4rem auto; padding: 0 20px  }
    .logo {border-bottom: 1px solid #ccc; margin-bottom: 5px}
    .logo span {display: block}
    ul {margin-bottom: 10px; margin-top: 20px; border-bottom: 1px solid #ccc}
    .author a {font-size: 12px; float: right; color: #757575}


  body
    div.page
      div.logo

        img(src="../img/logo-rpp.png", style="width:200px")
      span Maquetación & FrontEnd

      ul#files.view-tiles
        li
          a(href='/static/html/archive.html', title='archive.html')
            span.name archive.html
        li
          a(href='/static/html/article-photo-audio-video-slide-cite-related.html', title='article-photo-audio-video-slide-cite-related.html')
            span.name article-photo-audio-video-slide-cite-related.html
        li
          a(href='/static/html/article-author.html', title='article-author.html')
            span.name article-author.html
        li
          a(href='/static/html/article-brandcontent.html', title='article-brandcontent.html')
            span.name article-brandcontent.html
        //li
          a(href='/static/html/article-foto.html', title='article-foto.html')
            span.name article-foto.html
        li
          a(href='/static/html/article-gallery.html', title='article-gallery.html')
            span.name article-gallery.html
        li
          a(href='/static/html/article-infographic-iframe.html', title='article-infographic-iframe.html')
            span.name article-infographic-iframe.html
        li
          a(href='/static/html/article-infographic.html', title='article-infographic.html')
            span.name article-infographic.html
        li
          a(href='/static/html/article-mtm.html', title='article-mtm.html')
            span.name article-mtm.html
        //li
          a(href='/static/html/article-slide.html', title='article-slide.html')
            span.name article-slide.html
        //li
          a(href='/static/html/article-video.html', title='article-video.html')
            span.name article-video.html
        li
          a(href='/static/html/author-flow.html', title='author-flow.html')
            span.name author-flow.html
        li
          a(href='/static/html/author.html', title='author.html')
            span.name author.html
        //li
          a(href='/static/html/cite-variants.html', title='cite-variants.html')
            span.name cite-variants.html
        li
          a(href='/static/html/home.html', title='home.html')
            span.name home.html
        //li
          a(href='/static/html/index_.html', title='index_.html')
            span.name index_.html
        li
          a(href='/static/html/page404.html', title='page404.html')
            span.name page404.html
        li
          a(href='/static/html/radio-live.html', title='radio-live.html')
            span.name radio-live.html
        li
          a(href='/static/html/radio.html', title='radio.html')
            span.name radio.html
        //li
          a(href='/static/html/related-variants-img.html', title='related-variants-img.html')
            span.name related-variants-img.html
        //li
          a(href='/static/html/related-variants.html', title='related-variants.html')
            span.name related-variants.html
        li
          a(href='/static/html/result-search.html', title='result-search.html')
            span.name result-search.html
        li
          a(href='/static/html/static.html', title='static.html')
            span.name static.html
        li
          a(href='/static/html/topics-2column.html', title='topics-2column.html')
            span.name topics-2column.html
        li
          a(href='/static/html/topics.html', title='topics.html')
            span.name topics.html
        li
          a(href='/static/html/tv.html', title='tv.html')
            span.name tv.html


      span.author
        a(href="//devtorres.net") Moises Torres Romero
