extends layouts/article

block variables
  - var pageType = "radio"
  - var pageTitle = "Horario de Programación Radial"
  - var x = "lazy, column-fix"

block container
  .row
    .box-mod.pt10
      h1 Horario de Programación Radial
      .programacion
        table
          thead
            tr
              th.blank
              th.l Lunes
              th.mv Martes - Viernes
              th.s Sábado
              th.d Domingo
          tbody
            tr
              td.start-hour 00:00 - 00:30
              td(rowspan='8')
                h2 RPP Informando
                p con Carlos Montalvo
              td.white(colspan='2', rowspan='4')
                h2 SIEMPRE EN CASA [Repetición]
                p con Sara Abu-Sabbah
              td(rowspan='10')
                h2 RPP Informando
                p con Carlos Montalvo
            tr
              td.half-hour 00:30 - 01:00
            tr
              td.start-hour 01:00 - 01:30
            tr
              td.half-hour 01:30 - 02:00
            tr
              td.start-hour 02:00 - 02:30
              td.white(colspan='2', rowspan='2')
                h2 ERA TABÚ [Repetición]
                p con Fernando Maestre & especialistas
            tr
              td.half-hour 02:30 - 03:00
            tr
              td.start-hour 03:00 - 03:30
              td.white(colspan='2', rowspan='2')
                h3 LOS CHISTOSOS [Repetición]
                p con Guillermo Rossini, Hernán Vidaurre, Giovanna Castro y Manolo Rojas
            tr
              td.half-hour 03:30 - 04:00
            tr
              td.start-hour 04:00 - 04:30
              td(colspan='2', rowspan='2')
                h2 DESPIERTA PERÚ
                p con Yamil Abusabal
              td(rowspan='2')
                h2 DESPIERTA PERÚ
                p con Carlos Montalvo
            tr
              td.half-hour 04:30 - 05:00
            tr
              td.start-hour
                strong 05:00
                |  - 05:30
              td(colspan='2', rowspan='6')
                h2 ROTATIVA DEL AIRE
                h3 PRIMERA EDICIÓN
                p con Fernando Carvallo y Ricardo Gómez
              td(rowspan='6')
                h2 ROTATIVA DEL AIRE
                h3 PRIMERA EDICIÓN
                p con Armando Canchanya
              td(rowspan='6')
                h2 Rotativa del Aire
                h3 Primera Edición
                p con Fernando Carvallo y Ricardo Gómez
            tr
              td.half-hour 05:30 - 06:00
            tr
              td.start-hour 06:00 - 06:30
            tr
              td.half-hour 06:30 - 07:00
            tr
              td.start-hour 07:00 - 07:30
            tr
              td.half-hour 07:30 - 08:00
            tr
              td.start-hour
                strong 08:00
                |  - 08:30
              td(colspan='2', rowspan='4')
                h2 AMPLIACIÓN DE NOTICIAS
                p con Raúl Vargas, Patricia Del Río y Ricardo Gómez
              td(rowspan='2')
                h3 AMPLIACIÓN DE NOTICIAS
                p con Raúl Vargas y Armando Canchanya
              td(rowspan='4')
                h3 AMPLIACIÓN DEL DOMINGO
                p con José María Salcedo, Fernando Carvallo y Ricardo Gómez
            tr
              td.half-hour 08:30 - 09:00
            tr
              td.start-hour 09:00 - 09:30
              td(rowspan='2')
                h3 ENFOQUE DE LOS SÁBADOS
                p con Raúl Vargas
            tr
              td.half-hour 09:30 - 10:00
            tr
              td.start-hour 10:00 - 10:30
              td.white(colspan='2', rowspan='6')
                h2 SIEMPRE EN CASA
                p con Sara Abu-Sabbah
              td.white
                h3 DIÁLOGO DE FE
                p con Cardenal Juan Luis Cipriani y Armando Canchanya
              td.white
                h3 DOMINGO ES FIESTA
                p con Padre Clemente Sobrado y Miguel H. Aguirre
            tr
              td.half-hour 10:30 - 11:00
              td.white(rowspan='2')
                h3 LA DIVINA COMIDA
                p con Cucho La Rosa
              td.white(rowspan='4')
                h3 TODO DEPORTE
                p con Margarita Rivera
            tr
              td.start-hour 11:00 - 11:30
            tr
              td.half-hour 11:30 - 12:00
              td.white(rowspan='3')
                h3 CUIDANDO TU SALUD
                p con Elmer Huerta
            tr
              td.start-hour 12:00 - 12:30
            tr
              td.half-hour 12:30 - 13:00
              td.white(rowspan='4')
                h3 EN ESCENA
                p con Johnny Padilla
            tr
              td.start-hour
                strong 13:00
                |  - 13:30
              td(colspan='2', rowspan='3')
                h2 ROTATIVA DEL AIRE
                p con José María Salcedo
              td.white(rowspan='2')
                h3 VENTANA ECÓNOMICA
                p con Guido Sánchez Yabar
            tr
              td.half-hour 13:30 - 14:00
            tr
              td.start-hour 14:00 - 14:30
              td.white(rowspan='4')
                h3 EN ESCENA
                p con Johnny Padilla
            tr
              td.half-hour 14:30 - 15:00
              td.white(colspan='2', rowspan='4')
                h2 LOS CHISTOSOS
                p con Guillermo Rossini, Hernán Vidaurre, Giovanna Castro y Manolo Rojas
              td.white(rowspan='2')
                h3 LETRAS EN EL TIEMPO
                p con Renato Cisneros
            tr
              td.start-hour 15:00 - 15:30
            tr
              td.half-hour 15:30 - 16:00
              td.white(rowspan='3')
                h3 LO MEJOR DE LA SEMANA DE LOS CHISTOSOS
            tr
              td.start-hour 16:00 - 16:30
              td.white(rowspan='4')
                h3 DEPORTE AL MÁXIMO
                p con invitados especiales
            tr
              td.half-hour 16:30 - 17:00
              td.white(colspan='2', rowspan='3')
                h2 ERA TABÚ
                p con Fernando Maestre & especialistas
            tr
              td.start-hour 17:00 - 17:30
              td.white(rowspan='2')
                h3 DEPORTE AL MÁXIMO
                p con Dante Mateo
            tr
              td.half-hour 17:30 - 18:00
            tr
              td.start-hour
                strong 18:00
                |  - 18:30
              td(colspan='2', rowspan='4')
                h2 ROTATIVA DEL AIRE
                p con Mariella Balbi
              td(rowspan='2')
                h2 LA ROTATIVA DEL AIRE
                p con Eduardo Lindo
              td(rowspan='2')
                h2 LA ROTATIVA DEL AIRE
                p con Jesús Verde
            tr
              td.half-hour 18:30 - 19:00
            tr
              td.start-hour 19:00 - 19:30
              td.white(rowspan='2')
                h3 MÁS ALLÁ DE LAS CANAS
                p con Miguel Humberto Aguirre
              td.white(rowspan='2')
                h3 LOS ESPECIALES DEL DOMINGO
                p con Fernando Carvallo
            tr
              td.half-hour 19:30 - 20:00
            tr
              td.start-hour 20:00 - 20:30
              td.white(colspan='2', rowspan='2')
                h3 EL SHOW DEL DEPORTE
                p con Óscar Moral, Dante Mateo y Juan Carlos Hurtado
              td.white(rowspan='2')
                h3 PERUANOS EN EL EXTERIOR
                p con Eduardo Lindo
              td.white(rowspan='2')
                h3 LETRAS EN EL TIEMPO [Repetición]
                p con Renato Cisneros
            tr
              td.half-hour 20:30 - 21:00
            tr
              td.start-hour 21:00 - 21:30
              td.white(colspan='2', rowspan='2')
                h3 DE FRENTE Y SIN MÁSCARAS
                p con Carmen Gonzáles
              td(rowspan='2')
                h3 ENFOQUE DE LOS SÁBADOS [Repetición]
                p con Raúl Vargas
              td.white(rowspan='2')
                h3 BUSCAPERSONAS
                p con Miguel Humberto Aguirre
            tr
              td.half-hour 21:30 - 22:00
            tr
              td.start-hour
                strong 22:00
                |  - 22:30
              td(colspan='2', rowspan='4')
                h2 ROTATIVA DEL AIRE
                p con José María Salcedo
              td.white(rowspan='4')
                h3 EN ESCENA [Repetición]
                p con Johnny Padilla
              td.white(rowspan='2')
                h3 DEPORTE AL MÁXIMO
                p con Óscar Moral
            tr
              td.half-hour 22:30 - 23:00
            tr
              td.start-hour 23:00 - 23:30
              td.white(rowspan='2')
                h3 LO MEJOR DE EN ESCENA
                p con Johnny Padilla
            tr
              td.half-hour 23:30 - 24:00
