extends layouts/article

block variables
  - var pageType = "resumen-hora"
  - var pageTitle = "Resúmen de la hora"
  - var x = "column-fix, sticky, lazy, media, slide"
block container
  .story
    .col-primary.main
      .box-mod.pt10
        //- h3 En Vivo
        .story-top
          //- .label Estás viendo:
        header(class="story-header")
          h1 RESÚMEN DE LA HORA
          //- p.sumary con Raúl Vargas, Patricia Del Río y Ricardo Gómez

          // audio
          .media(itemprop="audio", itemscope itemtype='http://schema.org/AudioObject')
            meta(itemprop='encodingFormat', content='mp3')
            meta(itemprop='contentUrl', content='http://p-gruporpp-media.s3.amazonaws.com/2016/02/21/enttrevista_84721.mp3')
            meta(itemprop='duration', content='T0M15S')
            figure
              a.cover.x-media(href="#escuchar" class="big", data-x = {
                "type": "audio",
                "video_source": "http://p-gruporpp-media.s3.amazonaws.com/2016/02/21/enttrevista_84721.mp3",
                "video_img": "http://p-gruporpp-media.s3.amazonaws.com/2016/02/07/piscinas-76114mp4_76115.png",
                "playlist": '{"240p":"http:\/\/p-gruporpp-media-v.s3.amazonaws.com\/240p\/2016\/02\/07\/piscinas_76114.mp4","360p":"http:\/\/p-gruporpp-media-v.s3.amazonaws.com\/360p\/2016\/02\/07\/piscinas_76114.mp4"}',
                "hash": "2016/02/07/piscinas_76114.mp4",
                "rtag": "https://pubads.g.doubleclick.net/gampad/ads?sz=400x300&iu=/1028310/RPP_Video&impl=s&gdfp_req=1&env=vp&output=xml_vast2&unviewed_position_start=1&url=[referrer_url]&description_url=[description_url]&correlator=[timestamp]",
              })
                img(src="http://s3.amazonaws.com/p-gruporpp-media-v/normal/2016/01/12/321532_61357.jpg", alt="X-DEMO-CONTENT")
                span.icon-volume-up
              figcaption(itemprop="description") Morbi et odio nec diam iaculis venenatis in vel tortor.


      include helpers/comments

    include components/sidebar
