extends layouts/article

block variables
  - var pageType = "result-search"
  - var pageTitle = "Resultado de búsqueda"
  - var x = "lazy, column-fix"

block container
  .col-primary
    .story-top.box-mod.pt10
      h1.h3 Alrededor de 110865 resultados con: <mark>'rpp'</mark>

    .flow-row
      .row
        +article-row({
          img: "tmp-001-350.jpg",
          cat: "Judiciales",
          title: "Liliana Castro Mannarelli: 'Si existe un autor intelectual está gozando de libertad'",
          summary: "La amiga inseparable de Eva Bracamonte pidió que la justicia investigue a las personas y los detalles a los que no se les prestó atención desde el 2009."
        })
        +article-row({
          img: "tmp-002-350.jpg",
          cat: "Lima",
          title: "Eva Bracamonte: “Justicia para mí sería saber qué pasó con mi madre”'",
          summary: "En diálogo con RPP Noticias, la joven consideró que su caso se llenó de prejuicios y aseguró que aún no asimila que “ya se acabó”."
        })
        +article-row({
          img: "tmp-003-350.jpg",
          cat: "Chollywood",
          title: "Eva Bracamonte: figuras de TV se pronuncian sobre absolución",
          summary: "Estas son algunas reacciones en Twitter tras la absolución de Eva Bracamonte por el asesinato de Myriam Fefer."
        })
        +article-row({
          img: "tmp-004-350.jpg",
          cat: "Lima",
          title: "Caso Fefer: cronología de los hechos tras la absolución de Eva Bracamonte",
          summary: "Tras la absolución de Eva Bracamonte este martes, te presentamos un completo resumen de los principales hechos ocurridos durante todo el proceso."
        })
        +article-row({
          img: "tmp-005-350.jpg",
          cat: "Lima",
          title: "Absuelven a Eva Bracamonte en el caso del asesinato de Myriam Fefer",
          summary: "En un segundo juicio, la Segunda Sala Penal para Reos en Cárcel de la Corte Superior resolvió absolver a Eva Bracamonte."
        })
        +article-row({
          img: "tmp-001-350.jpg",
          cat: "Judiciales",
          title: "Liliana Castro Mannarelli: 'Si existe un autor intelectual está gozando de libertad'",
          summary: "La amiga inseparable de Eva Bracamonte pidió que la justicia investigue a las personas y los detalles a los que no se les prestó atención desde el 2009."
        })
        +article-row({
          img: "tmp-002-350.jpg",
          cat: "Lima",
          title: "Eva Bracamonte: “Justicia para mí sería saber qué pasó con mi madre”'",
          summary: "En diálogo con RPP Noticias, la joven consideró que su caso se llenó de prejuicios y aseguró que aún no asimila que “ya se acabó”."
        })
        +article-row({
          img: "tmp-003-350.jpg",
          cat: "Chollywood",
          title: "Eva Bracamonte: figuras de TV se pronuncian sobre absolución",
          summary: "Estas son algunas reacciones en Twitter tras la absolución de Eva Bracamonte por el asesinato de Myriam Fefer."
        })
        +article-row({
          img: "tmp-004-350.jpg",
          cat: "Lima",
          title: "Caso Fefer: cronología de los hechos tras la absolución de Eva Bracamonte",
          summary: "Tras la absolución de Eva Bracamonte este martes, te presentamos un completo resumen de los principales hechos ocurridos durante todo el proceso."
        })
        +article-row({
          img: "tmp-005-350.jpg",
          cat: "Lima",
          title: "Absuelven a Eva Bracamonte en el caso del asesinato de Myriam Fefer",
          summary: "En un segundo juicio, la Segunda Sala Penal para Reos en Cárcel de la Corte Superior resolvió absolver a Eva Bracamonte."
        })
        +article-row({
          img: "tmp-001-350.jpg",
          cat: "Judiciales",
          title: "Liliana Castro Mannarelli: 'Si existe un autor intelectual está gozando de libertad'",
          summary: "La amiga inseparable de Eva Bracamonte pidió que la justicia investigue a las personas y los detalles a los que no se les prestó atención desde el 2009."
        })
        +article-row({
          img: "tmp-002-350.jpg",
          cat: "Lima",
          title: "Eva Bracamonte: “Justicia para mí sería saber qué pasó con mi madre”'",
          summary: "En diálogo con RPP Noticias, la joven consideró que su caso se llenó de prejuicios y aseguró que aún no asimila que “ya se acabó”."
        })
        +article-row({
          img: "tmp-003-350.jpg",
          cat: "Chollywood",
          title: "Eva Bracamonte: figuras de TV se pronuncian sobre absolución",
          summary: "Estas son algunas reacciones en Twitter tras la absolución de Eva Bracamonte por el asesinato de Myriam Fefer."
        })
        +article-row({
          img: "tmp-004-350.jpg",
          cat: "Lima",
          title: "Caso Fefer: cronología de los hechos tras la absolución de Eva Bracamonte",
          summary: "Tras la absolución de Eva Bracamonte este martes, te presentamos un completo resumen de los principales hechos ocurridos durante todo el proceso."
        })
        +article-row({
          img: "tmp-005-350.jpg",
          cat: "Lima",
          title: "Absuelven a Eva Bracamonte en el caso del asesinato de Myriam Fefer",
          summary: "En un segundo juicio, la Segunda Sala Penal para Reos en Cárcel de la Corte Superior resolvió absolver a Eva Bracamonte."
        })
        +article-row({
          img: "tmp-001-350.jpg",
          cat: "Judiciales",
          title: "Liliana Castro Mannarelli: 'Si existe un autor intelectual está gozando de libertad'",
          summary: "La amiga inseparable de Eva Bracamonte pidió que la justicia investigue a las personas y los detalles a los que no se les prestó atención desde el 2009."
        })
        +article-row({
          img: "tmp-002-350.jpg",
          cat: "Lima",
          title: "Eva Bracamonte: “Justicia para mí sería saber qué pasó con mi madre”'",
          summary: "En diálogo con RPP Noticias, la joven consideró que su caso se llenó de prejuicios y aseguró que aún no asimila que “ya se acabó”."
        })
        +article-row({
          img: "tmp-003-350.jpg",
          cat: "Chollywood",
          title: "Eva Bracamonte: figuras de TV se pronuncian sobre absolución",
          summary: "Estas son algunas reacciones en Twitter tras la absolución de Eva Bracamonte por el asesinato de Myriam Fefer."
        })
        +article-row({
          img: "tmp-004-350.jpg",
          cat: "Lima",
          title: "Caso Fefer: cronología de los hechos tras la absolución de Eva Bracamonte",
          summary: "Tras la absolución de Eva Bracamonte este martes, te presentamos un completo resumen de los principales hechos ocurridos durante todo el proceso."
        })
        +article-row({
          img: "tmp-005-350.jpg",
          cat: "Lima",
          title: "Absuelven a Eva Bracamonte en el caso del asesinato de Myriam Fefer",
          summary: "En un segundo juicio, la Segunda Sala Penal para Reos en Cárcel de la Corte Superior resolvió absolver a Eva Bracamonte."
        })
        +article-row({
          img: "tmp-001-350.jpg",
          cat: "Judiciales",
          title: "Liliana Castro Mannarelli: 'Si existe un autor intelectual está gozando de libertad'",
          summary: "La amiga inseparable de Eva Bracamonte pidió que la justicia investigue a las personas y los detalles a los que no se les prestó atención desde el 2009."
        })
        +article-row({
          img: "tmp-002-350.jpg",
          cat: "Lima",
          title: "Eva Bracamonte: “Justicia para mí sería saber qué pasó con mi madre”'",
          summary: "En diálogo con RPP Noticias, la joven consideró que su caso se llenó de prejuicios y aseguró que aún no asimila que “ya se acabó”."
        })
        +article-row({
          img: "tmp-003-350.jpg",
          cat: "Chollywood",
          title: "Eva Bracamonte: figuras de TV se pronuncian sobre absolución",
          summary: "Estas son algunas reacciones en Twitter tras la absolución de Eva Bracamonte por el asesinato de Myriam Fefer."
        })
        +article-row({
          img: "tmp-004-350.jpg",
          cat: "Lima",
          title: "Caso Fefer: cronología de los hechos tras la absolución de Eva Bracamonte",
          summary: "Tras la absolución de Eva Bracamonte este martes, te presentamos un completo resumen de los principales hechos ocurridos durante todo el proceso."
        })
        +article-row({
          img: "tmp-005-350.jpg",
          cat: "Lima",
          title: "Absuelven a Eva Bracamonte en el caso del asesinato de Myriam Fefer",
          summary: "En un segundo juicio, la Segunda Sala Penal para Reos en Cárcel de la Corte Superior resolvió absolver a Eva Bracamonte."
        })
      .row
        .foot-flow
          a(href="#link", class="viewmore")
            span.icon-reload
            |Ver más noticias

  aside(class="col-secondary sidebar x-sticky")
    //-.x-column-fix(data-x={"fixto":".col-primary"})
    include helpers/like-today
    include components/recommended
