extends layouts/article

block variables
  - var pageType = "RSS"
  - var pageTitle = "RSS"
  - var x = "lazy, column-fix"

block container
  .story
    .col-primary
      .flow-row
        .row
          .rss-all
            .text Subscripción a todo RPP Noticias
            a(href="#link", class="btn-all-subs")
              span.icon-rss
              |SUBSCRIBIRSE
        .row
          .rss-block
            h2 Regiones
            ul
              li.this
                span Edición general
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Ancash
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Arequipa
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Ica
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span La Libertad
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Puno
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Lambayeque
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Piura
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Junín
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Cusco
                a(href="#link", class="btn-sub")
                  i.icon-rss
          .rss-block
            h2 Secciones
            ul
              li
                span Política
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Vida
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Actualidad
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Tecno
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Economía
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Viral
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Deportes
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Autores
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Entretenimiento
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Radio
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Perí
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span TV
                a(href="#link", class="btn-sub")
                  i.icon-rss
              li
                span Mundo
                a(href="#link", class="btn-sub")
                  i.icon-rss
          .rss-block
            h2 Servicios
            ul
              li
                span Rotafono
                a(href="#link", class="btn-sub")
                  i.icon-rss

    aside(class="col-secondary sidebar x-sticky")
      .box-mod.box-row
        .title-box-rr RSS
        .box-header
          .description-box-rss Los canales RSS de RPP.pe te permiten recibir las noticias cuando el sitio es actualizado.
          h2.question-rss ¿Qué es el RSS?
          p.answer-rss El #[strong RSS ("Really Simple Syndication")] es un formato que permite emitir contenidos desde un sitio para que sean agregados fácilmente en aplicaciones o sitios web. Los contenidos que se publican en este formato incluyen titulares y sumarios.
          h2.question-rss Modo de uso
          p.answer-rss Se accede a este servicio a través de programas conocidos como "Lectores de noticias", que organizan, actualizan y muestran el contenido de los canales. Para agregar canales, se debe ingresar la url del canal deseado en los programas lectores. Se pueden crear grupos de canales, agrupando todas las secciones de la revista bajo un mismo grupo.
