extends layouts/article

block variables
  - var pageType = "terminos"
  - var pageTitle = "Términos y condiciones"

block container
  .story
    h1 Términos y Condiciones de Uso
    h2 1. Aviso legal y su aceptación
    p
      | 1.1. El presente aviso legal (en adelante, "Aviso Legal") regula todos los Portales, Sitios Web, Wap, Wikis, Blogs, Salas de Chat, Foro de Comentarios, Apps y demás similares (conjuntamente en adelante, "Portales"), así como todo el contenido y servicios incluidos en los mismos, de propiedad, gestión y/o administración de GRUPORPP S.A.C. (en adelante, "GRUPORPP").
    p
      | 1.2. La utilización de los Portales atribuye al visitante la condición de Usuario (en adelante, "Usuario") e implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal, en la versión publicada por GRUPORPP en el momento mismo en que el Usuario acceda a alguno de los Portales, o a cualquier contenido o servicio incluido en los mismos. En consecuencia, el Usuario debe leer atentamente el presente Aviso Legal en cada una de las ocasiones en que se proponga utilizar alguno de los Portales, o acceder a cualquier contenido servicio incluido en los mismos, ya que el Aviso Legal o cualquiera disposición o sección del mismo pueden sufrir modificaciones cada cierto tiempo.
    p
      | 1.3. Si, una vez realizadas las modificaciones al presente Aviso Legal o a cualquier disposición o sección del mismo, el Usuario continuara ingresando al Portal, o accediendo a la información y/o utilizando los servicios incluidos en los mismos, tal hecho se considerará como confirmación de su aceptación a las modificaciones realizadas.
    p
      | 1.4. La utilización de cierto contenido y/o servicios ofrecidos a los Usuarios a través de los Portales se encuentra sometida a condiciones particulares propias (en adelante, "Condiciones Particulares") las cuales serán informadas al Usuario de forma oportuna y que, según los casos, pueden sustituir, complementar y/o modificar los términos del presente Aviso Legal. Por lo tanto, con anterioridad a la utilización de tales contenidos y/o servicios, el Usuario también deberá leer atentamente las correspondientes Condiciones Particulares.
    p
      | 1.5 Definiciones. A los efectos del presente Aviso Legal, los siguientes términos escritos con la primera letra en mayúscula, tendrán los siguientes significados:
    ol.type-a
      li
        | “App o Apps” significa todo software desarrollado para una aplicación o tarea específica, el cual puede ser instalado y usado en computadoras tipo desktops o laptops, así como en dispositivos móviles como Smartphones, Tablas, etc.
      li
        | “Blog” significa un sitio web periódicamente actualizado que recopila cronológicamente textos o artículos de uno o varios autores.
      li
        | “Chat o Sala de Chat” significa todo sistema que permite la comunicación escrita y/o verbal realizada de manera instantánea entre dos o más personas.
      li
        | "Contenido" significa toda clase de obras literarias; composiciones musicales con o sin letra; obras audiovisuales; fotografías, diseños, dibujos y viñetas de cualquier tipo; notas periodísticas de cualquier clase o tema; obras científicas, técnicas, artísticas, antologías y/o colecciones; y, en general, cualquier texto, imagen, video, sonido y/o base de datos que se encuentre disponible o accesible en o desde alguno de los Portales.
      li
        | “Dispositivo móvil” significa cualquier aparato electrónico capaz de poder ser utilizado sin conexión directa a la red eléctrica y el cual permite al Usuario, además, conectarse a Internet o cualquier otra red informática, ya sea de forma física o inalámbrica.
      li
        | “Formulario de Registro” significa el formulario dispuesto en los Portales, los Servicios y/o Apps para que el Usuario pueda registrase y acceder y/o utilizar los mismos.
      li
        | “Foro o Foro de Comentarios” significa aplicación web que permite que diversos usuarios dejen un texto con sus comentarios, ideas, opiniones o discusiones en línea, respecto de un determinado tema tratado.
      li
        | “Wiki” significa sitio web cuyas páginas pueden ser editadas (es decir creadas, modificadas o borradas) por múltiples usuarios a través de un navegador web.
    h2 2. Objeto
    p
      | 2.1. A través de los Portales, GRUPORPP facilita a los Usuarios: a. El acceso a diversos Contenidos, propios o de terceros, con posibilidad de reproducción de los mismos realizada únicamente de forma temporal en la memoria RAM de la computadora o Dispositivo Móvil utilizado por el Usuario. b. El acceso a diversos Contenidos, propios o de terceros, con posibilidad de descarga y reproducción permanente de los mismos en la computadora o Dispositivo Móvil utilizado por el Usuario.
