extends layouts/article

block variables
  - var pageType = "topics"
  - var pageTitle = "Temas"
  - var x = "lazy, columns-fit, column-fix, social-native"

block main-header
  include components/header-min
block container
  .box-mod.box-header.back-image
    h1(style="background:transparent url('http://p-gruporpp-media.s3.amazonaws.com/2016/03/01/cabecera-2-rolling-jpg_90661.jpg') left top no-repeat; height:140px;")
      |rolling stones
  .box-mod.box-header
    h1.title-mod CES 2016
  #menu-votaperu.box-mod.wrap-especial.in-content
    .box-header
      h3.title
        a(href="/", target="_blank")
          span.hide Elecciones Perú 2016
          img(src="http://rpp.pe/elecciones-peru-2016/img/logo_header.gif", alt="Elecciones Perú 2016")
        button.especial-btn(type='button', onclick='fn(this, event, {"method":"toggleClass", "to": "#menu-votaperu"})')
          span.icon-chevron-down
      figure.pull-right
        ul.nav
          li.active
            a(href='http://rpp.pe/elecciones-peru-2016') noticias
          li
            a(href='http://rpp.pe/elecciones-peru-2016/candidatos.html') candidatos
          li
            a(href='http://rpp.pe/elecciones-peru-2016/redes') en redes
          li
            a(href='http://rpp.pe/elecciones-peru-2016/encuesta') encuestas
          li
            a(href='http://rpp.pe/politica/congreso/elecciones-peru-2016-estos-son-los-candidatos-al-congreso-noticia-940142') lista congreso
          li
            a(href='http://rpp.pe/elecciones-peru-2016/comparaya.html') Compara Ya













  .story
    .col-primary
      .box-mod.flow
        .box-header
          h3.title Lo Último
          .pull-right.cat
            |BLOG
        .box-header.head-brand.cajaarequipa-new
          h3.title CES 2016
          figure.pull-right
            a(href="/", target="_blank") Gracias a: #{" "}
              img(src="http://ads.us.e-planning.net/eb/3/17632/Home/Ultimas?o=i&amp;amp;rnd=$RANDOM", alt="X-DEMO-CONTENT")

        .row.x-columns-fit(data-x={"breakpoints":"480x1x10,768x2x10"})
          +article-flow({
            img: "tmp-001-350.jpg",
            cat: "Perú",
            title: "Arequipa: trabajadores del hospital Honorio Delgado",
            summary: "Desde mañana martes 10 de marzo, los servidores ingresarán a un paro preventivo de 48 horas, en rechazo al contrato de personal."
          })
          +article-flow({
            img: "tmp-002-350.jpg",
            cat: "Deportes",
            title: "Champions: Así se jugará la vuelta de octavos de final",
            summary: "Esta semana tenemos cuatro partidos, de los cuales destaca el Real Madrid (ESP) - Schalke 04 (ALE) y el Chelsea (ING) - Paris Saint"
          })
          +article-flow({
            img: "tmp-003-350.jpg",
            cat: "Autores",
            title: "‘Quiero explorar el universo de las relaciones humanas’",
            summary: "´Raro´ es la segunda novela del periodista y escritor, que se presentará este miércoles en L´ Anfiteatro del restaurante Ántica de Barranco."
          })
          +article-flow({
            img: "tmp-004-350.jpg",
            cat: "Mundo",
            title: "El más alto militar EEUU llega a Irak para lucha contra EI",
            summary: "El jefe del Estado Mayor Conjunto de EEUU, Martin Dempsey llega a Irak en momentos que el grupo yihadista Estado Islámico (EI) controla amplias zonas del norte."
          })
          +article-flow({
            img: "tmp-005-350.jpg",
            sponsor: true,
            title: "Peruanos pueden ahorrar hasta S/.54 al mes en consumo de celular",
            summary: "Los peruanos tienen un consumo medio de 113.71 llamadas al mes, lo que lo convierte en el país que más habla por celular en Latinoamérica, reveló estudio realizado por la aplicación Weplan."
          })
          +article-flow({
            img: "tmp-006-350.jpg",
            cat: "Actualidad",
            title: "Chiclayo: Ruptura de tubería genera gran aniego",
            summary: "El jefe del Estado Mayor Conjunto de EEUU, Martin Dempsey llega a Irak en momentos que el grupo yihadista Estado Islámico (EI) controla amplias zonas del norte."
          })
          +article-flow({
            img: "tmp-001-350.jpg",
            cat: "Perú",
            title: "Arequipa: trabajadores del hospital Honorio Delgado",
            summary: "Desde mañana martes 10 de marzo, los servidores ingresarán a un paro preventivo de 48 horas, en rechazo al contrato de personal."
          })
          +article-flow({
            img: "tmp-002-350.jpg",
            cat: "Deportes",
            title: "Champions: Así se jugará la vuelta de octavos de final",
            summary: "Esta semana tenemos cuatro partidos, de los cuales destaca el Real Madrid (ESP) - Schalke 04 (ALE) y el Chelsea (ING) - Paris Saint"
          })
          +article-flow({
            img: "tmp-003-350.jpg",
            cat: "Autores",
            title: "‘Quiero explorar el universo de las relaciones humanas’",
            summary: "´Raro´ es la segunda novela del periodista y escritor, que se presentará este miércoles en L´ Anfiteatro del restaurante Ántica de Barranco."
          })
          +article-flow({
            img: "tmp-004-350.jpg",
            cat: "Mundo",
            title: "El más alto militar EEUU llega a Irak para lucha contra EI",
            summary: "El jefe del Estado Mayor Conjunto de EEUU, Martin Dempsey llega a Irak en momentos que el grupo yihadista Estado Islámico (EI) controla amplias zonas del norte."
          })
        .row
          .foot-flow
            a(href="#link", class="viewmore")
              span.icon-reload
              |Ver más noticias

    aside(class="col-secondary sidebar x-sticky")
      //-.x-column-fix(data-x={"fixto":".col-primary"})
      include helpers/like-today
      include components/recommended
