extends layouts/article

block variables
  - var pageType = "radio"
  - var pageTitle = "Horario de Programación RPP TV"
  - var x = "lazy, column-fix"

block container
  .row
    .box-mod.pt10
      h1 Horario de Programación RPP TV
    .programacion.tv
      ul.prog-type
        li
          span.icon-antenna
          | Transmisión en vivo
        li
          span.icon-return
          | Repetición
      table
        thead
          tr
            th.blank
            th.lv Lunes - Viernes
            th.s Sábado
            th.d Domingo
        tbody
          tr
            td.start-hour
              strong 06:00
              |  - 06:30
            td(rowspan='4')
              span.icon-24
              h2 RPP Noticias - Edición Mañana
              p con Patricia del Rio y Armando Canchanya
            td(rowspan='4')
              h2 RPP Noticias - Edición Mañana
              p con Yvonne García y Gerardo Reyna
            td
              h3 En Forma DW
          tr
            td.half-hour 06:30 - 07:00
            td
              h3 Reporteros en el Mundo DW
          tr
            td.start-hour 07:00 - 07:30
            td(rowspan='2')
              h3 Central de Informaciones
              p con Raquel Salazar
          tr
            td.half-hour 07:30 - 08:00
          tr
            td.start-hour
              strong 08:00
              |  - 08:30
            td(rowspan='4')
              span.icon-24
              h2 Ampliación de Noticias
              p con Raúl Vargas, Ricardo Gómez y Patricia del Río (Radio y TV)
            td(rowspan='2')
              h2 Ampliación de Noticias
              p con Raúl Vargas y Armando Canchanya
            td(rowspan='4')
              h3 Ampliación de Noticias
              p con Chema Salcedo
          tr
            td.half-hour 08:30 - 09:00
          tr
            td.start-hour 09:00 - 09:30
            td(rowspan='2')
              h2 Enfoque de los Sábados
              p con Raúl Vargas
          tr
            td.half-hour 09:30 - 10:00
          tr
            td.start-hour
              strong 10:00
              |  - 10:30
            td
              span.icon-24
              h2 Central de Informaciones
              p con Armando Canchaya
            td
              h2 Diálogo de Fe
              p con Armando C.
            td(rowspan='2')
              span.icon-24
              h3 Central de Informaciones
              p con Raquel Salazar
          tr
            td.half-hour 10:30 - 11:00
            td
              span.icon-24
              h2 Central de Informaciones
              p con Raquel Salazar
            td(rowspan='3')
              span.icon-24
              h2 Central de Informaciones
              p con Yvonne García
          tr
            td.start-hour 11:00 - 11:30
            td
              span.icon-24
              h2 Central de Informaciones
              p con Ricardo Gómez
            td
              h3 Enlaces + Entre. de la Semana
          tr
            td.half-hour 11:30 - 12:00
            td
              span.icon-24
              h2 Central de Informaciones
              p con Raquel Salazar
            td
              span.icon-24
              h3 Central de Informaciones
              p con Raquel Salazar
          tr
            td.start-hour 12:00 - 12:30
            td
              h2 Central de Informaciones
              p con Ricardo Gómez
            td
              h3 Reporteros en el Mundo DW
            td
              h3 Reporteros en el Mundo DW
          tr
            td.half-hour 12:30 - 13:00
            td
              h2 Central de Informaciones
              p con Raquel Salazar
            td
              h3 Lo mejor de EPF I
            td
              h3 En forma DW
          tr
            td.start-hour
              strong 13:00
              |  - 13:30
            td(rowspan='2')
              h2 RPP Noticias - Edición Tarde
              p con Katherine Donayre
            td(rowspan='3')
              h2 Central de Informaciones
              p con Gerardo R.
            td(rowspan='2')
              h3 Central de Informaciones
              p con Raquel Salazar
          tr
            td.half-hour 13:30 - 14:00
          tr
            td.start-hour 14:00 - 14:30
            td
              h2 Central de Informaciones
              p con Ricardo Gómez
            td
              h3 Entrevistas de la Semana I
          tr
            td.half-hour 14:30 - 15:00
            td
              h2 Central de Informaciones
              p con Raquel Salazar
            td
              h3 Enlaces DW + Lo mejor de EPF
            td
              h3 Lo mejor de EPF I
          tr
            td.start-hour 15:00 - 15:30
            td
              h2 Central de Informaciones
              p con Karen Herrera
            td
              h3 Extracto al estilo Juliana (I)
            td(rowspan='2')
              h3 Central de Informaciones
              p con Jesús Verde
          tr
            td.half-hour 15:30 - 16:00
            td
              h2 Central de Informaciones
              p con Raquel Salazar
            td
              h3 Reporteros en el Mundo DW
          tr
            td.start-hour 16:00 - 16:30
            td
              h2 Central de Informaciones
              p con Jesús Verde
            td(rowspan='2')
              h3 RPP Noticias - Ed. Sáb. Tarde
              p con Richard Cortez
            td
              h3 Reporteros en el Mundo DW
          tr
            td.half-hour 16:30 - 17:00
            td
              h2 Central de Informaciones
              p con Karen Herrera
            td(rowspan='2')
              h3 Enfoque de los Sábados
          tr
            td.start-hour 17:00 - 17:30
            td
              h2 Central de Informaciones
              p con Renato Cisneros
            td
              h3 En forma DW
          tr
            td.half-hour 17:30 - 18:00
            td
              h2 Central de Informaciones
              p con Juliana Oxenford
            td
              h3 Central de Informaciones
              p con Richard Cortez
            td
              h3 Central de Informaciones
              p con Jesús Verde
          tr
            td.start-hour 18:00 - 18:30
            td
              h2 Central de Informaciones
              p con Renato Cisneros
            td(rowspan='2')
              span.icon-25
              h2 Al estilo Juliana
            td
              h3 En forma DW
          tr
            td.half-hour 18:30 - 19:00
            td
              h2 Central de Informaciones
              p con Juliana Oxenford
            td
              h3 Entrevistas de la Semana II
          tr
            td.start-hour
              strong 19:00
              |  - 19:30
            td(rowspan='2')
              h2 Las 5 de las 7
              p con Patricia del Río
            td
              h3 Reporteros en el Mundo DW
            td(rowspan='2')
              span.icon-25
              h3 RPP Noticias - Ed. Dom. Noche
              p con Juliana Oxenford
          tr
            td.half-hour 19:30 - 20:00
            td
              h3 Enlaces + EPF II
          tr
            td.start-hour 20:00 - 20:30
            td(rowspan='2')
              h2 RPP Noticias - Edición Noche
              p con Armando Canchaya
            td(rowspan='2')
              h3 RPP Noticias - Ed. Sáb. Noche
              p con Richard Cortez
            td
              h3 Reporteros en el Mundo DW
          tr
            td.half-hour 20:30 - 21:00
            td
              h3 Enlaces + EPF II
          tr
            td.start-hour
              strong 21:00
              |  - 21:30
            td(rowspan='4')
              h2 Conexión RPP
              p
                | con Martín Hudtwalcker. Co-conducción MaryCarmen Sjoo, Richard Cortez, Oscar Moral y Katherine Donayre
            td(rowspan='2')
              span.icon-25
              h3 Enfoque de los Sábados
              p con Raúl Vargas
            td
              h3 Central de Informaciones
              p con Jesús Verde
          tr
            td.half-hour 21:30 - 22:00
            td
              h3 Reporteros en el Mundo DW
          tr
            td.start-hour 22:00 - 22:30
            td
              h3 Reporteros en el Mundo DW
            td
              h3 Efectos Naim
              p (Entrevistas)
          tr
            td.half-hour 22:30 - 23:00
            td
              h3 Las entrevistas de la semana I
            td
              h3 Las entrevistas de la semana I
          tr
            td.start-hour 23:00 - 23:30
            td(rowspan='2')
              h2 Al estilo Juliana
              p con Juliana Oxenford
            td(rowspan='2')
              span.icon-24
              h3 RPP Noticias - Ed. Sáb. Noche
              p con Richard Cortez
            td(rowspan='2')
              h3 RPP Noticias - Ed. Sáb. Noche
              p con Richard Cortez
          tr
            td.half-hour 23:30 - 24:00
          tr
            td.start-hour 00:00 - 00:30
            td(rowspan='2')
              h2 RPP Noticias - Edición Noche
              p con Armando Canchaya
            td
              h3 Las entrevistas de la semana II
            td
              h3 Reporteros en el Mundo DW
          tr
            td.half-hour 00:30 - 01:00
            td
              h3 Enlaces DW + Claves
            td
              h3 Lo mejor de EPF I
          tr
            td.start-hour 01:00 - 01:30
            td(rowspan='2')
              h2 Las 5 de las 7
              p con Patricia del Río
            td
              h3 Reporteros en el Mundo
            td
              h3 Enlaces DW + Claves
          tr
            td.half-hour 01:30 - 02:00
            td
              h3 Las entrevistas de la semana I
            td
              h3 Reporteros en el Mundo
          tr
            td.start-hour 02:00 - 02:30
            td(rowspan='2')
              h2 Al estilo Juliana
              p con Juliana Oxenford
            td(rowspan='2')
              h2 Al estilo Juliana
              p con Juliana Oxenford
            td
              h3 Las entrevistas de la Semana I
          tr
            td.half-hour 02:30 - 03:00
            td
              h3 En forma DW
          tr
            td.start-hour 03:00 - 03:30
            td(rowspan='4')
              h2 Conexión RPP
              p
                | con Martín Hudtwalcker. Co-conducción MaryCarmen Sjoo, Richard Cortez, Oscar Moral y Katherine Donayre
            td
              h3 Las entrevistas de la semana I
            td(rowspan='2')
              h3 Central de Informaciones 9pm
          tr
            td.half-hour 03:30 - 04:00
            td
              h3 En forma DW
          tr
            td.start-hour 04:00 - 04:30
            td(rowspan='2')
              h3 RPP Noticias - Ed. Sáb. Noche
              p con Richard Cortez
            td(rowspan='2')
              h3 RPP Noticias - Ed. Sáb. Noche
              p con Richard Cortez
          tr
            td.half-hour 04:30 - 05:00
          tr
            td.start-hour 05:00 - 05:30
            td(rowspan='2')
              h2 Al estilo Juliana
              p con Juliana Oxenford
            td
              h3 Lo mejor de EPF
            td
              h3 Reporteros en el Mundo
          tr
            td.half-hour 05:30 - 06:00
            td
              span.icon-25
              h3 Diálogo de Fe
              p con Armando C.
            td
              h3 En forma DW

