extends layouts/article

block variables
  - var pageType = "archive"
  - var pageTitle = "Archivo"
  - var x = "calendar, columns-fit, lazy, column-fix"

block container
  style.
    .xxx {
      width: 200px;
      height: 200px
    }

    .xxx h2 a {
      /*
      width: 250px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      */
      display: -webkit-box;
      max-width: 100%;
      height: 76px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

  div.xxx
    h2
      a(href="#")
        |Colombia: ELN admite la autoría de ataque que dejó 12 muertos
