<div class="relative" flex id="page-temas" layout="column" role="main">
<!-- HEADER -->
    <script id="perfil-popover" type="text/ng-template">
        <div class="triangle"></div>
        <div class="ns-popover-tooltip">
            <div class="enlaces-popover">
                <ul>
                    <li>
                        <md-button class="md-primary" ng-click="openPerfil($event, 'perfil');">
                            <ng-md-icon icon="account_circle"></ng-md-icon>
                            Configurar
                        </md-button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="modulos-cabecera">
        <div class="triangle"></div>
            <div class="ns-popover-tooltip">
            <div class="enlaces-popover enlaces-apps">
            <ul>
              <li has-permission slug-module="socialtv" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/oido-social');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="facebook-messenger" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Oido social</h5>
                  <md-tooltip>Odido Social</md-tooltip>
              </li>
              <li has-permission slug-module="noticias" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/publicador');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="my_library_books" size="48" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Publicador</h5>
                  <md-tooltip>Publicador</md-tooltip>
              </li>
              <li has-permission slug-module="ticker" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/ticker');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="tv" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Ticker</h5>
                  <md-tooltip>Ticker</md-tooltip>
              </li>
              <li has-permission slug-module="player" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/streaming');" class="md-icon-button" aria-label="Button">
                      <ng-md-icon icon="settings_input_antenna" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Streaming</h5>
                  <md-tooltip>Streaming</md-tooltip>
              </li>
              <li has-permission slug-module="eventos" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/eventos');" class="md-icon-button">
                      <ng-md-icon icon="alarm" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Eventos</h5>
                  <md-tooltip>Eventos</md-tooltip>
              </li>
              <li has-permission slug-module="podcast" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/podcast');" class="md-icon-button">
                      <ng-md-icon icon="volume_up" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Podcast</h5>
                  <md-tooltip>Podcast</md-tooltip>
              </li>
              <li has-permission slug-module="sondeos" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/elecciones');" class="md-icon-button">
                      <ng-md-icon icon="poll" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Elecciones</h5>
                  <md-tooltip>Elecciones</md-tooltip>
              </li>
              <li has-permission slug-module="redessociales" action-module="index" style="display: inline-block;">
                  <md-button aria-label="Redes Sociales" ng-click="openApps($event, '/redessociales/publicadas');" class="md-icon-button">
                      <ng-md-icon icon="group_add" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Redes sociales</h5>
                  <md-tooltip>Configurar Redes Sociales</md-tooltip>
              </li>
              <li has-permission slug-module="roles" action-module="index" style="display: inline-block;">
                  <md-button ng-click="openApps($event, '/roles');" class="md-icon-button">
                      <ng-md-icon icon="recent_actors" size="44" style="fill:rgb(4, 119, 210)"></ng-md-icon>
                  </md-button>
                  <h5>Roles</h5>
                  <md-tooltip>Roles</md-tooltip>
              </li>
            </ul>
            </div>
        </div>
    </script>
    <md-toolbar class="md-toolbar-head" ng-class="{'novisibletoolbar':!custom}">
        <div class="md-toolbar-tools">
            <figure class="logo"><img alt="Logo Grupo RPP" class="pointer" ng-click="openBase()" src="svg/logo-grupo-rpp.svg"/></figure>
            <md-button aria-label="Settings" class="md-icon-button" ng-class="{'novisiblesearch':!custom}" ng-click="toggleSidebarLeft()">
                <ng-md-icon icon="more_vert" style="fill: white"></ng-md-icon>
            </md-button>
            <div class="contentSearch" id="contentSearch">
                <ng-md-icon icon="search" style="fill: white"></ng-md-icon>
                <input placeholder="Escribe un tema" ng-keyup="changeMultimediaFiltro($event)" ng-model="query" type="search" class="input-search--top" />
            </div>
            <md-button
                ng-class="{'novisiblesearch':!custom}"
                class="md-icon-button"
                aria-label="Modulos"
                ns-popover
                ns-popover-template="modulos-cabecera"
                ns-popover-trigger="click"
                ns-popover-placement="bottom"
                ns-popover-theme="ns-popover-tooltip-theme"
                ns-popover-timeout="0.5"
             >
                <ng-md-icon icon="apps" style="fill: white"></ng-md-icon>
                  <md-tooltip md-direction="bottom">
                      Dashboard
                  </md-tooltip>
            </md-button>
            <md-button aria-label="Chat" class="md-icon-button" ng-class="{'novisiblesearch':!custom}">
                <ng-md-icon icon="chat" style="fill: white"></ng-md-icon>
                <md-tooltip md-direction="bottom">
                    Chat
                </md-tooltip>
            </md-button>

            <md-button aria-label="Modules" class="md-icon-button ">
                <ng-md-icon icon="archive" style="fill: white"></ng-md-icon>
                <md-tooltip md-direction="bottom">
                    Módulos
                </md-tooltip>
            </md-button>

            <md-button aria-label="User" class="md-icon-button" ng-class="{'novisiblesearch':!custom}" ns-popover ns-popover-placement="bottom" ns-popover-template="perfil-popover" ns-popover-theme="ns-popover-tooltip-theme" ns-popover-timeout="0.5" ns-popover-trigger="click">
                <md-icon alt="User" md-svg-src="svg/user.svg" style="width:24px;height:24px,"></md-icon>
                <md-tooltip md-direction="bottom">
                    Usuario
                </md-tooltip>
            </md-button>
            <md-button aria-label="Scape" class="md-icon-button" ng-class="{'novisiblesearch':!custom}" ng-click="closeSession()" ng-disabled="disabledCloseSession">
                <md-tooltip md-direction="bottom">
                    Salir del sistema
                </md-tooltip>
                <ng-md-icon icon="settings_power" style="fill: white"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <section flex>
        <div id="layerSearch" ng-click="hideLayer($event)" ng-show="layerSearch"></div>
        <div layout="column">
<!-- BREADCRUMB -->
            <md-toolbar class="md-toolbar-subhead">
                <div class="md-toolbar-tools md-toolbar-breadcrumb md-whiteframe-z1" layout-align="center center" layout="row">
                    <md-button type="button" class="md-icon-button" ng-click="backToList()">
                        <ng-md-icon icon="arrow_back" size="28"></ng-md-icon>
                        <md-tooltip md-direction="bottom">
                            Volver
                        </md-tooltip>
                    </md-button>
                    <div style="display:inline-block; margin-right:10px">
                        <img ng-if="sitio.slug === 'la10'" style="height:30px" src="svg/logo-la10.svg" alt="Logo" />
                        <img ng-if="sitio.slug === 'rpp'" style="height:30px" src="svg/rpp-noticias.png" alt="Logo" />
                    </div>
                    <select
                      style="width:150px"
                      ng-change="cambiarSitio($event)"
                      chosen
                      ng-model="sitio"
                      ng-options="item.nombre for item in sitios track by item.slug"
                      data-placeholder="Sitio"
                      no-results-text="'No hay opciones'"
                      >
                        <option value=""></option>
                    </select>
                </div>
            </md-toolbar>
<!-- /BREADCRUMB -->
<!-- LEFT -->
            <aside class="sidenav-left sidenav-module md-whiteframe-z2" id="sidebarleft">
                <menu-lateral-derecha activo="temas"></menu-lateral-derecha>
            </aside>
<!-- CONTENT -->
            <section class="md-toolbar-subbody content-body-center fullcenter" id="contentbodycenter">
                <div class="content-inner relative chosen-height">
                        <h4>Temas del día:</h4>
                        <div class="temas-dia" style="margin-bottom:1em">
                              <md-autocomplete
                                  ng-disabled="sitio.slug === 'ninguna'"
                                  md-selected-item="selectedItem"
                                  md-selected-item-change="changeQuerySearch(searchText2)"
                                  md-search-text="searchText2"
                                  md-items="item in querySearch(searchText2)"
                                  md-item-text="item"
                                  placeholder="Añadir tema"
                                  md-autoselect="true">
                                <span md-highlight-text="searchText2.nombre">{{item}}</span>
                              </md-autocomplete>
                            </div>
                            <div class="alert-warning" ng-if="temasDia.length<1" style="margin-bottom:1.5em">
                                No hay temas asignados.
                            </div>
                        <!-- <div ng-if="temasDia.length>0" class="temas-dia-chips">
                            <ul class="list-temas-dia">
                                <li ng-repeat="item in temasDia">
                                    <div class="div-drop" ng-drop="true" ng-drop-success="onDropComplete($index, $data,$event)">
                                        <div class="chip-legend chip-custom" ng-drag="true" ng-drag-data="item" class="div-drag">
                                            <span>{{item.nombre}}</span>
                                            <button type="button" ng-click="clickChipLegend(item, $index)">
                                                <ng-md-icon icon="close" size="12" style="fill:white;"></ng-md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                        <div ng-if="temasDia.length>0" class="temas-dia-chips">
                            <ul
                                dnd-list="temasDia"
                                class="list-temas-dia"
                                dnd-allowed-types="['itemType']"
                                dnd-horizontal-list="true"
                                dnd-external-sources="true"
                                dnd-dragover="dragoverCallback(event, index, external, type)"
                                dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                                dnd-inserted="logEvent('Element was inserted at position ' + index, event)">
                                <li ng-repeat="item in temasDia"
                                    dnd-draggable="item"
                                    dnd-type="'itemType'"
                                    dnd-dragstart="logEvent('Started to drag an item', event)"
                                    dnd-moved="temasDia.splice($index, 1); logEvent('Item moved', event)"
                                    dnd-copied="logEvent('Item copied', event)"
                                    dnd-canceled="logEvent('Drag operation canceled', event)"
                                    dnd-dragend="logEvent('Drag operation ended', event)"
                                    >
                                    <div class="chip-legend chip-custom">
                                        <span>{{item.nombre}}</span>
                                        <button type="button" ng-click="clickChipLegend(item, $index)">
                                            <ng-md-icon icon="close" size="12" style="fill:white;"></ng-md-icon>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="temas-dia" style="margin-bottom:1em">
                            <div>
                                <md-button ng-click="guardarTemasDia($event)" class="md-primary md-raised">Publicar</md-button>
                            </div>
                        </div>

                </div>
            </section>
<!-- SIDEBARS -->
<!-- RIGHT -->
            <aside class="sidenav-right sidenav-module fullsidebar" id="sidebarright">
            </aside>
<!-- /SIDEBARS -->
        </div>
    </section>
<!-- FOOTER -->
</div>
