extends extends/layout.jade

block head
    include includes/head
    

block header
    //Header
    include includes/header
    
block nav    
    nav.nav-full
        //Nav main
        include includes/nav
    include includes/nav-fix-scrolltop
block body 
    main.wrapper

        //ADS Top
        include includes/ads-top
            
        section.body.archive.body-full

            section.box-404
                h6 
                    span.txt1 Error 
                    span.txt2 404
                p   Ooops! Página no encontrada
        
                section.search-total
                    //Search
                    section.search-flow
                        .search-flow-inner
                            form(action="#")
                                input(type="text", value="Buscar tema...")
                                button(type="button")
                                    i.icon.icon-search
                
block footer         
        //Footer
        include includes/footer
        
block scripts             
        include includes/script-footer
        script(src='js/lib/responsive-calendar.min.js')
