- for(var a = 1; a <= 30; a++)
	article.item-list-gallery.box
		figure
			a(href="")
				img(src="img/img-list-gallery.jpg")
				figcaption Claudio Pizarro no podría ir al Werbremen por estas duras declaraciones