extends extends/layout.jade

block head
    include includes/head
    

block header
    //Header
    include includes/header
    
block nav    
    nav.nav-full
        //Nav main
        include includes/nav

    include includes/nav-fix-scrolltop

block nav-movil
    include includes/nav-movil

    
block body

    //- http://gstat.mn/newsn/images/c/2014/06/-25062014-1403665055-563549376-suarez.jpg

    //- '<section class="gallery-list" data-pos=" ' + n + ' ">', o = 0; r > o; o++) l += '<article class="item"><figure><img src="" width="825" height="464" class="lazyOwl" data-src="' + a.items[o].src + '"/></figure><figcaption><strong>' + a.items[o].description + '</strong><div class="paginador"><div class="creditos"><p>Créditos: </p><span>' + a.items[o].credito + '</span></div><div class="pagers-legend-gallery"><i class="icon icon-picture-o"></i><span>' + i + " de " + r + "</span></div></div></figcaption></figure></article>", i += 1;
    .box
        #gallery1
            section.gallery-list
                article.item
                    figure
                        img(src="http://cdn4.uvnimg.com/dims4/default/6cc0410/2147483647/thumbnail/825x464%3E/quality/95/?url=http%3A%2F%2Fcdn3.uvnimg.com%2Fb4%2F9b%2F2c9df6ee448e842bb8513a8d6252%2Fresizes%2F1500%2Fa659321c3b83402fa243243b144ca882", alt="" width="825")
                    figcaption
                        strong Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.
                        .paginador
                            .creditos
                                p Créditos
                                span La10
                            .pagers-legend-gallery
                                i.icon.icon-picture-o
                                span 1 de 1


                article.item
                    figure
                        img(src="http://gstat.mn/newsn/images/c/2014/06/-25062014-1403665055-563549376-suarez.jpg", alt="" width="825")
                    figcaption
                        strong Luis Suárez anoto 2 goles durante el 2do tiempo, además realizó 3 asistencias claves para la victoria frente al PSG.
                        .paginador
                            .creditos
                                p Créditos
                                span La10
                            .pagers-legend-gallery
                                i.icon.icon-picture-o
                                span 1 de 2
    .prueba-div
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias neque, facere cum dolorem quas eum, nihil dolorum soluta earum doloribus asperiores repudiandae cupiditate ipsam saepe dicta vel tempora, distinctio error.
block footer         
        //Footer
        include includes/footer
        
block scripts             
        include includes/script-footer
