<md-dialog flex="95" aria-label="Preview">
  <md-dialog-content style="text-align:center">
      Vista en dispositivo:
       <div style="display:inline-block">
           <md-select class="previewRWD" ng-model="previewRWD" ng-change="changePreviewRWD($event)">
               <md-option value="desktop">Escritorio</md-option>
               <md-option value="tablet">Tablet</md-option>
               <md-option value="smartphone">Smartphone</md-option>
           </md-select>
        </div>
        <div layout="column">
           <div ng-bind-html="ifrmAddHTML"></div>
        </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="addClosePreviewNews();" class="md-primary">
      Cerrar
    </md-button>
    <md-button href="{{urlPreviewNewWindow}}" target="_blank" title="Abrir en una nueva ventana" class="md-primary">
        <ng-md-icon icon="launch"></ng-md-icon>  Abrir en una nueva pestaña
    </md-button>
  </div>
</md-dialog>
