article.box
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo
                        a(href="#") Copa Movistar
                time(datetime="2015-02-23 19:44") 23/02/15 19:44
                
            h1
                a(href="#") Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca
            p El exentrenador alemán ganó la Copa de Europa con el club bávaro y tuvo una sonada disputa con Schuster y Maradona
    figure.media
        a(href="#")
            img(src="img/16-9.jpg", alt="Muere Udo Lattek, leyenda del gran Bayern y del convulso Barca")    
