article.box.prominent
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo 
                        a(href="#") Libertadores
                time(datetime="2015-02-23 19:44") 23/02/15 19:44
                
            h1
                a(href="#") La cifra millonaria para el campeón de la Libertadores
            p Impresionante! El ganador de la Libertadores se llevará una fuerte suma de dinero.
    figure.media
        a(href="#")
            img(src="img/4-3.jpg", alt="La cifra millonaria para el campeón de la Libertadores")
