article.box
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo
                        a(href="#") Copa América
                time(datetime="2015-02-23 19:44") 23/02/15 19:44
                
            h1
                a(href="#") Atlético remonta al Real Madrid, segundo tiempo lleno de emoción
    figure.media
        a(href="#")
            img(src="img/copa1.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
    section#cards-result1.card-result
        script
          | rppWR.read({events: 'champions', type: 'mam', matchId: '210876'}).renderInterval({id:'#cards-result1'});
    .box-inner    
        p Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 mese de cárcel en italia.


