section.search-total
    //Search
    section.search-flow
        .search-flow-inner
            form(action="#")
                input(type="text", value="Paolo Guereo")
                button(type="button")
                    i.icon.icon-search
    .total-txt
        strong 20
        span noticias encontradas

//Flow
.grid
    .col-2-2
        section
            .timeline
                .day-month
                    .day 23
                    .month MAR
                    
                - for (var x = 0; x < 5; x++)
                    article.flow-normal
                        .prominent-media
                            figure.media
                                a(href="#")
                                    img(src="img/16_9_nota_flujo.jpg", alt="Se complica la renovación de Paolo Guerrero con el Corinthians")
                            .prominent-txt 
                                h2 
                                    a(href="#") Se complica la renovación de Paolo Guerrero con el Corinthians
                                p El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones
                                .time-related
                                    | Publicado el 
                                    time(datetime="2015-02-23 19:44")  23/02/15 
                                    
            .timeline
                .day-month
                    .day 22
                    .month MAR

                - for (var x = 0; x < 9; x++)
                    article.flow-normal
                        .prominent-media
                            figure.media
                                a(href="#")
                                    img(src="img/16_9_nota_flujo.jpg", alt="Se complica la renovación de Paolo Guerrero con el Corinthians")
                            .prominent-txt 
                                h2 
                                    a(href="#") Se complica la renovación de Paolo Guerrero con el Corinthians
                                p El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones
                                .time-related
                                    | Publicado el 
                                    time(datetime="2015-02-23 19:44")  23/02/15 
            
            
section.pagination
    //Pagination
    nav
        ul.pager
            li
                a(href="#")
                    i.icon.icon-chevron-left 
                    | Anterior
            li Página 
                strong 2 
                | / 2
            li
                a(href="#") 
                    | Siguiente
                    i.icon.icon-chevron-right
