.grid
    .col-2-2
        section.box
            .box-inner.none480
                include breadcrumb-social
            .box-inner
                article.box-detail.fixt
                    .header-resultados
                        span.etq-result Resultados
                        h3 Copa america chile 2015
                        .wrap-select
                            i.icon.icon-sort-desc
                            select
                                option Más torneos
                                option option 1
                                option option 2
                    .tab-resultados
                        ul
                            li.act
                                a(href="") Resultados
                            li
                                a(href="") Fixture
                            li 
                                a(href="") Posiciones
                            li 
                                a(href="") Goleadores

                include body-posiciones2-est2