.grid
	.col-2-2
		section.box
			.box-inner
				include breadcrumb-social
			.wrapper-blocks
				include headboard-blocks
				section.body-blocks
					include greedy
					.content-blocks.equipos
						.list-items
							ul
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-159.png",width="52", height="52")
										span Chile
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-169.png",width="52", height="52")
										span Ecuador
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-289.png",width="52", height="52")
										span México
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-166.png",width="52", height="52")
										span Bolivia
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-172.png",width="52", height="52")
										span Uruguay
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-484.png",width="52", height="52")
										span Jamaica
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-21.png",width="52", height="52")
										span Argentina
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-170.png",width="52", height="52")
										span Paraguay
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-168.png",width="52", height="52")
										span Colombia
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-173.png",width="52", height="52")
										span Venezuela
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-167.png",width="52", height="52")
										span Brasil
								li
									a.content-equipos(href="")
										figure
											img(src="img/medium-171.png",width="52", height="52")
										span Perú
											
						section.comment#coment
							h4 Comenta:
							.fb#fb-root
							.fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918")
							span.wrapper-icon-circle-o-notch
								i.icon.icon-circle-o-notch.fa-spin

						section.ads-full
							section.ads-sidebar
							section.ads-sidebar

						include connect
