.grid
	.col-2-2
		section.box
			.box-inner
				include breadcrumb-social
			.wrapper-blocks
				include headboard-blocks
				section.body-blocks
					include greedy
					.content-blocks.goleadores
						.wrapper-table
							.container-table
								table.table
									thead
										tr.headboard-table
											th.title-1 
												h4 Jugador
											th.title-2 
												h4 Equipos
											th.title-3 
												h4 Goles
									tbody
										tr.main-table
											td.tbl-nombre 
												p Antonio Meza Cuadra
											td.tbl-equipo
												img(src="img/icon-tab.png")
												p Chile
											td.tbl-goles
												span 19
										tr.main-table
											td.tbl-nombre 
												p Antonio Meza Cuadra
											td.tbl-equipo
												img(src="img/icon-tab.png")
												p Chile
											td.tbl-goles
												span 19
										tr.main-table
											td.tbl-nombre 
												p Antonio Meza Cuadra
											td.tbl-equipo
												img(src="img/icon-tab.png")
												p Chile
											td.tbl-goles
												span 19
										tr.main-table
											td.tbl-nombre 
												p Antonio Meza Cuadra
											td.tbl-equipo
												img(src="img/icon-tab.png")
												p Chile
											td.tbl-goles
												span 19

						section.comment#coment
							h4 Comenta:
							.fb#fb-root
							.fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918")
							span.wrapper-icon-circle-o-notch
								i.icon.icon-circle-o-notch.fa-spin

						section.ads-full
							section.ads-sidebar
							section.ads-sidebar

						include connect
