.content-blocks.fixture
	//.wrapper-select
		select.select-fases 
			option Fase de grupos
			option option 1
			option option 2
			option option 3
		i.icon.icon-chevron-down
	.wrap-tabs
		.header-tab
			ul
				li.item-header-tab.active(data-id="grupoa")
					a(href="#") Apertura
				li.item-header-tab(data-id="grupob")
					a(href="#") Clausura
				li.item-header-tab(data-id="grupoc")
					a(href="#") Fase Final
		.wrapper-slider-fechas
			span.text-slider-fechas fecha
			ul.slider-fechas
				li.item.active
					a(href="#") 1
				li.item
					a(href="#") 2
				li.item
					a(href="#") 3
				li.item
					a(href="#") 4
				li.item
					a(href="#") 5
				li.item
					a(href="#") 6
				li.item
					a(href="#") 7
				li.item
					a(href="#") 8
				li.item
					a(href="#") 9
				li.item
					a(href="#") 10
				li.item
					a(href="#") 11
				li.item
					a(href="#") 12
				li.item
					a(href="#") 13
				li.item
					a(href="#") 14
				li.item
					a(href="#") 15
				li.item
					a(href="#") 16
		.content-tab
			//- - var fechas = ['grupoa', 'grupob', 'grupoc']
			//- - var cont = 1
			//- - for fecha in fechas
			//- 	- if (fecha[0] == 'grupoa')
			//- 	div(id="#{fecha}" class="item-tabi")
					- for(var a = 1; a < 4; a++)
						.wrapper-table
							.caption-table-duo
								h4 fecha #{a}
							.wrapper-table-duo
								.table-duo.box
									.fecha-table-duo
										time Jueves 11 de Junio Hora 18:30
									.vs-table-duo
										ul
											li
												img(src="img/icon-tab.png",width="50", height="50")
												span Perú
											li
												img(src="img/icon-tab.png",width="50", height="50")
												span Brasil
									.resultado-table-duo
										ul
											li 2
											li 1
								.table-duo.box
									.fecha-table-duo
										time Jueves 11 de Junio Hora 18:30
									.vs-table-duo
										ul
											li
												img(src="img/icon-tab.png",width="50", height="50")
												span Perú
											li
												img(src="img/icon-tab.png",width="50", height="50")
												span Brasil
									.resultado-table-duo
										ul
											li 2
											li 1

			#grupoa.active.item-tab
				- for(var a = 1; a < 2; a++)
					.wrapper-table
						.caption-table-duo
							h4 Apertura
						.wrapper-table-duo
							- for(var e = 1; e < 7; e++)
								.table-duo.box
									.fecha-table-duo
										time Jueves 11 de Junio Hora 18:30
									.vs-table-duo
										ul
											li
												img(src="img/icon-tab.png",width="50", height="50")
												span Chile
											li
												img(src="img/icon-tab.png",width="50", height="50")
												span Ecuador
									.resultado-table-duo
										ul
											li 2
											li 1
			#grupob.item-tab
				- for(var a = 1; a < 4; a++)
					.wrapper-table
						.caption-table-duo
							h4 Clausura
						.wrapper-table-duo
						- for(var e = 1; e < 7; e++)
							.table-duo.box
								.fecha-table-duo
									time Jueves 11 de Junio Hora 18:30
								.vs-table-duo
									ul
										li
											img(src="img/icon-tab.png",width="50", height="50")
											span Perú
										li
											img(src="img/icon-tab.png",width="50", height="50")
											span Brasil
								.resultado-table-duo
									ul
										li 2
										li 1

			#grupoc.item-tab
				- for(var a = 1; a < 4; a++)
					.wrapper-table
						.caption-table-duo
							h4 Fase final
						.wrapper-table-duo
						- for(var e = 1; e < 7; e++)
							.table-duo.box
								.fecha-table-duo
									time Jueves 11 de Junio Hora 18:30
								.vs-table-duo
									ul
										li
											img(src="img/icon-tab.png",width="50", height="50")
											span Argentina
										li
											img(src="img/icon-tab.png",width="50", height="50")
											span Paraguay
								.resultado-table-duo
									ul
										li 2
										li 1

			//- jade probar
			//- - var books=["a", "b", "c"]
			//- 	ul
			//- 	- for book in books
			//- 		li #{book}
			//- 	-else
			//- 		li sorry, no books!
	
		section.comment#coment
			h4 COMENTA:
			.fb#fb-root
			.fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918")
			span.wrapper-icon-circle-o-notch
				i.icon.icon-circle-o-notch.fa-spin
		section.ads-full
			section.ads-sidebar
			section.ads-sidebar

		include connect