.grid
    .col-2-2
        section.box
            .box-inner
                include breadcrumb

                article.box-detail
                    
                    header
                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                            
                        h1 Real Madrid, Triunfa con golazo de Cristiano Ronaldo
                        cite.hat Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                
                    section.inner-detail

                        section.img-news                                            
                            //include detail-content-img
                            figure.media.full
                                img(src="img/16_9_ndetalle.jpg", alt="Real Madrid, Triunfa con golazo de Cristiano Ronaldo")
                                figcaption.help-media Agencia AFP
                            span.gallery-trigger.prev
                                i.icon.icon-angle-left
                            span.gallery-trigger.next
                                i.icon.icon-angle-right
                        
                        ul.sharedetail-fix.nolist
                            li FB
                            li TW
                            li GPLUS
                        section.content-news
                            include detail-content-news
                            include detail-tags
                            include detail-social-bottom
                            
                            
                            section.comment
                                h4 COMENTA:
                                
                            section.ads-full
                                section.ads-sidebar
                                section.ads-sidebar    
                                    
                            include detail-related-news
                        
                        .clear
                                        
