.grid
    .col-2-2
        section.box
            include headboard-tabs
            .box-padd
                .box-result
                    .body-resultados
                        .item-resultados
                            section#RST1
                                script
                                  | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215751'}).renderMaM({id:'#RST1',url:'www.google.com.pe'});
                            ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                        .item-resultados
                            section#RST2
                                script
                                  | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST2',url:'www.google.com.pe'});
                            ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                         //- .item-resultados.box
                         //-    section#RST3
                         //-        script
                         //-          | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST3',url:'www.google.com.pe'});
                         //-    ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                         .item-resultados
                            section#RST4
                                script
                                  | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST4',url:'www.google.com.pe'});
                            ul.list-est
                                li
                                    a(href="") Previa
                                    i.icon.icon-caret-right
                                li
                                    a(href="") Ir al directo
                                    i.icon.icon-caret-right
                                li.active
                                    a(href="") Cronica
                                    i.icon.icon-caret-right
                    .link-resultados
                        a(href="") Ver mas 
                    //- .item-result
                    //-     #RST1
                    //-         script
                    //-             | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST1'});
                    //- .item-result
                    //-     #RST2
                    //-         script
                    //-             | rppWR.read({events: 'copaamerica', type: 'mam', matchId: '215726'}).renderMaM({id:'#RST2'});

                    section.inner-detail.n-padd
                        section.content-news
                            //- include detail-tags
                            
                            include detail-social-bottom-2
                            //- section.comment#coment 
                            //-     h4 COMENTA:
                            //-     .fb#fb-root
                            //-     .fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe")
                            //-     span.wrapper-icon-circle-o-notch
                            //-         i.icon.icon-circle-o-notch.fa-spin
                            section.ads-full
                                section.ads-sidebar
                                section.ads-sidebar    
                                    
                            include detail-related-news
                            include connect
                        .clear

                        
                        
