.grid
    .col-2-2
        section.box
            .box-inner

                include breadcrumb-social-2

                article.box-detail.minuto-content
                    
                    header
                        time(datetime="2015-02-23 19:44") 23/02/15 19:44
                        span.text-minuto Minuto a Minuto
                        h1 Real Madrid, Triunfa con golazo de Cristiano Ronaldo
                        cite.hat Real Madrid: Iker Casillas y Ancelotti fueron homenajeados Fabio Cannavaro fue condenado a 10 meses de cárcle en Italia.                

                        .minuto
                            ul.wrapper-min-list
                                li
                                    a(href="") Previa
                                li.active
                                    a(href="") Directo
                                li.desac
                                    a(href="") Crónica
                            section#MaM-result
                                script
                                  | rppWR.read({events: 'champions', type: 'mam', matchId: '210876'}).renderInterval({id:'#MaM-result'});
      
                    

                    section.inner-detail.n-padd.block-minuto
                        section.content-news

                            include minuto-widgets

                            include detail-tags
                            
                            include detail-social-bottom-2


                            section.comment#coment 
                                h4 COMENTA:
                                .fb#fb-root
                                .fb-comments(data-numposts="5" data-colorscheme="light" data-href="www.la10.pe" data-id="287920207998918")
                                span.wrapper-icon-circle-o-notch
                                    i.icon.icon-circle-o-notch.fa-spin
                                    
                            
                            include connect                  
                        .clear
