section.breadcrumb-full
    nav.breadcrumb
        ul
            li
                figure.logo
                    a(href="#")
                        img(src="img/logo_breadcrumb.png",alt="Logo La10")
            li Copa Movistar
