article.box.ca
    .box-inner
        header
            .tag-time
                h3.tag
                    span
                        i.icon.icon-photo
                        a(href="#")  Copa América
                time(datetime="2015-02-23 19:44") 23/02/15 19:44

            h1
                a(href="#") Sporting Cristal: así celebró Carlos Lobatón su cumpleaños
            p
                | Carlos lobatón cumplió 35 años en compañía de sus amigos. (Prensa Sporting Cristal)
    figure.media
        a(href="#")
            img(src="img/ca-gallery.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
    section.thumbs-gallery
        figure.media.left-img
            a(href="#")
                img(src="img/ca-gallery.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
        figure.media.right-img
            a(href="#")
                img(src="img/ca-gallery.jpg", alt="Sporting Cristal: así celebró Carlos Lobatón su cumpleaños")
