section.ca-sidebar-tabla.box
	.headboard-ca-tabla
		h3 Top goleadores
	.wrapper-tabla-top
		table.table-top
			tr.headboard-table-top
				th.title-1
					h5 nombre
				th.title-2
					h5 equipo
				th.title-3
					h5 goles
			tr.content-table-top
				td.nombre-table-top
					span Paolo Guerrero
				td.equipo-table-top
					img(src="img/icon-tab.png")
				td.goles-table-top
					span 8
			tr.content-table-top
				td.nombre-table-top
					span Paolo Guerrero
				td.equipo-table-top
					img(src="img/icon-tab.png")
				td.goles-table-top
					span 8
			tr.content-table-top
				td.nombre-table-top
					span Paolo Guerrero
				td.equipo-table-top
					img(src="img/icon-tab.png")
				td.goles-table-top
					span 8
			tr.content-table-top
				td.nombre-table-top
					span Paolo Guerrero
				td.equipo-table-top
					img(src="img/icon-tab.png")
				td.goles-table-top
					span 8
			tr.content-table-top
				td.nombre-table-top
					span Paolo Guerrero
				td.equipo-table-top
					img(src="img/icon-tab.png")
				td.goles-table-top
					span 8
		a.link-tabla-top(href="") Ver mas
