section.ca-sidebar-tabla.box
	.headboard-ca-tabla
		h5 Copa America
		h3 Tabla de posiciones
	.wrap-tabs
		.header-tab
			ul
				li.item-header-tab.active(data-id="grupoa")
					span Grupo A
				li.item-header-tab(data-id="grupob")
					span Grupo B
				li.item-header-tab(data-id="grupoc")
					span Grupo C
		.content-tab
			#grupoa.active.item-tab
				table.table-tab
					tr.headboard-tab
						th.tl1 nº
						th.tl2 Grupo a
						th.tl3 pts.
					tr.cnt-tab 
						td.tbl-num 1
						td.tbl-nom 
							img(src="img/icon-tab.png")
							span chile
						td.tbl-puntos
							span 19

					tr.cnt-tab 
						td.tbl-num 2
						td.tbl-nom
							img(src="img/icon-tab.png") 
							span venezuela
						td.tbl-puntos
							span 19

					tr.cnt-tab 
						td.tbl-num 3
						td.tbl-nom 
							img(src="img/icon-tab.png") 
							span peru
						td.tbl-puntos
							span 16

					tr.cnt-tab 
						td.tbl-num 4
						td.tbl-nom 
							img(src="img/icon-tab.png") 
							span colombia
						td.tbl-puntos
							span 13


			#grupob.item-tab
				table.table-tab
					tr.headboard-tab
						th.tl1 nº
						th.tl2 Grupo b
						th.tl3 pts.
					tr.cnt-tab 
						td.tbl-num 1
						td.tbl-nom 
							img(src="img/icon-tab.png")
							span argentina
						td.tbl-puntos
							span 19

					tr.cnt-tab 
						td.tbl-num 2
						td.tbl-nom
							img(src="img/icon-tab.png") 
							span uruguay
						td.tbl-puntos
							span 19

					tr.cnt-tab 
						td.tbl-num 3
						td.tbl-nom 
							img(src="img/icon-tab.png") 
							span peru
						td.tbl-puntos
							span 16

					tr.cnt-tab 
						td.tbl-num 4
						td.tbl-nom 
							img(src="img/icon-tab.png") 
							span jamaica
						td.tbl-puntos
							span 13
			#grupoc.item-tab
				table.table-tab
					tr.headboard-tab
						th.tl1 nº
						th.tl2 Grupo c
						th.tl3 pts.
					tr.cnt-tab 
						td.tbl-num 1
						td.tbl-nom 
							img(src="img/icon-tab.png")
							span chile
						td.tbl-puntos
							span 19

					tr.cnt-tab 
						td.tbl-num 2
						td.tbl-nom
							img(src="img/icon-tab.png") 
							span mexico
						td.tbl-puntos
							span 19

					tr.cnt-tab 
						td.tbl-num 3
						td.tbl-nom 
							img(src="img/icon-tab.png") 
							span brasil
						td.tbl-puntos
							span 16

					tr.cnt-tab 
						td.tbl-num 4
						td.tbl-nom 
							img(src="img/icon-tab.png") 
							span ecuador
						td.tbl-puntos
							span 13
