section.connect
	h4 Conéctate a la 10
	ul
		li
			a(href="").wrapper-icon-connect
				i.icon.icon-facebook
		li
			a(href="").wrapper-icon-connect
				i.icon.icon-twitter
		li
			a(href="").wrapper-icon-connect
				i.icon.icon-google-plus
		li
			a(href="").wrapper-icon-connect
				i.icon.icon-youtube
		li
			a(href="").wrapper-icon-connect
				i.icon.icon-vine