section.tags
    h3 Tags:
    h2
        a(href="#") RONALDO
    h2
        a(href="#") REAL MADRID
    h2
        a(href="#") ESPAÑA
    h2
        a(href="#") CHAMPIONS
    h2
        a(href="#") PORTUGAL
