section.related-news-full.module.module-blue           
    h3 Noticias relacionadas                    
    ul.title-top
        li
            .box
                figure.media
                    a(href="#")
                        img(src="" data-original="img/16_9_relacionadas.jpg" data-type="img" ,class="lazy" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana")
                h3.tag-title BOXEO
                h2
                    span
                        a(href="#") Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores
        li
            .box
                figure.media
                    a(href="#")
                        img(src="" data-original="img/16_9_relacionadas.jpg" data-type="img" ,class="lazy" alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana")
                h3.tag-title FÚTBOL
                h2
                    span
                        a(href="#") Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores
