section.social-detail.social-2
    //- ul.item-social-detail
    //-     li.large-social-top.func-large
    //-         a(href="#").facebook
    //-             i.icon.icon-facebook
    //-             span comparte
    //-     li.small-social-top.func-small
    //-         a(href="#").twitter
    //-             i.icon.icon-twitter
    //-     li.small-social-top.func-small
    //-         a(href="#").gplus
    //-             i.icon.icon-google-plus
    //-     li.li-whatsapp.small-social-top.func-small
    //-         a(href="#").whatsapp
    //-             i.icon.icon-whatsapp
    //-     li.li-icon.func-icon 
    //-         a(href="").plus
    //-             i.icon.icon-plus
    //-             i.icon.icon-minus
    
    //- ul
    //-    li.large-social-top.func-large.large-social-bottom
    //-         a(href="#").facebook
    //-             i.icon.icon-facebook
    //-             span comparte
    //-     li.small-social-top.func-small
    //-         a(href="#").twitter
    //-             i.icon.icon-twitter
    //-     li.small-social-top.func-small
    //-         a(href="#").gplus
    //-             i.icon.icon-google-plus
    //-     li.li-whatsapp.small-social
    //-         a(href="#").whatsapp
    //-             i.icon.icon-whatsapp
    //-     li.li-icon.func-icon.li-icon-bottom 
    //-         a(href="").plus
    //-             i.icon.icon-plus
    //-             i.icon.icon-minus
    //- li.li-comenta-large
    //-     a(href="" data-idfb="287920207998918").comenta 
    //-         i.icon.icon-comments-o 
    //-         span comenta
    //-     div.text-comenta
    //-         p 120
    //-         span comentarios

    ul.item-social-detail
        li.large-social-top.func-large
            a(href="javascript: void(0);" onclie="rpp.shareSocial(this, 'facebook', url);" ).facebook
                i.icon.icon-facebook
                span comparte
        li.small-social-top.func-small
            a(href="javascript: void(0);" onclick="rpp.shareSocial(this, 'twitter', url);").twitter
                i.icon.icon-twitter
        li.small-social-top.func-small
            a(href="javascript: void(0);" onclick="rpp.shareSocial(this, 'googlemas', url);").gplus
                i.icon.icon-google-plus
        li.li-whatsapp.small-social-top.func-small
            a(href="#").whatsapp
                i.icon.icon-whatsapp
        li.li-icon.func-icon 
            a(href="").plus
                i.icon.icon-plus
                i.icon.icon-minus
    ul.item-social-detail
        li.li-comenta-large
            a(data-idfb="287920207998918" data-type="s-click").lazy.comenta.bot
                i.icon.icon-comments-o 
                span comenta
            div.text-comenta
                p 120
                span comentarios


