section.logo-footer
    div.wrapper
        figure.logo
            img(src="svg/logo-la10.svg",alt="Logo La10")
section.nav-footer
    div.wrapper
        nav
            ul
                li Visita también:
                li 
                    a(href="#" target="_blank") RPP Noticias
                li 
                    a(href="#" target="_blank") Radio Capital
                li 
                    a(href="#" target="_blank") Studio 92
                li 
                    a(href="#" target="_blank") Radio Oxigeno
                li 
                    a(href="#" target="_blank") Radio corazón
                li 
                    a(href="#" target="_blank") La Zona
section.logo-gruporpp
    div.wrapper
        figure.logo
            img(src="svg/logo-grupo-rpp.svg",alt="Logo Grupo RPP")
        ul.nav-footer-rpp
            //- li
            //-     a(href="" target="_blank") RSS
            //- li 
            //-     a(href="" target="_blank") Mapa de sitio
            li 
                a(href="" target="_blank") Contáctenos
            li 
                a(href="" target="_blank") Anuncia Aquí
            li 
                a(href="" target="_blank") Aviso legal
            li 
                a(href="" target="_blank") Solucion de quejas SNRTV
            li 
                a(href="" target="_blank") Código de Ética

