.menu-blocks.greedy-nav
	button
		.hamburger
	ul.visible-links
		li
			a(href="").active Noticias
		li
			a(href="") Fixture
		li 
			a(href="") Posiciones
		li
			a(href="") Goleadores
		li
			a(href="") Equipos
	ul.hidden-links.hidden