header
    section.header-shields-search
        div.wrapper
            h6 TODO SOBRE:
            nav.nav-shields
                ul
                    - for (var x = 0; x < 5; x++)
                        li
                            figure
                                a(href="#")
                                    img(src="img/escudo-thumb.png", alt="Escudo de Equipo N")
            //- a.btn-copa-america(href="")
                img(src="img/btn-ca.png")
            section.search-header
                form(action="#")
                    input(type="text", value="buscar")
                    button(type="button")
                        i.icon.icon-search

    section.header-logo-nav
        div.wrapper
            figure.logo
                a(href="#")
                    img(src="svg/logo-la10.svg", alt="Logo La10", width="175", height="77")
            nav.nav-header
                ul
                    li
                        a(href="#") Resultados
                    li
                        a(href="#") Fútbol Peruano
                    li.active
                        a(href="#") Fútbol Internacional
                    li
                        a(href="#") Selección
                    li
                        a(href="#") Full Contacto
                    li
                        a(href="#") + Deportes
                ul.nav-fix
                    li#open-nav-movil
                        i.icon.icon-navicon

    section.header-smartphone
        nav.nav-header
            ul
                li.active
                    a(href="#") NOTICIAS
                li
                    a(href="#") RESULTADOS

    script(type="text/javascript")
        | (function() {var useSSL = 'https:' == document.location.protocol;var src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');})();


    script(type="text/javascript")
        | googletag.cmd.push(function() {googletag.defineSlot('/1028310/La10.pe-Lateral1', [160, 600], 'div-gpt-ad-1435012693333-0').addService(googletag.pubads());googletag.defineSlot('/1028310/La10.pe-Lateral2', [160, 600], 'div-gpt-ad-1435012770989-0').addService(googletag.pubads());googletag.pubads().enableSingleRequest();googletag.pubads().collapseEmptyDivs();googletag.pubads().enableSyncRendering();googletag.enableServices();});

    script(data-cfasync="false", type="text/javascript")
        | (function(s,o,l,v,e,d){if(s[o]==null&&s[l+e]){s[o]="loading";s[l+e](d,l=function(){s[o]="complete";s[v+e](d,l,!1)},!1)}})(document,"readyState","add","remove","EventListener","DOMContentLoaded");(function(){var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="//cdn.engine.4dsply.com/Scripts/infinity.js.aspx?guid=2981434e-a67c-4aaf-9d25-8de01cc14975";s.id="infinity";s.setAttribute("data-guid","2981434e-a67c-4aaf-9d25-8de01cc14975");s.setAttribute("data-version","async");var e=document.getElementsByTagName('script')[0];e.parentNode.insertBefore(s,e)})();










