section.header-logo-nav.fix-logo-nav.sinfix
    div.wrapper
        figure.logo
            a(href="#")
                img(src="svg/logo-la10.svg", alt="Logo La10")
        nav.nav-header
            ul
                li
                    a(href="#") Resultados
                li
                    a(href="#") Fútbol Peruano
                li.active
                    a(href="#") Fútbol Internacional
                li
                    a(href="#") Selección
                li
                    a(href="#") Full Contacto
                li
                    a(href="#") + Deportes
            ul.nav-fix
                li#open-nav-movil-fix2
                    i.icon.icon-navicon