.box-padd.none480
    include breadcrumb-social
.box-sinpadd
    article.box-detail.fixt
        .header-resultados.box-padd
            a(href="").link480
            span.etq-result Resultados
            h3 Copa america chile 2015
            .wrap-select
                i.icon.icon-unsorted
                select
                    option Más torneos
                    option option 1
                    option option 2
        .tab-resultados
            ul
                li.act
                    a(href="") Resultados
                li
                    a(href="") Fixture
                li 
                    a(href="") Posiciones
                li 
                    a(href="") Goleadores