article.flow-prominent
    h1 
        a(href="#") Se complica la renovación de Paolo Guerrero con el Corinthians
    .prominent-media
        figure.media
            a(href="#")
                img(src="img/prominent-noticias.jpg", alt="", width="380")
        .prominent-txt 
            p El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones
            .time-related
                span
                    i.icon.icon-photo
                | - Publicado el 
                time(datetime="2015-02-23 19:44")  23/02/15 
- for (var x = 0; x < 6; x++)
    article.flow-normal
        .prominent-media
            figure.media
                a(href="#")
                    img(src="img/prominent-noticias.jpg", alt="", width="225")
            .prominent-txt 
                h2 
                    a(href="#") Se complica la renovación de Paolo Guerrero con el Corinthians
                p El club Corinthians de Brasil estaría a punto de resignarse a seguir contacto con el delantero peruano Paolo Guerrero, cuyas pretensiones
                .time-related
                    span
                        i.icon.icon-photo 
                    | - Publicado el 
                    time(datetime="2015-02-23 19:44")  23/02/15
