
.wrapper-laterales
	//- .wrapper-left
	a.banner_late_left(target="_blank", href="")
		.ads-late-left
		#div-gpt-ad-1435012693333-0(style='height:600px; display:inline-block; width:160px;background-color:gray')
			//script(type='text/javascript')
				| googletag.cmd.push(function() { googletag.display('div-gpt-ad-1435012693333-0'); });
	//- .wrapper-right
	a.banner_late_right(target="_blank", href="")
		.ads-late-right
		#div-gpt-ad-1435012770989-0(style='height:600px; display:inline-block; width:160px;background-color:gray')
			//script(type="text/javascript")
				| googletag.cmd.push(function() { googletag.display('div-gpt-ad-1435012770989-0'); });
