//- div.wrap_bannerclick
//-     style
//-         | body {background-repeat: no-repeat;  background-position: center top;  background-attachment: fixed; }
//-     div.wrap_bannerclick
//-         a.banner_left(target="_blank", href="")
//-             .ads_vertical_right
//-             #div-gpt-ad-1435012693333-0(style='height:600px; display:inline-block; width:160px;')
//-                 script(type='text/javascript')
//-                     | googletag.cmd.push(function() { googletag.display('div-gpt-ad-1435012693333-0'); });
//-         a.banner_right(target="_blank", href="")
//-             .ads_vertical_left
//-             #div-gpt-ad-1435012770989-0(style='height:600px; display:inline-block; width:160px;')
//-                 script(type="text/javascript")
//-                     | googletag.cmd.push(function() { googletag.display('div-gpt-ad-1435012770989-0'); });

    
        
