section.wrapper-minuto-widgets
	.block1-minuto-widget
		.socials-minuto-widgets
			ul
				li fb
				li tw
				li g+

		.formacion-widget-minuto

		.ads-minuto

	.block2-minuto-widget
		.widget-twitter-minuto


section.wrapper-asides
	.wrapper-relato-minuto
	.ads-minuto
