#fix_sidebar
    section.goals.module.module-yellow           
        h3 redes sociales
        .box
            div.wrapper-sociales-fix
                div(style="width: 100%; height: 300px;overflow:hidden;" data-crowdynews-widget="la10RPP/la10pe-widget-horizontal")
                .pro.lazy(data-width="260" data-type="script" data-original="//widget.crowdynews.com/js/widget.js")
    section.goals.module.module-blue           
        h3 PEPAZAS
        .box
            ul.title-top
                li
                    article
                        figure.media
                            a(href="#")
                                img(src="img/16_9_mas_pepazas.jpg", alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana")
                        h2
                            span
                                a(href="#") Independiente Santa Fe le ganó 1-0 a Atlas en México por la Copa Libertadores
                li
                    article
                        figure.media
                            a(href="#")
                                img(src="img/16_9_mas_pepazas.jpg", alt="¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa")
                        h2
                            span
                                a(href="#") ¡Atención Cristal! Racing humilló 5-0 a Táchira por Copa
                