section.share-social.module.module-blue           
    h3 CONÉCTATE
    .box
        ul
            li
                a(href="https://www.facebook.com/La10.pe").facebook
                    i.icon.icon-facebook
            li
                a(href="https://twitter.com/La10Pe").twitter
                    i.icon.icon-twitter
            li
                a(href="https://plus.google.com/+La10Pe/posts").gplus
                    i.icon.icon-google-plus
            li
                a(href="https://www.youtube.com/channel/UCJ2FL79Y_O6-pujeLkO6Ldg").youtube
                    i.icon.icon-youtube
