section.girl10-news.module.module-pink           
    h3 LA CHICA 10
    .box
        ul.title-top
            li
                article
                    figure.media
                        a(href="#")
                            img(src="img/la_chica_10.jpg", alt="La divina Miss Colombia Paulina Vega es nuestraChica 10 de la semana")
                    h2
                        span
                            a(href="#") La divina Miss Colombia Paulina Vega es nuestra Chica 10 de la semana
