section.gallery-flow.box
    #gallery-home.owl-carousel
        .item
            article.gallery-inner
                figure.media
                    a(href="#")
                        img(src="img/16-9-galeria.jpg", alt="Robben Imparable 1!")
                
                .title-tag
                    h3 Galeria del día 1
                    h2
                        a(href="#") Robben Imparable 1!
        .item
            article.gallery-inner
                figure.media
                    a(href="#")
                        img(src="img/16-9-galeria.jpg", alt="Robben Imparable 2!")
                
                .title-tag
                    h3 Galeria del día 2
                    h2
                        a(href="#") Robben Imparable 2!
        .item
            article.gallery-inner
                figure.media
                    a(href="#")
                        img(src="img/16-9-galeria.jpg", alt="Robben Imparable 3!")
                
                .title-tag
                    h3 Galeria del día 3
                    h2
                        a(href="#") Robben Imparable 3!
