.menu-mas.box
	button
		span.hamburger +
	ul.visible-links
		li.active
			a(href="") Descentralizado
		li 
			a(href="") Bundesliga
		li
			a(href="") Premier League
		li 
			a(href="") Liga BBVA
		li
			a(href="") Champions
		li 
			a(href="") Libertadores
		li 
			a(href="") Copa Sudamericana
	ul.hidden-links.hidden