section#nav-movil
    .header-nav-movil
        figure.logo
            a(href="./")
                img(src="svg/logo-la10.svg", alt="Logo La10")
        i.icon.icon-arrow-right#close-nav-movil
                
    .nav-inner
        .search-movil
            .search-movil-inner
                form(action="#")
                    input(type="text",value="buscar")
                    button(type="button")
                        i(class="icon icon-search", id="close-nav-movil")
        nav
            ul
                li
                    a(href="") Copa America
                li
                    a(href="#") Resultados
                li
                    a(href="#") Fútbol Peruano
                li.menu-drop
                    a(href="#",data-target="ul").collapse Fútbol Internacional
                    i.icon.icon-caret-down
                    ul
                        li
                            a(href="#") Copa Libertadores
                        li
                            a(href="#") Copa Europa
                        li
                            a(href="#") Champions League
                li
                    a(href="#") Selección
                li
                    a(href="#") Full Contacto
                li
                    a(href="#") Deportes
    .layer
        
