article.wrapper-relatedframe.right10
	figure.wrapper-relatedframe-img
		a(href="")
			img(src="img/img-frame.jpg")
			span.gallery
					i.icon.icon-picture-o
					| Ver galería
	.wrapper-relatedframe-description
		span Noticia Relacionada
		a(href="") Los memes de la empañada Copa de Oro de México