article.wrapper-relatedframe.bloque
	figure.wrapper-relatedframe-img
		a(href="")
			img(src="img/img-frame.jpg")
	.wrapper-relatedframe-description
		span Noticia Relacionada
		a(href="") Los memes de la empañada Copa de Oro de México