article.wrapper-relatedframe.left10
	figure.wrapper-relatedframe-img
		a(href="")
			img(src="img/img-frame.jpg")
			span.video
				i.icon.icon-play-circle-o
			
	.wrapper-relatedframe-description
		span Noticia Relacionada
		a(href="") Los memes de la empañada Copa de Oro de México