//Search
section.search-flow
    .search-flow-inner
        form(action="#")
            input(type="text", value="buscar")
            button(type="button")
                i.icon.icon-search

//CALENDAR
section.calendar
    .box

//FILTER
section.filter-date
    .box
        h3  Filtro cronológico
        nav
            ul
                li.active
                    a(href="#") Últimas 12 horas
                li
                    a(href="#") Últimas 24 horas
                li
                    a(href="#") Última semana
                li
                    a(href="#") Último mes
        
