//ADS
include ads-sidebar
//COPA-AMERICA
include ca-tabla
include ca-tabla-2
//SOCIAL
include module-social
//ADS
include ads-sidebar
//HOT
include module-hot

//BLOOPERS
include module-blooper

//ADS
include ads-sidebar

//GIRL 10
include module-girl10

section.ads.ads-sidebar
	include perured
	
.ads.ads-sidebar.unic
	iframe(scrolling="no" id="crowdynews-iframe" width="300" frameborder="0" height="250" src="")

//GOALS
include module-goals

