//FILTER
section.filter-date
    .box
        h3  Filtro por secciones
        nav
            ul
                li.active
                    a(href="#") Fútbol Internacional
                li
                    a(href="#") Fútbol Peruano
                li
                    a(href="#") La Selección
                li
                    a(href="#") Full Contacto
                li
                    a(href="#") Más Deportes
        
