
section.wrap-gallery-list-all
	.gallery-list-all
		section.gallery-flow.box
			#gallery-gallerys.owl-carousel
				- for(var a = 1; a <= 3; a++)
					.item
						article.gallery-inner
							figure.media
								a(href="")
									img(src="img/16-9-galeria.jpg")
							.title-tag
								h3 Gallery del dia 1
								h2
									a(href="#") Robben Imparable #{a}!
        


