section.widget.widget-resutl
    //iframe(src="http://estadisticas.conmebol.com/lastResults_new.html")
    #outFixture
        div.topFixture
            nav
                ul
                    li(data-value="1" data-id="#cntFixture1" data-events="peru" onclick="rppWR.tabsResult(this, 'tab')") Torneo del Inca
                    li(data-value="2" data-id="#cntFixture2" data-events="espana" onclick="rppWR.tabsResult(this, 'tab')").mov.active Champions League
                    li(data-value="3" data-id="#cntFixture3" data-events="premierleague" onclick="rppWR.tabsResult(this, 'tab')") Europa League
                    li(data-value="4" data-id="#cntFixture4" data-events="alemania" onclick="rppWR.tabsResult(this, 'tab')") Bundesliga
                    li(data-value="5" data-id="#cntFixture5" data-events="champions" onclick="rppWR.tabsResult(this, 'tab')") Copa America
                select(onchange="rpp.tabsResult(this)")
                    option Torneo del Inca
                    option(selected="selected") Champions League
                    option Europa League
                    option Copa Movistar
                    option Copa America
        div(id="cntFixture1" style="display:none")
        div(id="cntFixture2" style="display:none")
        div(id="cntFixture3" style="display:none")
        div(id="cntFixture4" style="display:none")
        div(id="cntFixture5" style="display:none")

        script
            //- | rppWR.read({events: 'copainca',type: 'MaM', matchId: '224365'}).renderMaM({id: '#cntFixture'});
            | rppWR.read({events: 'peru', type: 'MaM', matchId: ''}).render({id:'#cntFixture'});                             


