<style>
  .audioUploader audio{
    width: 275px !important;
  }
  .audioUploader .dropzoneaudio{
    width: 305px !important;
  }

  .audioUploader .media-options{
    left: 84% !important;
    top: 0px !important;
    width: 50px !important;
  }

</style>
<md-dialog id="dialog-portadas">
  <md-dialog-content>
    <div layout="row" layout-sm="column" layout-padding style="min-height:580px; width: 1200px;">
        <div flex="70" flex-sm="100">
            <div layout="row" layout-align="space-around center">
              <div class="input-busqueda">
                  Nombre:
                  <input ng-model="objF.filtroColeccion" type="search" placeholder="Ingrese una palabra" />
                  <ng-md-icon icon="search"></ng-md-icon>
              </div>
              <md-button ng-click="eliminarCancion()">Eliminar</md-button>
            </div>

            <div class="draglist" style="overflow: auto; overflow-x: hidden; max-height: 460px; min-height: 460px; margin-top: 1em;">
              <form name="formListaRanking">
                <div style="display: flex; background: none;"
                     ng-drag="true"
                     ng-drag-data="item"
                     ng-drop="true"
                     ng-drop-success="onDropSongComplete($index, $data, $event)"
                     class="item-tag" layout="row" layout-wrap
                     ng-repeat="item in filteredRanking = (lista_ranking | filter:objF.filtroColeccion)">
                  <div flex="5" style="display: flex; justify-content: center; align-items: center;">
                    <md-input-container flex>
                      <md-checkbox ng-checked="exists(item, canciones_selected)" ng-click="toggle(item, canciones_selected)" class="md-primary" aria-label="Escoger"></md-checkbox>
                    </md-input-container>
                  </div>
                  <div flex="10" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <span>{{ $index+1 }}</span>
                  </div>
                  <div flex="50">
                    <md-input-container flex>
                        <label>Artista</label>
                        <input type="text" name="nombre" ng-model="item.artista" readonly/>
                    </md-input-container>
                  </div>
                  <div flex="30" style="position: relative;">
                    <md-input-container flex>
                        <label>Canción</label>
                        <input type="text" name="nombre" ng-model="item.cancion" readonly/>
                    </md-input-container>
                  </div>
                  <div flex="5" style="display: flex; justify-content: center; align-items: center;">
                    <md-button ng-click="editarCancion(item, $index)" class="md-icon-button configuracion">
                      <ng-md-icon icon="edit" size="20" style="fill:black"></ng-md-icon>
                      <md-tooltip md-direction="right">Editar</md-tooltip>
                    </md-button>
                  </div>
                </div>
                <div ng-show="!filteredRanking.length">No se encontraron coincidencias ...</div>
              </form>
            </div>
        </div>
        <div flex="30" flex-sm="100">
            <div class="inputBlock">
              <form name="formNuevaCancion">
                <h3>{{ cancion_idx === null ?'Ingresar nueva':'Editar' }} canción</h3>
                <md-input-container>
                  <label>Artista *</label>
                  <input ng-model="nuevaCancion.artista" type="text" required>
                </md-input-container>

                <md-input-container>
                  <label>Albúm</label>
                  <input ng-model="nuevaCancion.album" type="text">
                </md-input-container>

                <md-input-container>
                  <label>Canción *</label>
                  <input ng-model="nuevaCancion.cancion" type="text" required>
                </md-input-container>

                <!-- Add Photo -->
                <md-content class="md-padding">
                  <div class="alert-info">Dimensión de la foto 250px x 164px</div>
                  <div class="cntUploadImg" id="add-photo-ranking" style="min-height:150px; position:relative; border: 1px solid #eeeeee; background-color: #eeeeee;">
                      <html5uploadimage style="display:block" width-image="{{widthImage}}" height-image="{{heightImage}}" ajax="false" originalsize="false" editstart="false" image="{{image}}" reset="reset"></html5uploadimage>
                      <input type="hidden" data-json="" name="thumb_values_edit" />
                  </div>
                </md-content>

                <!-- Add Audio -->
                <div class="audioUploader" layout="row" ng-if="sitio=='lazona'||sitio=='oxigeno'||sitio=='studio92'">
                  <div class="cntUploadAudio" style="width: 325px; margin-left: 15px;">
                      <uploadaudiopodcast width-video="200px" height-video="80px" json-refresh="refreshAudio"></uploadaudiopodcast>
                  </div>
                </div>

                <div class="md-actions">
                  <md-button ng-show="cancion_idx !== null" ng-click="cancelarCancion()">Cancelar</md-button>
                  <md-button ng-click="agregarCancion()" ng-disabled="formNuevaCancion.$invalid||!nuevaCancion.cancion">{{ cancion_idx === null ? 'Agregar' : 'Guardar' }}</md-button>
                </div>
              </form>
            </div>
        </div>
    </div>
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="guardarRanking($event);" ng-disabled="formListaRanking.$invalid" class="md-primary">
        Guardar
    </md-button>
    <md-button ng-click="cerrar();" class="md-primary">
      Cerrar
    </md-button>
  </div>
</md-dialog>
