<style>
  .dropzone{
    height: 280px !important;
    width: 570px !important;
    cursor:pointer;
  }
  .dropzone:after{
    content: 'Click para agregar ó arrastra una imagen!';
  }
</style>
<md-dialog flex="95" aria-label="Add Audio">
  <md-dialog-content>
      <div layout="row">
        <div style="position:relative; width:570px;height:300px;" ng-show="srcThumbData">
          <md-button class="md-fab md-fab-remove md-mini md-warn" ng-click="removeCaptureImage()" aria-label="Remover imagen" style="position:absolute;left:0; top:0">
              <md-tooltip>Remover imagen</md-tooltip>
              <ng-md-icon icon="delete" size="20"></ng-md-icon>
          </md-button>
          <img ng-show="srcThumbData" ng-src="{{srcThumbData}}" alt="" style="width:100%;"/>  
        </div>
        <div style="position:relative; width:570px;height:300px;" ng-show="!srcThumbData">
              <div style="position:absolute;left:0; top:0">
                  <div id="add-img--cover">
                      <input accept="image/x-png, image/png,image/gif, image/jpeg, image/jpg" class="loadThumbData" type="file" style="position:absolute;left:10px; height:1px; width:1px; overflow:hidden; z-index:-1" />
                      <div class="dropzone" ng-click="agregarImagen()">
                          
                      </div>
                      <md-button class="md-fab md-fab-remove md-mini md-warn" ng-click="removePreview()" aria-label="Remover imagen" style="position:absolute;left:0; top:0;" ng-show="mBtnRemovePreview">
                          <md-tooltip>Remover imagen</md-tooltip>
                          <ng-md-icon icon="delete" size="20"></ng-md-icon>
                      </md-button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Add Audio -->
      <div layout="row">
        <div style="width:{{widthImage}}px;">
            <!-- <div id="imgUploadThumb" class="modal-tagzoneaudio">
                <div class="cntUploadImg" style="width:{{widthImage}}px; height:{{heightImage}}px; margin:0 auto">
                    <html5uploadimage style="display:block" width-image="{{widthImage}}" height-image="{{heightImage}}" ajax="false" originalsize="false" editstart="false" image="{{image}}" reset="reset"></html5uploadimage>
                    <input type="hidden" data-json="" name="thumb_values_edit" />
                </div>
            </div> -->
            <div class="cntUploadAudio">
                <uploadaudiopodcast width-video="{{widthAudio}}" height-video="80px" json-refresh="refreshAudio"></uploadaudiopodcast>
            </div>
        </div>
      </div>
      <div layout="row">
        <div class="inputBlock" style="width:100%;overflow:hidden">
            <md-input-container flex>
                <label>
                    Título
                    <span ng-if="titulo.length>0">({{titulo.length}} Caracteres)</span>
                </label>
                <input ng-trim="false" name="titulo" ng-model="titulo"></input>
            </md-input-container>
        </div>
      </div>
      <!-- End Add Audio -->
  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button type="button" ng-click="closeOpenAddAudio()" class="md-primary">
      Cerrar
    </md-button>
    <md-button type="button" ng-click="addOpenAddAudio()" class="md-primary">
        {{(modalType === 'add')?'Agregar':'Actualizar'}}
    </md-button>
  </div>
</md-dialog>
